<div class="span6">
<%= link_to(job.class.human_work_status_event_name(:dispatch).titleize, '#dispatch_job',
            class: "btn btn_collapse btn-primary ",
            data: { toggle: 'collapse' },
            title: I18n.t('service_call.forms.work_status.dispatch.tooltip'),
            rel:   'tooltip',
            role: "button",
            id: "dispatch-button") %>


<div class="collapse" id="dispatch_job">

  <div class="row-fluid">
    <a href="#" data-toggle="collapse" data-target="#dispatch_job" class="close" id="dispatch_close">×</a>
  </div>

    <%= simple_form_for job.becomes(ServiceCall), html: { class: 'blue-button' } do |f| %>
        <%= hidden_field_tag 'service_call[work_status_event]', 'dispatch' %>
        <%= f.input :technician_id, collection: f.object.organization.technicians, label_method: :name, value_method: :id %>
        <%= f.submit t('general.general.submit'),
                     id:    'dispatch_service_call_btn',
                     class: 'btn btn-primary',
                     title: I18n.t('service_call.forms.work_status.dispatch.tooltip'),
                     rel:   'tooltip'
        %>
    <% end %>


</div>

  </div>