<fieldset>


  <%= f.input :name, autofocus: true %>
  <%= f.input :company %>
  <%= f.input :phone, class: 'input-xlarge' %>
  <%= f.input :mobile %>
  <%= f.input :email, as: :email %>
  <%= f.input :website, as: :url %>

  <!--<div class="field_input">-->
  <!--<ul>-->
  <%= f.input :address1 %>
  <%= f.input :address2 %>

  <div class="control-group string mandatory">
    <label class="string optional control-label" for="provider_country">Country</label>

    <div class="controls">
      <%= f.country_select :country, { priority: %w[US] }, id: 'country' %>
    </div>
  </div>

  <div class="control-group string mandatory">
    <label class="string optional control-label" for="provider_state">State</label>

    <div class="controls">
      <%= render 'subregion_select', f: f %>

    </div>
  </div>
  <%= f.input :city %>
  <%= f.input :zip %>
  <%= f.input :status_event, label: Provider.human_attribute_name(:status), collection: f.object.status_transitions, label_method: :human_to_name, value_method: :event, :include_blank => f.object.human_status_name %>



</fieldset>