<tr>
  <td>
    <% if provider.subcontrax_member? %>
        <span class="member_label">
          <badge><i class="icon-user icon-white"></i></badge>
        </span>
    <% end %>

  </td>
  <td><%= link_to provider.name, provider_path(provider) %></td>
  <td><%= provider.company %></td>
  <td><%= provider.phone %></td>
  <td><%= provider.email %></td>
  <td>
    <% if provider.subcontrax_member? %>
        <% unless  provider.id.in? current_user.organization.provider_ids %>
            <div class="miya_buttons_grid">
              <ul>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <!--The provider invite form -->
                <li>
                  <%= render 'provider_agreement_form', provider: provider %>
                </li>
              </ul>

            </div>
        <% end %>

    <% else %>
        <div class="miya_buttons_grid">
          <ul>
            <li>
              <%= link_to 'Archive', provider_path(provider), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
            </li>
            <li>
              <%= link_to 'Edit', edit_provider_path(provider), :class => 'btn btn-mini' %>
            </li>
            <!--send  an invite to join SubConTraX-->
            <li>
              <%= link_to 'Send Invite', provider_path(provider), :class => 'btn btn-mini btn-info' %>
            </li>

          </ul>
        </div>
    <% end %>

  </td>
</tr>



