<tr>
  <td><%= link_to provider.name, provider_path(provider) %></td>
  <td><%= provider.company %></td>
  <td><%= provider.phone %></td>
  <td>
    <%= link_to 'Edit', edit_provider_path(provider), :class => 'btn btn-mini' %>
    <%= link_to 'Archive', provider_path(provider), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
  </td>
</tr>

