<div class="well">

  <div class="smart_label">
    <ul>
      <li><h1>My Providers</h1></li>
      <li>
        <%= form_tag providers_path, id: "agreement_search_form", :method => :get, :remote => true do %>
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag "Search", :name => nil, class: 'btn btn-medium', :id => 'provider-search-button' %>
        <% end %>
      </li>
      <li>
        <p>Search for local Providers and SubConTraX members</p>
      </li>
      <li>
        <%= link_to 'New Provider', new_provider_path, :class => 'btn btn-primary', id: 'new-provider-button' %>
      </li>
    </ul>
  </div>

  <br>

  <% if @providers.empty? %>
      <span class="alert alert-info" id="empty_search_result_notice">No records, click "New Provider" to add new contact</span>
  <% else %>


      <table class="table table-striped" id="providers_search_results">
        <thead>
        <tr>
          <th>Name</th>
          <th>Company</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody id="new_providers">
        <% @providers.each do |provider| %>
            <%= render provider %>
        <% end %>

        </tbody>
      </table>

      <%= will_paginate @providers, :class => 'pagination pagination-centered' %>
  <% end %>

</div>