<% provide(:title, Provider.name.humanize.pluralize) %>


  <fieldset class="ui-grid-a ui-btn-inner-small">

     <div class="ui-block-a">
      <%= link_to 'Back', affiliates_path, "data-role" => "button", :class => "ui-btn-up-c", "data-icon" => "arrow-l" %>
    </div>

    <div class="ui-block-b">
        <%= link_to 'New', new_provider_path, "data-role" => "button", :class => "ui-btn-up-b",  id: 'new-provider-button', "data-icon" => "email"%>
    </div>

  </fieldset>


<br>


    <div class="search_network">
    <%= form_tag providers_path, id: "agreement_search_form", :method => :get, :remote => true, :class => "ui-listview-filter ui-bar-c", "role" => "search" do %>
        <div class="ui-input-search ui-shadow-inset ui-btn-corner-all ui-btn-shadow ui-icon-searchfield ui-body-c">
      <%= text_field_tag :search, params[:search], "data-divider-theme" => "d", :placeholder => "Search Contacts", "class" => "ui-input-text ui-body-c" %>
    </div>
        <!--<div class="ui-grid-a">-->
          <!--<div class="ui-block-a"><#%= text_field_tag :search, params[:search], "data-divider-theme" => "d", :placeholder => "Search Contacts" %></div>-->
          <!--<div class="ui-block-b"> <#%= submit_tag "Search", :name => nil, class: 'btn btn-medium', :id => 'provider-search-button' %></div>-->
        <!--</div>-->
    <% end %>
    </div>

    <ul data-role="listview">
      <% @providers.each do |provider| %>
          <li class="inline_mobile"><%= link_to provider.name, provider, "data-transition" => "slide" %>
            <% if provider.subcontrax_member==true %>
                <span class="member_label_mobile">
                  <badge>Member</badge>
                 </span>
            <% end %>
          </li>
      <% end %>
    </ul>


