<%= form_tag providers_path, id: "agreement_search_form", :method => :get, :remote => true do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
<% end %>

<ul class="providers" >

</ul>

<table class="table">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Company</th>
    <th></th>
    <th></th>
  </tr>
  <div  id="new_providers">
  <% for provider in @new_providers %>
    <tr>
      <td><%= provider.id %></td>
      <td><%= link_to provider.name, provider_path(provider) %></td>
      <td><%= provider.company %></td>
      <td><%= link_to "Show", providers_path(provider) %></td>
      <td><%= link_to "Edit", edit_provider_path(provider) %></td>
    </tr>
  <% end %>
  </div>
</table>

<p><%= link_to "New Provider", new_provider_path, class: 'btn' %></p>
