<% provide(:title, "Invites") %>

<div class="well well_height">
  <div class="row-fluid">

    <div class="smart_label">
      <ul>
        <li><h1><%= t('general.general.invite_status') %> <%= @invite.human_status_name %></h1></li>
        <li></li>
      </ul>
    </div>
  </div>

  <br>

  <div class="row-fluid">
    <p id="notice"><%= notice %></p>

    <div class="span6">
         <table class="table table-striped table-condensed">
           <tr>
             <td>
                <strong><%= Invite.human_attribute_name :message %></strong>
             </td>
             <td>
               <%= @invite.message %>
             </td>
            </tr>
           <tr>
             <td>
               <strong><%= Invite.human_attribute_name :organization %></strong>
             </td>
             <td>
               <%= @invite.organization.name %>
             </td>
           </tr>
           <tr>
             <td>
               <strong><%= Invite.human_attribute_name :affiliate %></strong>
             </td>
             <td>
               <%= @invite.affiliate.name %>
             </td>
           </tr>
           <tr>
             <td>
               <strong><%= Invite.human_attribute_name :status %></strong>
             </td>
             <td>
               <%= @invite.human_status_name.titleize %>
             </td>
           </tr>
          </table>

      <%= invite_event_buttons(@invite) if permitted_to? :update, @invite %>


      <br/>

        <div class="form-actions">
          <%= link_to I18n.t('general.general.back'), user_root_path, :class => 'btn btn-medium', id: 'back_notification_btn' %>

        </div>
      <!--End of span-->
    </div>

  </div>


</div>








