<div class="well welcome_jobs">


  <div class="smart_label">
    <ul>
      <li><h1><%= I18n.t('general.general.open_jobs') %></h1></li>
      <li></li>
      <li><%= link_to I18n.t('general.general.see_all'), service_calls_path, :class => 'btn btn-mini btn-primary' %></li>

    </ul>
  </div>

  <% if !@service_calls.empty? %>

      <table class="table table-striped">
        <thead>
        <tr>
          <th><%= ServiceCall.human_attribute_name(:ref_id) %></th>
          <th><%= ServiceCall.human_attribute_name(:name) %></th>
          <th><%= ServiceCall.human_attribute_name(:status) %></th>
          <th><%= AccountingEntry.human_attribute_name(:amount) %></th>

        </tr>
        </thead>
        <tbody>
        <% @service_calls.each do |sc| %>
            <tr>
              <td><%= link_to sc.ref_id, service_call_path(sc) %></td>
              <td><%= link_to sc.name, service_call_path(sc) %></td>
              <td><%= link_to sc.human_status_name, service_call_path(sc) %></td>
              <td><%= link_to humanized_money_with_symbol(sc.total_price + sc.tax_amount), service_call_path(sc) %></td>
            </tr>
        <% end %>
        </tbody>
      </table>

  <% else %>
      <br>
      <span class="alert alert-info" id="empty_search_result_notice">No Service Calls</span>
      <br>
      <br>
  <% end %>


</div>