<div class="row-fluid">

  <div class="span6" id="home-notifications">
    <div class="well well-home">

      <div class="smart_label">
        <ul>
          <li><h1><%= Notification.model_name.human %></h1></li>
          <li></li>
          <li><%= link_to I18n.t('general.general.see_all'), notifications_path, :class => 'btn btn-primary' %></li>

        </ul>
      </div>

      <br>
      <% if !@notifications.present? %>

          <table class="table table-striped">
            <thead>
            <tr>
              <th></th>
              <th><%= Notification.human_attribute_name(:subject) %></th>
              <th><%= Notification.human_attribute_name(:content) %></th>
              <!--<th><#%= Notification.human_attribute_name(:status) %></th>-->
              <th> Actions</th>
            </tr>
            </thead>
            <tbody id="notifications">

            <% unless @notifications.nil? %>
                <% @notifications.first(5).each do |notification| %>
                    <%= render 'notifications/notification', notification: notification %>
                <% end %>
            <% end %>
            </tbody>
          </table>

      <% else %>
          <span class="alert alert-info" id="empty_search_result_notice">No Notifications</span>
          <br>
          <br>
      <% end %>

      <br>
    </div>
  </div>

  <div class="span6" id="home-incoming">
    <div class="well well-home">
      <div class="smart_label">
        <ul>
          <li><h1>Incoming Messages</h1></li>
          <li></li>
        </ul>
      </div>

      <br>
    </div>

  </div>

</div>

<div class="row-fluid">

  <div class="span6" id="home-service-calls">
    <div class="well well-home">


      <div class="smart_label">
        <ul>
          <li><h1>Open Service Calls</h1></li>
          <li></li>
          <li><%= link_to I18n.t('general.general.see_all'), service_calls_path, :class => 'btn btn-primary' %></li>

        </ul>
      </div>

      <br>

      <% if !@service_calls.present? %>

          <table class="table table-striped">
            <thead>
            <tr>
              <th>Job Number</th>
              <th>Description</th>
              <th>Status</th>
              <th>Customer</th>

            </tr>
            </thead>
            <tbody>
            <% unless @service_calls.nil? %>
                <% @service_calls.each do |sc| %>
                    <tr>
                      <td><%= link_to sc.ref_id, service_call_path(sc), title: sc.notifications.last.try(:content), rel: 'tooltip' %></td>
                      <td><%= link_to sc.type, service_call_path(sc) %></td>
                      <td><%= link_to sc.human_subcontractor_status_name, service_call_path(sc) %></td>

                      <!--<td><#%= sc.provider.try(:name) %></td>-->
                      <!--<td><#%= sc.subcontractor.try(:name) %></td>-->
                      <td><%= sc.customer.try(:name) %></td>
                      <!--<td>-->
                      <!--<#%= link_to 'Edit', edit_service_call_path(sc), :class => 'btn btn-mini' %>-->
                      <!--<#%= link_to 'Show', sc.becomes(ServiceCall), :class => 'btn btn-mini btn-danger' %>-->
                      <!--</td>-->
                    </tr>
                <% end %>
            <% end %>
            </tbody>
          </table>

      <% else %>
          <span class="alert alert-info" id="empty_search_result_notice">No Service Calls</span>
          <br>
          <br>
      <% end %>


    </div>
  </div>

  <div class="span6" id="home-billing">
    <div class="well well-home">

      <div class="smart_label">
        <ul>
          <li><h1>Billing Summary</h1></li>
          <li></li>
        </ul>
      </div>

      <br>

    </div>

  </div>

</div>

