<div class="row-fluid row_homepage">

  <!--<div class="span6" id="home-notifications">-->
    <!--<#%= render :partial => 'home_notifications' %>-->
  <!--</div>-->

  <div class="span6" id="home-customer-billing">
    <div class="well well-home">

      <div class="smart_label">
        <ul>
          <li><h1><%= I18n.t('general.general.customers_balance') %></h1></li>
          <li></li>
        </ul>
      </div>

      <table class="table table-striped">
        <thead>
        <tr>
          <th><%= Customer.model_name.human %></th>
          <th><%= AccountingEntry.human_attribute_name(:balance) %></th>
          <th><%= I18n.t('general.general.actions') %></th>

        </tr>
        </thead>
        <tbody>
        <% @affiliates.each do |affiliate| %>
            <% unless current_user.organization.account_for(affiliate).balance == 0 %>
                <tr>
                  <td><%= link_to affiliate.name, affiliate_path(affiliate) %></td>
                  <% if current_user.organization.account_for(affiliate).balance > 0 %>
                      <td class="green_balance"><%= humanized_money_with_symbol current_user.organization.account_for(affiliate).balance %></td>
                  <% else %>
                      <td class="red_balance"><%= humanized_money_with_symbol current_user.organization.account_for(affiliate).balance %></td>
                  <% end %>
                  <td>
                    <%= link_to I18n.t('general.general.show'), affiliate_path(affiliate), :class => 'btn btn-mini btn-primary' %>
                  </td>
                </tr>
            <% end %>
        <% end %>
        </tbody>
      </table>

    </div>
  </div>

  <div class="span6" id="home-billing">
    <div class="well well-home">

      <div class="smart_label">
        <ul>
          <li><h1><%= I18n.t('general.general.affiliates_balance') %></h1></li>
          <li></li>
        </ul>
      </div>

     <table class="table table-striped">
        <thead>
        <tr>
          <th><%= Affiliate.model_name.human %></th>
          <th><%= AccountingEntry.human_attribute_name(:balance) %></th>
          <th><%= I18n.t('general.general.actions') %></th>

        </tr>
        </thead>
        <tbody>
        <% @affiliates.each do |affiliate| %>
            <% unless current_user.organization.account_for(affiliate).balance == 0 %>
                <tr>
                  <td><%= link_to affiliate.name, affiliate_path(affiliate) %></td>
                  <% if current_user.organization.account_for(affiliate).balance > 0 %>
                      <td class="green_balance"><%= humanized_money_with_symbol current_user.organization.account_for(affiliate).balance %></td>
                  <% else %>
                      <td class="red_balance"><%= humanized_money_with_symbol current_user.organization.account_for(affiliate).balance %></td>
                  <% end %>
                  <td>
                    <%= link_to I18n.t('general.general.show'), affiliate_path(affiliate), :class => 'btn btn-mini btn-primary' %>
                  </td>
                </tr>
            <% end %>
        <% end %>
        </tbody>
      </table>

    </div>
  </div>


</div>



<div class="row-fluid row_homepage">

  <div class="span6" id="home-service-calls">
    <%= render :partial => 'home_jobs' %>
  </div>

  <!--Calendar-->
  <div class="span6" id="home-incoming">
    <div class="well welcome_jobs">
      <div class="smart_label">
        <ul>
          <li><h1><%= I18n.t('general.general.calendar') %></h1></li>
          <li><%= link_to I18n.t('general.general.show_more'), calendar_path, :class => 'btn btn-mini' %>

            <%= link_to t('general.general.new_appointment'), new_service_call_path, :class => 'btn btn-mini btn-primary', id: 'new-appointment-button' %>

          </li>
        </ul>
      </div>

      <div id="calendar"></div>
      <br>
    </div>

  </div>

</div>

