<% provide(:title, 'Welcome') %>

<div class="row-fluid miya_hero">
    <div class="well">

      <div class="row-fluid miya_hero">
        <div class="logo_large">
          <%= image_tag("logo_hero_white.png", alt: "MiYa") %>
        </div>
      </div>

      <div class="row-fluid miya_hero">
            <h3>
              Service Calls Management Solution, for YOU!
            </h3>
        <br>
      </div>

      <div class="row-fluid miya_hero">
        <h4>
          SubConTraX provides the ideal solution for small-mid size businesses and independent Subcontractors,
          allowing the to manage and transfer Service Calls in an easy and simple way,
          yet providing all the necessary features of field service and workforce management solutions.
         </h4>
        <br>
          <a class="btn btn-large btn-primary" href="/users/sign_up">Sign Up &raquo;</a>
      </div>

      <hr>
      <div class="row-fluid miya_hero">
          <div class="span7">
                    <div class="row-fluid alert alert-info">
                      <h5>Manage Your Service Calls</h5><br>
                        <div class="row-fluid">
                            <div class="span1 vSign">
                              <%= image_tag("vSign.png", alt: "MiYa") %>
                            </div>
                            <div class="span10">
                              <p><strong>Receive alerts and respond accordingly</strong></p>
                          </div>
                        </div>
                      <div class="row-fluid">
                        <div class="span1 vSign">
                          <%= image_tag("vSign.png", alt: "MiYa") %>
                        </div>
                        <div class="span10">
                          <p><strong>Track status of each job assigned to you or transferred by you</strong></p>
                        </div>
                      </div>
                      <div class="row-fluid">
                        <div class="span1 vSign">
                          <%= image_tag("vSign.png", alt: "MiYa") %>
                        </div>
                        <div class="span10">
                          <p><strong>1-click job transfer to currently available  Subcontractors</strong></p>
                        </div>
                      </div>
                      <div class="row-fluid">
                        <div class="span1 vSign">
                          <%= image_tag("vSign.png", alt: "MiYa") %>
                        </div>
                        <div class="span10">
                          <p><strong>Dispatch field service technicians to customer locations</strong></p>
                        </div>
                      </div>
                    </div>

            <div class="row-fluid alert alert-info">
              <h5>No More Manual Billing!</h5><br>
              <div class="row-fluid">
                <div class="span1 vSign">
                  <%= image_tag("vSign.png", alt: "MiYa") %>
                </div>
                <div class="span10">
                  <p><strong>Generate balance sheets for Subcontractors, Providers and Customers</strong></p>
                </div>
              </div>
              <div class="row-fluid">
                <div class="span1 vSign">
                  <%= image_tag("vSign.png", alt: "MiYa") %>
                </div>
                <div class="span10">
                  <p><strong>Access customer receipts, for multi-transferred jobs</strong></p>
                </div>
              </div>
            </div>


          <div class="row-fluid alert alert-info">
              <h5>Expand Your Business</h5><br>
              <div class="row-fluid">
                <div class="span1 vSign">
                  <%= image_tag("vSign.png", alt: "MiYa") %>
                </div>
                <div class="span10">
                  <p><strong>Sign and manage contracts with other Providers and Subcontractors
                  </strong></p>
                </div>
              </div>
              <div class="row-fluid">
                <div class="span1 vSign">
                  <%= image_tag("vSign.png", alt: "MiYa") %>
                </div>
                <div class="span10">
                  <p><strong>Manage your personal network and expand it using the SubConTraX network</strong></p>
                </div>
              </div>
              <!--<div class="row-fluid">-->
                <!--<div class="span1 vSign">-->
                  <!--<#%= image_tag("vSign.png", alt: "MiYa") %>-->
                <!--</div>-->
                <!--<div class="span10">-->
                  <!--<p><strong>Quickly respond to customer inquiries</strong></p>-->
                <!--</div>-->
              <!--</div>-->

            </div>

                           <div class="row-fluid alert alert-info">
                                 <h5>Accessibility</h5><br>
                                 <div class="row-fluid">
                                   <div class="span1 vSign">
                                     <%= image_tag("vSign.png", alt: "MiYa") %>
                                   </div>
                                   <div class="span10">
                                     <p><strong>Access your account from anywhere, using your PC, Tablet or Mobile</strong></p>
                                   </div>
                                 </div>
                            </div>
        <!--End Span 7-->
          </div>

        <div class="span5">
          <div class="diagram">

          <%= image_tag("diagram.png", alt: "MiYa") %>
            <br>
            <hr>
            </div>


          <div class="screens">
            <br>
          <%= image_tag("3Screens_gray2.png", alt: "MiYa") %>
          </div>
     </div>
  </div>




      <!--<p><a class="btn btn-primary btn-large">Sign Up &raquo;</a></p>-->

      <!--<a class="btn btn-large btn-primary" href="/users/sign_up">Sign Up &raquo;</a></p>-->

      <!--<br>-->

      <!--<p>Already have an account?</p>-->
      <!--<a class="btn btn-large btn-primary" href="/users/sign_in">Sign in &raquo;</a></p>-->


      <!--<br>-->

      <!--<div class="row-fliud">-->
        <!--<div class="welcome_logo">-->

          <!--<div class="logo">-->
            <!--<figure class="vertical">-->
              <!--<figcaption><strong>Powered by:</strong></figcaption>-->
           <!--<div> <#%= image_tag("logo.png", alt: "MiYa") %></div>-->
             <!--</figure>-->
          <!--</div>-->
        <!--</div>-->

      <!--</div>-->

      <!--<br>-->


    </div>
</div>

 <div class="miya-hero-bottom">
<div class="row-fluid ">
  <div class="span4 well">
    <%= image_tag("screenshots.png", alt: "MiYa") %>


  </div>
  <div class="span4 well">
    <%= image_tag("screenshots.png", alt: "MiYa") %>


  </div>
  <div class="span4 well">
    <%= image_tag("screenshots.png", alt: "MiYa") %>
  </div>




</div>

 </div>