<div class="help_label">
  <!--<a href="#" data-toggle="collapse" data-target="#bom" class="close" id="bom_close">×</a>-->
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <h2><%= t('devise.registrations.signed_up_html') %></h2>
</div>

<div class="help_label">
  <h1><%= t('general.general.help') %></h1>
</div>


<div class="row-fluid row_homepage">

    <div class="span6">
      <!--Your Network-->
      <%= render :partial => 'help_network' %>
    </div>

    <div class="span6">
      <!--Manage Jobs-->
      <%= render :partial => 'help_jobs' %>
    </div>

</div>


<div class="row-fluid row_homepage">

  <div class="span6">
    <%= render :partial => 'help_alerts' %>
  </div>

  <div class="span6">
    <%= render :partial => 'help_billing' %>
  </div>

</div>


<div class="row-fluid row_homepage">

  <div class="span6">
    <%= render :partial => 'help_customers' %>
  </div>

  <div class="span6">
    <%= render :partial => 'help_parts' %>
  </div>

</div>