<div class="help_label">
  <h1>Help</h1>
</div>

<div class="row-fluid row_homepage">

    <div class="span6">
      <!--Your Network-->
      <%= render :partial => 'help_network' %>
    </div>

    <div class="span6">
      <!--Manage Jobs-->
      <%= render :partial => 'help_jobs' %>
    </div>

</div>


<div class="row-fluid row_homepage">

  <div class="span6">
    <%= render :partial => 'help_alerts' %>
  </div>

  <div class="span6">
    <%= render :partial => 'help_billing' %>
  </div>

</div>


<div class="row-fluid row_homepage">

  <div class="span6">
    <%= render :partial => 'help_customers' %>
  </div>

  <div class="span6">
    <%= render :partial => 'help_parts' %>
  </div>

</div>