<% provide(:title, "Welcome") %>

<br>
<div class="homepage">

<ul data-role="listview">

  <li data-role="list-divider" role="heading" class="ui-li ui-li-divider ui-bar-d"><%= Notification.model_name.human  %>
    <div class= "show_all_notifications">
      <%= link_to I18n.t('general.general.see_all'), notifications_path, "data-role" => "button", id: 'show-all-notifications-button', "class" => "ui-btn ui-shadow ui-btn-corner-all ui-mini ui-btn-inline ui-btn-up-b" %>
    </div>
        <span class="alert_label_mobile">
                <badge><%= @notification_count %></badge>
        </span>
  </li>
  <% @notifications.sort_by{|t| - t.created_at.to_i}.first(5).reverse.each do |notification| %>
  <li class="inline_mobile"><%= link_to notification.subject, notification.becomes(Notification), "data-transition" => "slide", id: "jobs_welcome" %>
    <% if notification.human_status_name == 'unread' %>
            <span class="new_alert_label">
                <img src="/assets/emails.png">
            </span>
    <% end %>
   </li>
  <% end %>


  <li data-role="list-divider" role="heading" class="ui-li ui-li-divider ui-bar-d"><%= Appointment.model_name.human.pluralize %></li>
  <li class="">
      <% @appointments.each do |appointment| %>

              <%= link_to appointment.title, appointment_path(appointment), "data-transition" => "slide", id: "affiliate_balance" %>

      <% end %>
  </li>

</ul>

  <div id="calendar"></div>


</div>







