<%= simple_form_for(@posting_rule, as: :posting_rule, url: agreement_posting_rules_url(@posting_rule.agreement), method: :post, :html => { :class => 'form-horizontal' }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">

      <%= f.hidden_field :agreement_id %>

      <%= f.hidden_field :type, value: @posting_rule.class.name.underscore %>

      <%= f.input :rate %>

      <%= f.input :rate_type %>

    </div>

    <div class="form-actions">
      <%= f.button :submit, :class => 'btn btn-primary' %>


    </div>
<% end %>
