<div class="well well_job_show">

  <div class="row-fluid my_jobs">

    <div class="smart_label">
      <ul>
        <li><h1><%= I18n.t('general.general.all_jobs') %></h1></li>
        <li><%= link_to I18n.t('general.general.new_job'), new_service_call_path, :class => 'btn btn-primary' %></li>
      </ul>
    </div>

    <br>
    <div id="table-filters" class="all_jobs_filter" data-statuses="<%= service_call_statueses %>" data-tags="<%= current_user.organization.tags.map(&:name) %>">
      <p>Use the following drop-down list to filter your results. To cancel selected filter, simply click on its link on
        the right. </p>

      <div id="status_filter"></div>
      <div id="created_range_filter"></div>
      <div id="tags_filter" ></div>
      <div id="provider_filter" >
        <%= select_tag :provider, options_from_collection_for_select(current_user.organization.providers, 'id', 'name'), prompt: "Select Provider",  class: 'chosen-select' %>
        <%= button_tag 'x', type: 'button', id: 'clear-provider', class: 'yadcf-filter-reset-button' %>
      </div>
      <div id="subcontractor_filter" >
        <%= select_tag :subcontractor, options_from_collection_for_select(current_user.organization.subcontractors, 'id', 'name'), prompt: "Select Subcontractor",  class: 'chosen-select' %>
        <%= button_tag 'x', type: 'button', id: 'clear-subcontractor', class: 'yadcf-filter-reset-button' %>
      </div>
      <div id="customer_filter"><%= text_field_tag :customer_search, nil, placeholder: 'Customer',
                                                   'data-autocomplete' => '/service_calls/autocomplete_customer_name',
                                                   'data-update-elements' => {id: '#customer_filter_id'}.to_json,
                                                   'data-ref-id' => ''
      %>
        <%= button_tag 'x', type: 'button', id: 'clear-customer', class: 'yadcf-filter-reset-button' %>
      </div>
      <%= hidden_field_tag :customer_filter_id %>



    </div>

    <div id="">
      <table class="table table-striped display table-bordered" id="job-search-results">
        <thead>
        <tr>
          <th><%= Ticket.human_attribute_name(:ref_id) %></th>
          <th><%= Ticket.human_attribute_name(:created_at) %></th>
          <th><%= Ticket.human_attribute_name(:customer) %></th>
          <th><%= Ticket.human_attribute_name(:provider) %></th>
          <th><%= Ticket.human_attribute_name(:subcontractor) %></th>
          <th><%= Ticket.human_attribute_name(:status) %></th>
          <th><%= Ticket.human_attribute_name(:provider_balance) %></th>
          <th><%= Ticket.human_attribute_name(:subcon_balance) %></th>
          <th><%= Ticket.human_attribute_name(:total_price) %></th>
          <th><%= Ticket.human_attribute_name(:total_cost) %></th>
          <th><%= Ticket.human_attribute_name(:tags) %></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
        <tr>
          <th><%= Ticket.human_attribute_name(:ref_id) %></th>
          <th><%= Ticket.human_attribute_name(:created_at) %></th>
          <th><%= Ticket.human_attribute_name(:customer) %></th>
          <th><%= Ticket.human_attribute_name(:provider) %></th>
          <th><%= Ticket.human_attribute_name(:subcontractor) %></th>
          <th><%= Ticket.human_attribute_name(:status) %></th>
          <th><%= Ticket.human_attribute_name(:provider_balance) %></th>
          <th><%= Ticket.human_attribute_name(:subcon_balance) %></th>
          <th><%= Ticket.human_attribute_name(:total_price) %></th>
          <th><%= Ticket.human_attribute_name(:total_cost) %></th>
          <th><%= Ticket.human_attribute_name(:tags) %></th>
        </tr>
        </tfoot>

      </table>

    </div>

  </div>


  <!--End of Well-->
</div>