<div class="well well_job_show">

  <div class="my_jobs row-fluid">

    <div class="smart_label">
      <ul>
        <li><h1><%= I18n.t('general.general.all_jobs') %></h1></li>
        <li>

          <button href='' class='download_csv btn btn-primary'>Export</button>
          <%= link_to I18n.t('general.general.new_job'), new_service_call_path, :class => 'btn btn-primary' %></li>
      </ul>
    </div>

    <div id="table-filters" class="all_jobs_filter" data-statuses="<%= service_call_statuses %>" data-tags="<%= current_user.organization.tags.map(&:name) %>">
      <h4><%= t('general.general.filter_all_jobs_l1') %>

        <div class="header5">
          <%= t('general.general.filter_all_jobs_l2') %>
        </div>
      </h4>
    </div>

    <div>
      <a class="" data-toggle="collapse" data-target="#job-date-filters">
        Date Filters
      </a>|

      <a class="" data-toggle="collapse" data-target="#job-status-filters">
        Status Filters
      </a>|


      <a class="" data-toggle="collapse" data-target="#job-participant-filters">
        Participant Filters
      </a>

    </div>
    <%= render 'service_calls/job_date_filters' %>
    <%= render 'service_calls/job_status_filters' %>
    <%= render 'service_calls/job_participant_filters' %>

    <div id="tags_filter" class="input_field"></div>

    <div class="row-fluid job_search_table">

      <div id="">
        <table class="table table-striped display table-bordered" id="job-search-results">
          <tbody>
          </tbody>
        </table>
      </div>

    </div>
    <!--End of Well-->
  </div>


</div>

