<div class="well well_job_show">

  <div class="my_jobs row-fluid">

    <div class="smart_label row-fluid ">
      <ul>
        <li><h1><%= I18n.t('general.general.all_jobs') %></h1></li>
        <li class="btn-group">
          <a class="btn btn-inverse btn-small" data-toggle="collapse" data-target="#job-date-filters" data-collapse-group="myDivs">
            Date Filters
          </a>

          <a class="btn btn-inverse btn-small" data-toggle="collapse" data-target="#job-status-filters" data-collapse-group="myDivs">
            Status Filters
          </a>


          <a class="btn btn-inverse btn-small" data-toggle="collapse" data-target="#job-participant-filters" data-collapse-group="myDivs">
            Participant Filters
          </a>


          <a class="btn btn-small btn-inverse" data-toggle="collapse" data-target="#job-more-filters" data-collapse-group="myDivs">
            More Filters
          </a>


        </li>
        <li>

          <button href='' class='download_csv btn btn-primary'>Export</button>
          <%= link_to I18n.t('general.general.new_job'), new_service_call_path, :class => 'btn btn-primary' %></li>
      </ul>
    </div>

    <div class="row-fluid">

      <div id="filter-view" class="row-fluid">

      </div>


      <!--<button id="load-state">Load</button>-->
      <!--<button id="save-state">Save</button>-->
    </div>
    <div id="job-index-filters" class="row-fluid">
      <%= render 'service_calls/job_date_filters' %>
      <%= render 'service_calls/job_status_filters' %>
      <%= render 'service_calls/job_participant_filters' %>
      <%= render 'service_calls/job_more_filters' %>
    </div>


    <div class="row-fluid  job_search_table">

      <div id="span12">
        <table class="table table-striped display table-bordered" id="job-search-results">
          <thead>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>

    </div>
    <!--End of Well-->
  </div>


</div>

