<div class="well well_job_show">

  <div class="row-fluid my_jobs">

    <div class="smart_label">
      <ul>
        <li><h1><%= I18n.t('general.general.my_jobs') %></h1></li>
        <li><%= link_to I18n.t('general.general.new_job'), new_service_call_path, :class => 'btn btn-primary' %></li>
      </ul>
    </div>

    <br>

    <div id="">
      <table class="table table-striped display table-bordered" id="job-search-results">
        <thead>
        <tr>
          <th><%= Ticket.human_attribute_name(:id) %></th>
          <th><%= Ticket.human_attribute_name(:created_at) %></th>
          <th><%= Ticket.human_attribute_name(:customer) %></th>
          <th><%= Ticket.human_attribute_name(:status) %></th>
          <th><%= Ticket.human_attribute_name(:total_price) %></th>
          <th><%= Ticket.human_attribute_name(:total_cost) %></th>
        </tr>
        </thead>
        <tbody>

        </tbody>
      </table>

    </div>

  </div>



  <!--End of Well-->
</div>