<div class="well well_job_show">

  <div class="row-fluid my_jobs">

    <div class="smart_label">
      <ul>
        <li><h1><%= I18n.t('general.general.all_jobs') %></h1></li>
        <li><%= link_to I18n.t('general.general.new_job'), new_service_call_path, :class => 'btn btn-primary' %></li>
      </ul>
    </div>

    <br>

    <div class="all_jobs_filter">
     <p>Use the following drop-down list to filter your results. To cancel selected filter, simply click on its link on the right. </p>
    </div>

    <div id="">
      <table class="table table-striped display table-bordered" id="job-search-results">
        <thead>
        <tr>
          <th><%= Ticket.human_attribute_name(:ref_id) %></th>
          <th><%= Ticket.human_attribute_name(:created_at) %></th>
          <th><%= Ticket.human_attribute_name(:customer) %></th>
          <th><%= Ticket.human_attribute_name(:provider) %></th>
          <th><%= Ticket.human_attribute_name(:subcontractor) %></th>
          <th><%= Ticket.human_attribute_name(:status) %></th>
          <th><%= Ticket.human_attribute_name(:provider_balance) %></th>
          <th><%= Ticket.human_attribute_name(:subcon_balance) %></th>
          <th><%= Ticket.human_attribute_name(:total_price) %></th>
          <th><%= Ticket.human_attribute_name(:total_cost) %></th>
        </tr>
        </thead>
        <tbody>
        <% current_user.organization.service_calls.each do |sc| %>
            <tr>
              <td><%= link_to sc.ref_id, sc %></td>
              <td><%= l sc.created_at, format: :date_only %></td>
              <td><%= sc.customer.name %></td>
              <td><%= sc.provider.name if sc.provider.present? %></td>
              <td><%= sc.subcontractor.name if sc.subcontractor.present? %></td>
              <td><%= sc.human_status_name %></td>
              <td><%= sc.provider_balance if sc.instance_of?(TransferredServiceCall) %></td>
              <td><%= sc.subcon_balance %></td>
              <td><%= sc.total_price %></td>
              <td><%= sc.total_cost %></td>
            </tr>
        <% end %>

        </tbody>
        <tfoot>
        <tr>
          <th><%= Ticket.human_attribute_name(:ref_id) %></th>
          <th><%= Ticket.human_attribute_name(:created_at) %></th>
          <th><%= Ticket.human_attribute_name(:customer) %></th>
          <th><%= Ticket.human_attribute_name(:provider) %></th>
          <th><%= Ticket.human_attribute_name(:subcontractor) %></th>
          <th><%= Ticket.human_attribute_name(:status) %></th>
          <th><%= Ticket.human_attribute_name(:provider_balance) %></th>
          <th><%= Ticket.human_attribute_name(:subcon_balance) %></th>
          <th><%= Ticket.human_attribute_name(:total_price) %></th>
          <th><%= Ticket.human_attribute_name(:total_cost) %></th>
        </tr>
        </tfoot>

      </table>

    </div>

  </div>


  <!--End of Well-->
</div>