<%#= f.input :status_event, collection: f.object.status_transitions, label_method: :human_to_name, value_method: :event, :include_blank => f.object.human_status_name %>
<!--#<#% end %> -->

<%= f.input :customer, input_html: {id: "customer-autocomplete"} %>
<%= f.hidden_field :customer_id %>
<ul id="customer-suggestions" data-role="listview" data-inset="true"></ul>
<br>

<!-- <#%= f.association :customer, collection: current_user.organization.customers, value: f.object.customer %> -->


<div class="edit_job_details">

  <div class="ui-grid-a">
    <div class="ui-block-a"><%= @service_call.class.human_attribute_name(:allow_collection) %></div>
    <div class="ui-block-b collection"><%= f.input :allow_collection %></div>
  </div>

  <div class="ui-grid-a">
    <div class="ui-block-a"><%= @service_call.class.human_attribute_name(:transferable) %></div>
    <div class="ui-block-b collection"><%= f.input :transferable %></div>
  </div>

  <div class="ui-grid-a">
    <div class="ui-block-a"><%= @service_call.class.human_attribute_name(:provider) %></div>
    <div class="ui-block-b"><%= f.association :provider, collection: ([current_user.organization.becomes(Provider)] + current_user.organization.providers), value: f.object.provider, :include_blank => "Me" %></div>
  </div>

  <div class="ui-grid-a">
    <div class="ui-block-a"><%= @service_call.class.human_attribute_name(:subcontractor) %></div>
    <div class="ui-block-b"><%= f.association :subcontractor, collection: ([current_user.organization.becomes(Subcontractor)] + current_user.organization.subcontractors), value: f.object.subcontractor, :include_blank => "Me" %></div>
  </div>

  <div class="ui-grid-a">
    <div class="ui-block-a"><%= @service_call.class.human_attribute_name(:technician) %></div>
    <div class="ui-block-b"><%= f.association :technician, collection: current_user.organization.users, value: f.object.customer, value: f.object.customer %></div>
  </div>


  <div class="ui-grid-a">
    <div class="ui-block-a"><%= @service_call.class.human_attribute_name(:scheduled_for) %></div>
    <div class="ui-block-b"><%= f.input :scheduled_for_text, input_html: {class: "mobi-datetime"} %></div>
  </div>

  <div class="ui-grid-a">
    <div class="ui-block-a"><%= @service_call.class.human_attribute_name(:started_on_text) %></div>
    <div class="ui-block-b"><%= f.input :started_on_text, input_html: {class: "mobi-datetime"} %></div>
  </div>

  <div class="ui-grid-a">
    <div class="ui-block-a"><%= @service_call.class.human_attribute_name(:completed_on_text) %></div>
    <div class="ui-block-b"><%= f.input :completed_on_text, input_html: {class: "mobi-datetime"} %></div>
  </div>


</div>

  <%= f.input :notes %>
