<%#= f.input :status_event, collection: f.object.status_transitions, label_method: :human_to_name, value_method: :event, :include_blank => f.object.human_status_name %>
<!--#<#% end %> -->
<br>
<div class="edit_job_details">
  <div class="ui-grid-a">
    <div class="ui-block-a"><%= @service_call.class.human_attribute_name(:provider) %></div>
    <div class="ui-block-b"><%= f.select :provider_id, provider_options, { prompt: "Me" } %></div>
   </div>

  <div class="ui-grid-a">
    <!--<div class="ui-block-a"><@%= @service_call.class.human_attribute_name(:provider_agreement) %></div>-->
    <div class="ui-block-a"></div>
    <div class="ui-block-b"><%= select_tag 'service_call[provider_agreement_id]', collection: [], select: "none" %></div>
  </div>

    <%= render 'service_calls/transfer_props/prov_flat_fee_props', f: f %>



  <div class="ui-grid-a">
    <div class="ui-block-a"><%= @service_call.class.human_attribute_name(:tag_list) %></div>
    <div class="ui-block-b"><%= f.input :tag_list, collection: current_user.organization.tags.map(&:name), input_html: { multiple: '1', 'data-native-menu' => 'false', placeholder: 'choose category' } %></div>
  </div>
</div>

<br>

<%= f.input :customer_name, input_html: { id: "customer-autocomplete", data: { ref_id: "" } }, :label => "Select Customer" %>
<div class="new_customer_job_button">
  <%= link_to I18n.t('general.general.new_customer'), new_customer_path, "data-role" => "button", id: 'new-service-call-button', "class" => "ui-btn ui-shadow ui-btn-corner-all ui-mini ui-btn-inline ui-btn-up-b" %>
</div>
<%= f.hidden_field :customer_id %>
<ul id="customer-suggestions" data-role="listview" data-inset="true"></ul>
<br>

<div class="edit_job_details">

  <!--<div class="ui-grid-a">-->
    <!--<div class="ui-block-a"><#%= @service_call.class.human_attribute_name(:allow_collection) %></div>-->
    <!--<div class="ui-block-b collection"><#%= f.input :allow_collection %></div>-->
  <!--</div>-->

  <!--<div class="ui-grid-a">-->
    <!--<div class="ui-block-a"><#%= @service_call.class.human_attribute_name(:transferable) %></div>-->
    <!--<div class="ui-block-b collection"><#%= f.input :transferable %></div>-->
  <!--</div>-->

  <!--<#% if current_user.organization.multi_user? %>-->
      <!--<div class="ui-grid-a">-->
        <!--<div class="ui-block-a"><#%= @service_call.class.human_attribute_name(:technician) %></div>-->
        <!--<div class="ui-block-b"><#%= f.association :technician, collection: current_user.organization.users, value: f.object.technician.try(:name) %></div>-->
      <!--</div>-->
  <!--<#% end %>-->

  <div class="ui-grid-a">
    <div class="ui-block-a"><%= @service_call.class.human_attribute_name(:scheduled_for) %></div>
    <div class="ui-block-b"><%= f.text_field :scheduled_for, class: "mobi-datetime", value: (Time.now), format: :short %></div>
  </div>

</div>


<div class="ui-grid-a">
  <div class="ui-block-a position_lable"><%= @service_call.class.human_attribute_name(:external_ref) %></div>
  <div class="ui-block-b hide_lable" ><%= f.input :external_ref %></div>
</div>

<%= f.input :notes %>
<br>

<ul data-role="listview" data-filter="false" data-divider-theme="d">
  <li><h2><%= I18n.t('general.general.location_info') %></h2>

    <p><%= I18n.t('general.messages.job_location_info').html_safe %></p>
  </li>
  <li>
    <div class="edit_job_details">
      <div class="ui-grid-a">
        <div class="ui-block-a"><%= @service_call.class.human_attribute_name(:address1) %></div>
        <div class="ui-block-b"><%= f.input :address1 %></div>
      </div>
      <div class="ui-grid-a">
        <div class="ui-block-a"><%= @service_call.class.human_attribute_name(:address2) %></div>
        <div class="ui-block-b"><%= f.input :address2 %></div>
      </div>
      <div class="ui-grid-a">
        <div class="ui-block-a"><%= @service_call.class.human_attribute_name(:company) %></div>
        <div class="ui-block-b"><%= f.input :company %></div>
      </div>
      <div class="ui-grid-a">
        <div class="ui-block-a"><%= @service_call.class.human_attribute_name(:city) %></div>
        <div class="ui-block-b"><%= f.input :city %></div>
      </div>
      <div class="ui-grid-a">
        <div class="ui-block-a"><%= @service_call.class.human_attribute_name(:zip) %></div>
        <div class="ui-block-b"><%= f.input :zip %></div>
      </div>
      <div class="ui-grid-a">
        <div class="ui-block-a"><%= @service_call.class.human_attribute_name(:state) %></div>
        <div class="ui-block-b"> <%= render 'subregion_select', f: f %></div>
      </div>
      <div class="ui-grid-a">
        <div class="ui-block-a"><%= @service_call.class.human_attribute_name(:phone) %></div>
        <div class="ui-block-b"><%= f.input :phone %></div>
      </div>
      <div class="ui-grid-a">
        <div class="ui-block-a"><%= @service_call.class.human_attribute_name(:mobile_phone) %></div>
        <div class="ui-block-b"><%= f.input :mobile_phone %></div>
      </div>
      <div class="ui-grid-a">
        <div class="ui-block-a"><%= @service_call.class.human_attribute_name(:work_phone) %></div>
        <div class="ui-block-b"><%= f.input :work_phone %></div>
      </div>
      <div class="ui-grid-a">
        <div class="ui-block-a"><%= @service_call.class.human_attribute_name(:email) %></div>
        <div class="ui-block-b"><%= f.input :email %></div>
      </div>
    </div>
  </li>

</ul>
<br>