<fieldset>
  <div class="row-fluid">

    <div class="span5 job_new_fields">
      <!--<#%= f.input :provider, collection: provider_options, value: f.object.provider, :include_blank => "Me" %>-->
      <div class="control-group string mandatory">
        <label class="string optional control-label" for="customer_state"> <%= @service_call.class.human_attribute_name(:provider) %></label>
        <div class="controls">
          <%= f.select :provider_id, provider_options, { prompt: "Me"}%>
        </div>
      </div>


      <%= f.input :provider_agreement_id, collection: [] %>


      <div class="control-group string mandatory">
        <label class="string optional control-label" for="customer_state"> <%= @service_call.class.human_attribute_name(:tag_list) %></label>
          <div class="controls">
            <%= f.text_field :tag_list, data: { tags: current_user.organization.tags.map(&:name) } %>
          </div>
      </div>

      <div id="customer_wrapper" class="control-group select optional">
        <label class="string  control-label" for="service_call_customer"> <%= @service_call.class.human_attribute_name(:customer) %></label>

        <div class="controls">
          <%= f.autocomplete_field :customer_name, autocomplete_customer_name_service_calls_path, update_elements: { id: "#service_call_customer_id", address1: '#service_call_address1', address2: '#service_call_address2', company: '#service_call_company', phone: '#service_call_phone', mobile_phone: '#service_call_mobile_phone', work_phone: '#service_call_work_phone', country: '#country', state: '#service_call_state', email: '#service_call_email', zip: '#service_call_zip', city: '#service_call_city' }, data: { ref_id: "" } %>
          <%= f.hidden_field :customer_id %> <br>
        </div>
      </div>


    <div class="control-group string ">
      <label class="string  control-label" for="service_call_started_on"><%= @service_call.class.human_attribute_name(:scheduled_for) %></label>

      <div class="controls">
        <%= f.text_field :scheduled_for, class: "datetimepicker" %>
        <span class="help-inline"><%= I18n.t('general.emails.set_date') %></span>
      </div>
    </div>

      <%= f.input :allow_collection %>
      <%= f.input :transferable %>
      <!--<#%= f.association :subcontractor, collection: ([current_user.organization.becomes(Subcontractor)] + current_user.organization.subcontractors), value: f.object.subcontractor, :include_blank => "Me" %>-->
      <%= f.association :technician, collection: current_user.organization.users, value: f.object.customer if current_user.organization.multi_user? %>

    <div class="newJob_note_area string mandatory">
      <%= f.input :notes %>
    </div>

    <!--End of Span5-->
  </div>

  <div class="span7">

    <div class="job_new_location">
      <address>

        <h4><%= I18n.t('general.general.location_info') %> &nbsp;<i class="icon-edit icon-white" id="icon_job_address"></i></h4>
        <p><%= I18n.t('general.messages.job_location_info').html_safe %></p>

            <%= f.input :address1, placeholder: 'Address 1' %>
            <%= f.input :address2, placeholder: 'Address 2' %>
            <%= f.input :company, placeholder: 'Company Name' %>
            <%= f.input :city, placeholder: 'City' %>
            <%= f.input :zip, placeholder: 'Zip code' %>
            <div class="controls">
              <%= f.country_select :country, { priority: %w[US] }, hidden: 'true' %>
            </div>
            <div class="control-group string mandatory">
              <label class="string optional control-label" for="customer_state">State</label>
              <div class="controls">
                <%= render 'subregion_select', object: f .object%>
              </div>
            </div>
            <%= f.input :phone, placeholder: 'Primary Phone' %>
            <%= f.input :mobile_phone, placeholder: 'Mobile Phone' %>
            <%= f.input :work_phone, placeholder: 'Work Phone' %>
            <%= f.input :email, placeholder: 'Email address' %>
      </address>
    </div>


  </div>


  </div>

</fieldset>