<fieldset>
  <div class="row-fluid">

    <div class="span5">

      <!--#<#% if !f.object.new_record? %>-->

      <%= f.input :status_event, collection: f.object.status_transitions, label_method: :human_to_name, value_method: :event, :include_blank => f.object.human_status_name %>

      <!--#<#% end %> -->

      <%= f.association :provider, collection: ([current_user.organization.becomes(Provider)] + current_user.organization.providers), value: f.object.provider, :include_blank => "Me" %>
      <%= f.association :subcontractor, collection: ([current_user.organization.becomes(Subcontractor)] + current_user.organization.subcontractors), value: f.object.subcontractor, :include_blank => "Me" %>
      <div id="customer_wrapper">
        <%= f.association :customer, collection: current_user.organization.customers, value: f.object.customer %>
      </div>
      <%= f.association :technician, collection: current_user.organization.users, value: f.object.customer %>

      <div class="control-group string ">
        <label class="string  control-label" for="service_call_started_on">Started On</label>

        <div class="controls">
          <%= f.text_field :started_on_text, class: "datepicker" %>
          <span class="help-inline">Click to set date</span>


        </div>
      </div>

      <div class="control-group string ">
        <label class="string  control-label" for="service_call_completed_on">Completed On</label>

        <div class="controls">
          <%= f.text_field :completed_on_text, class: "datepicker" %>
          <span class="help-inline">Click to set date</span>
          <%= label_tag :new_customer %>
          <%= f.text_field :new_customer %>
        </div>
      </div>
    </div>

    <div class="span6">
      <div class="miya_note_area string mandatory">
        <%= f.input :notes %>
      </div>
    </div>

  </div>
</fieldset>