<fieldset>
  <div class="row-fluid">

    <div class="span5">

      <% if !f.object.new_record? %>

          <%= f.input :status_event, collection: f.object.status_transitions, label_method: :human_to_name, value_method: :event, :include_blank => f.object.human_status_name %>

      <% end %>

      <%= f.association :customer, collection: current_user.organization.customers %>

      <div class="control-group string mandatory">
        <label class="string optional control-label" for="service_call_started_on">Started On</label>
        <div class="controls">
          <%= f.text_field :started_on, class: "datepicker input-small" %>
          <strong>at</strong>
          <select id="select01" class="input-mini">
            <option>Hr</option>
            <option>00</option>
            <option>01</option>
            <option>02</option>
            <option>03</option>
          </select>
          <strong>: </strong>
          <select id="select02" class="input-mini">
            <option>Min</option>
            <option>00</option>
            <option>15</option>
            <option>30</option>
            <option>35</option>
          </select>

          <!--<input type="text" class="input-mini"> : <input type="text" class="input-mini">-->
          <span class="help-inline">Click to set date</span>

        </div>
      </div>

      <div class="control-group string mandatory">
        <label class="string optional control-label" for="service_call_completed_on">Completed On</label>
        <div class="controls">
          <%= f.text_field :completed_on, class: "datepicker2 input-small" %>
          <strong>at</strong>
          <select id="select03" class="input-mini">
            <option>Hr</option>
            <option>00</option>
            <option>01</option>
            <option>02</option>
            <option>03</option>
          </select>
          <strong>: </strong>
          <select id="select04" class="input-mini">
            <option>Min</option>
            <option>00</option>
            <option>15</option>
            <option>30</option>
            <option>35</option>
          </select>

          <span class="help-inline">Click to set date</span>
        </div>
      </div>
    </div>

    <div class="span6">
      <div class="miya_note_area string mandatory">
        <%= f.input :notes %>
      </div>
    </div>

  </div>
</fieldset>