<ul class="unstyled" id="block_job_statuses_actions">
  <li>
    <div class="smart_label">
      <ul>
        <li><h1><%=I18n.t('general.general.job_number').html_safe + ": ".html_safe + "#{@service_call.ref_id}" %></h1></li>
        <li class="job_type_show">
               <span class="status_label" id="service_call_type">
               <badge>
                 <% if @service_call.class == MyServiceCall %>
                     <%= I18n.t('general.general.my_job') %>
                 <% else %>
                     <%= I18n.t('general.general.transferred_job') %>
                 <% end %>
               </badge>
               </span>
        </li>
      </ul>
    </div>
  </li>
  <li>

    <table class="table table-striped table-condensed table-sbcx">
      <tbody>
      <tr>
        <td><strong> <%= @service_call.class.human_attribute_name(:status) %></strong></td>
        <td>
                                          <span class="status_blue" id="service_call_status">
                                          <h3><%= @service_call.human_status_name %></h3>
                                          </span>
        </td>
      </tr>
      <tr>
        <td><strong> <%= @service_call.class.human_attribute_name(:work_status) %></strong></td>
        <td>
                                          <span class="status_green" id="service_call_work_status">
                                          <h3><%= @service_call.human_work_status_name %></h3>
                                          </span>

        </td>
      </tr>
      </tbody>
    </table>
    <% unless @service_call.subcon_na? %>
        <table class="table table-striped table-condensed table-sbcx">
          <thead>
          <tr><strong><%= @service_call.class.human_attribute_name(:subcontractor_status) %></strong></tr>
          </thead>
          <tbody>
          <tr>
            <td><%= @service_call.class.human_attribute_name(:subcontractor) %></td>
            <td>
                                              <span class="status_grey" id="service_call_subcontractor_name">
                                              <h3><%= @service_call.subcontractor.try(:name)  %></h3>
                                              </span>
            </td>
          </tr>
          </tr>
          <tr>
            <td> <%= @service_call.class.human_attribute_name(:subcontractor_status) %></td>
            <td>
                                                  <span class="status_green" id="service_call_subcontractor_status">
                                                  <h3><%= @service_call.human_subcontractor_status_name %></h3>
                                                  </span>
            </td>
          </tr>
          </tbody>
        </table>
    <% end %>
    <% unless @service_call.class == MyServiceCall %>
        <table class="table table-striped table-condensed table-sbcx">
          <thead>
          <tr><strong><%= @service_call.class.human_attribute_name(:provider_status) %></strong></tr>
          </thead>
          <tbody>
          <tr>
            <td><%= @service_call.class.human_attribute_name(:provider) %></td>
            <td>
                                              <span class="status_grey" id="service_call_provider_name">
                                              <h3><%= @service_call.provider.try(:name)  %></h3>
                                              </span>
            </td>
          </tr>
          </tr>
          <tr>
            <td> <%= @service_call.class.human_attribute_name(:provider_status) %></td>
            <td>
                                                  <span class="status_green" id="service_call_provider_status">
                                                  <h3><%= @service_call.human_provider_status_name %></h3>
                                                  </span>
            </td>
          </tr>
          </tbody>
        </table>
    <% end %>
    <table class="table table-striped table-condensed table-sbcx">
      <tbody>

      <tr>
        <td><strong><%= @service_call.class.human_attribute_name(:billing_status) %></strong></td>
        <td>
                                              <span class="status_red" id="service_call_billing_status">
                                              <h3><%= @service_call.human_billing_status_name %></h3>
                                              </span>
        </td>
      </tr>
      </tbody>
    </table>
  </li>
</ul>