<ul class="unstyled" id="block_job_statuses_actions">

  <li>
    <div class="smart_label statuses">
      <ul>
        <li><h1><%= I18n.t('general.general.job_statuses').html_safe %></h1>
        <li class="job_icons">
          <% if @service_call.class == MyServiceCall %>
              <% unless @service_call.subcon_na? %>
                  <%= image_tag("Itransferred.png", :title => I18n.t('general.messages.transferred_job').html_safe, :rel => 'tooltip') %>
              <% end %>
              <%= image_tag("myJobLarge.png", :title => I18n.t('general.messages.myJob').html_safe, :rel => 'tooltip') %>
          <% else %>
              <% if @service_call.transferred? %>
                  <%= image_tag("Itransferred.png", :title => I18n.t('general.messages.transferred_job').html_safe, :rel => 'tooltip') %>
              <% end %>
              <%= image_tag("Incoming.png", :title => I18n.t('general.messages.incoming_job').html_safe, :rel => 'tooltip') %>
          <% end %>

        </li>
      </ul>
    </div>
  </li>
  <li>

    <table class="table table-striped table-condensed table-sbcx">
      <tbody>
      <tr>
        <td><strong> <%= t('general.general.work') %></strong></td>
        <td>
          <span class="<%= style("service_call.states.status.#{@service_call.status_name}") %>" id="service_call_status">
          <h3><%= @service_call.human_status_name %></h3>
          </span>
        </td>
      </tr>
      <tr>
        <td><strong> <%= @service_call.class.human_attribute_name(:work_status) %></strong></td>
        <td>
          <span class="<%= StylingService.instance.get_style("service_call.states.work_status.#{@service_call.work_status_name}") %>" id="service_call_work_status">
          <h3><%= @service_call.human_work_status_name %></h3>
          </span>
        </td>
      </tr>
      <% unless @service_call.instance_of?(TransferredServiceCall) && @service_call.payment_na? %>
          <tr>
            <td><strong><%= t('general.general.customer_payment') %></strong></td>
            <td>
              <h3><span class="<%= style("service_call.states.billing_status.#{@service_call.billing_status_name}") %>" id="service_call_billing_status">
                  <%= @service_call.human_billing_status_name %>
              </span></h3>
            </td>
          </tr>
      <% end %>

      </tbody>
    </table>


  </li>

  <% unless @service_call.subcon_na? %>
      <li>
        <table class="table table-striped table-condensed table-sbcx">
          <tbody>
          <tr>
            <td class="affiiate_statuses">
              <!--Customized Tooltip-->
              <strong>  <%= @service_call.class.human_attribute_name(:subcontractor_status) %></strong>
            </td>
            <% if @service_call.subcon_transfer_props.first.attribute_names.size > 0 %>

               <td>
                 <span class="badge custom_tooltip">
                      <div class="hover">
                        <!--<#%= humanized_money_with_symbol @service_call.transfer_props.first.subcon_fee  %>-->
                        <%= humanized_money_with_symbol @service_call.subcon_transfer_props.first.subcon_fee %>
                        <div class="tooltip"><%= I18n.t('general.general.subcon_fee') %></div>
                      </div>
                  </span>
              </td>
              <% end %>
            <td class="show_more_button">
                    <span class="<%= style("service_call.states.subcontractor_status.#{@service_call.subcontractor_status_name}") %>" id="show_subco_statuses">
                       <%= link_to @service_call.human_subcontractor_status_name, "#subco_statuses", class: "", data: { toggle: 'collapse' }, :title => I18n.t('general.messages.click_more').html_safe, :rel => 'tooltip' %>
                      <!--<i class="icon-chevron-down"></i>-->
                    </span>
           </td>
          </tr>


          </tbody>
        </table>
      </li>
      <li>
        <div class="collapse subco_statuses_collapse_frame" id="subco_statuses">
          <div class="subco_statuses_collapse">
            <table class="table table-striped table-condensed table-sbcx">
            <tbody>

            <tr>
              <td><strong><%= @service_call.class.human_attribute_name(:subcontractor) %></strong></td>
              <td>
                  <span class="<%= style("service_call.states.subcontractor_status.#{@service_call.subcontractor_status_name}") %>" id="service_call_subcontractor_name">
                  <h3><%= link_to(@service_call.subcontractor.try(:name), affiliate_path(@service_call.subcontractor)) if @service_call.subcontractor.present? %></h3>
                  </span>
              </td>
            </tr>

            <%= render 'service_calls/transfer_props/subcon_agreement_props' %>

            <tr>
              <td><strong><%= t('general.general.subcon_agreement') %></strong></td>
              <td>
                 <span class="status_grey">
                 <h3><%= link_to(truncate("#{@service_call.subcon_agreement.try(:name)}:#{@service_call.subcon_agreement.try(:id)}", length: 15),
                                 @service_call.subcon_agreement.becomes(Agreement),
                                 title: "#{@service_call.subcon_agreement.try(:name)}:#{@service_call.subcon_agreement.try(:id)}") if @service_call.subcon_agreement.present? && @service_call.subcontractor.present? %>
                 </h3></span>

              </td>
            </tr>

            <tr>
              <td><strong> <%= @service_call.class.human_attribute_name(:subcontractor_status) %></strong></td>
              <td>
                  <span class="<%= style("service_call.states.subcontractor_status.#{@service_call.subcontractor_status_name}") %>" id="service_call_subcontractor_status">
                  <h3><%= @service_call.human_subcontractor_status_name %></h3>
                  </span>
              </td>
            </tr>
            <tr>

              <td><strong> <%= t('general.general.collection_status') %></strong></td>
              <td>
                    <span class="<%= style("service_call.states.subcon_collection_status.#{@service_call.subcon_collection_status_name}") %>" id="service_call_subcon_collection_status">
                  <h3><%= @service_call.human_subcon_collection_status_name %></h3>
                  </span>
              </td>

            </tr>


            </tbody>
          </table>
          </div>
        </div>
      </li>
  <% end %>

  <% unless @service_call.class == MyServiceCall %>
      <li>
        <table class="table table-striped table-condensed table-sbcx affiliate_statuses">
          <tbody>
          <tr>
            <% if @service_call.provider_transfer_props.first.attribute_names.size > 0 %>

              <td class="affiiate_statuses">
                 <!--Customized Tooltip-->
                  <strong><%= @service_call.class.human_attribute_name(:provider_status) %></strong>
              </td>
              <td>
                     <span class="badge custom_tooltip">
                      <div class="hover">
                        <%= humanized_money_with_symbol @service_call.provider_transfer_props.first.provider_fee %>
                        <div class="tooltip"><%= I18n.t('general.general.provider_fee') %></div>
                      </div>
                   </span>
              </td>
              <% end %>

            <td class="show_more_button">
                  <span class="<%= style("service_call.states.provider_status.#{@service_call.provider_status_name}") %>" id="show_prov_statuses">
                       <%= link_to @service_call.human_provider_status_name, "#prov_statuses", class: "", data: { toggle: 'collapse' }, :title => I18n.t('general.messages.click_more').html_safe, :rel => 'tooltip' %>
                    <!--<i class="icon-chevron-down"></i>-->
                  </span>
            </td>
          </tr>
          <tr>
          </tbody>
        </table>
      </li>
      <li>
        <div class="collapse subco_statuses_collapse_frame" id="prov_statuses">
          <div class="subco_statuses_collapse">
             <table class="table table-striped table-condensed table-sbcx affiiate_statuses">
                <tbody>

                <tr>
                  <td><strong><%= @service_call.class.human_attribute_name(:provider) %></strong></td>
                  <td>
                      <span class="<%= style("service_call.states.provider_status.#{@service_call.provider_status_name}") %>" id="service_call_provider_name">
                      <h3><%= link_to @service_call.provider.try(:name), affiliate_path(@service_call.provider.id) %></h3>
                      </span>
                  </td>
                </tr>
                <%= render 'service_calls/transfer_props/prov_agreement_props' %>
                <tr>
                  <td><strong><%= @service_call.class.human_attribute_name(:provider_agreement) %></strong></td>
                  <td>
                      <span class="status_grey">
                     <h3><%= link_to truncate("#{@service_call.provider_agreement.try(:name)}:#{@service_call.provider_agreement.try(:id)}", length: 15), agreement_path(@service_call.provider_agreement), title: "#{@service_call.provider_agreement.try(:name)}:#{@service_call.provider_agreement.try(:id)}" %>
                     </h3></span>
                  </td>
                </tr>
                <tr>
                  <td><strong><%= @service_call.class.human_attribute_name(:provider_status) %></strong></td>
                  <td>
                      <span class="<%= style("service_call.states.provider_status.#{@service_call.provider_status_name}") %>" id="service_call_provider_status">
                          <h3><%= @service_call.human_provider_status_name %></h3>
                      </span>
                  </td>
                </tr>
                <tr>

                  <td><strong> <%= t('general.general.collection_status') %></strong></td>
                  <td>
                    <span class="<%= style("service_call.states.subcon_collection_status.#{@service_call.prov_collection_status_name}") %>" id="service_call_prov_collection_status">
                  <h3><%= @service_call.human_prov_collection_status_name %></h3>
                  </span>
                  </td>

                </tr>
                </tbody>
          </table>
        </div>
        </div>
      </li>
  <% end %>

</ul>