<div class="row-fluid">
  <div class="smart_label designed_tooltip">
    <ul>
      <li><h1><%= t('general.general.billing') %></h1></li>


      <% if @service_call.total_price > 0 %>
          <li class="total_price">
            <div class="total_bom">

              <badge><%= t('general.general.total_price').html_safe %>
                <span id='job_total_price'><%= humanized_money_with_symbol @service_call.total_price %></span>
              </badge>
            </div>

          </li>
      <% end %>

      <% if  @service_call.total_cost > 0 %>
          <li class="total_price">
            <div class="total_bom">

              <badge><%= t('general.general.total_cost').html_safe %>
                <span id='job_total_cost'> <%= humanized_money_with_symbol @service_call.total_cost %></span>
              </badge>
            </div>

          </li>

      <% end %>


      <li>
        <% if @service_call.can_change_boms? %>
            <%= button_tag t('general.general.add_part'), :class => 'btn btn-primary', id: 'new-bom-button', data: { toggle: "collapse", target: "#bom" } %></li>
        <% else %>

            <!--My Job and not transferred-->
            <% if @service_call.class == MyServiceCall && @service_call.work_pending? && !@service_call.transferred? %>
                <%= image_tag("question24.png", :title => I18n.t('general.messages.no_bom_start'), :rel => 'tooltip', "data-placement" => "left") %>
            <% end %>

            <!--My Job and I transferred to local-->
            <% if @service_call.instance_of?(MyServiceCall) && @service_call.work_pending? && @service_call.transferred? && !@service_call.subcontractor.subcontrax_member? %>
                <%= image_tag("question24.png", :title => I18n.t('general.messages.no_bom_transferred_to_local'), :rel => 'tooltip', "data-placement" => "left") %>
            <% end %>

            <!-- My Job, and I transferred to local, accepted and pending my START-->
            <% if  @service_call.class == MyServiceCall && @service_call.work_accepted? %>
                <%= image_tag("question24.png", :title => I18n.t('general.messages.no_bom_transferred_accepted'), :rel => 'tooltip', "data-placement" => "left") %>
            <% end %>

            <!--My Job and I transferred to subco member-->
            <% if @service_call.class == MyServiceCall && (@service_call.work_pending? || @service_call.work_accepted?) && @service_call.transferred? && @service_call.subcontractor.subcontrax_member? %>
                <%= image_tag("question24.png", :title => I18n.t('general.messages.no_bom_transferred_to_member'), :rel => 'tooltip', "data-placement" => "left") %>
            <% end %>

            <!--Job transferred from local/subco-->
            <% if @service_call.class == TransferredServiceCall && @service_call.work_pending? && !@service_call.accepted? && !@service_call.work_done?  %>
                <%= image_tag("question24.png", :title => I18n.t('general.messages.no_bom_transferred_from_provider'), :rel => 'tooltip', "data-placement" => "left") %>
            <% end %>

            <!--Job transferred, accepted and pending my START-->
            <% if @service_call.class == TransferredServiceCall && @service_call.accepted? && !@service_call.work_done? %>
                <%= image_tag("question24.png", :title => I18n.t('general.messages.no_bom_transferred_accepted'), :rel => 'tooltip', "data-placement" => "left") %>
            <% end %>

            <!--Job completed-->
            <% if @service_call.work_done? %>
                <%= image_tag("question24.png", :title => I18n.t('general.messages.no_bom_completed'), :rel => 'tooltip', "data-placement" => "left") %>
            <% end %>

            <a href="#" class="btn btn-primary disabled"><%= t('general.general.add_part') %></a>
        <% end %>
        </li>

   </ul>
  </div>


  <div class="bom collapse" id="bom">
    <%= render 'boms/in_line_form', ticket: @service_call.becomes(ServiceCall) %>

  </div>
  <br>

  <table class="table table-striped" id="boms-table">
    <thead>
    <tr>
      <th><%= Bom.human_attribute_name(:material_name) %></th>
      <th><%= Bom.human_attribute_name(:quantity) %></th>
      <th><%= Bom.human_attribute_name(:cost) %></th>
      <th><%= Bom.human_attribute_name(:price) %></th>
      <th><%= Bom.human_attribute_name(:total_cost) %></th>
      <th><%= Bom.human_attribute_name(:total_price) %></th>
      <th><%= Bom.human_attribute_name(:buyer) %></th>
      <th><%= I18n.t('general.general.actions') %></th>
    </tr>
    </thead>
    <tbody id="boms">

    <% @service_call.boms.each do |bom| %>
          <%= render 'boms/bom', bom: bom %>
    <% end %>
    </tbody>
  </table>

</div>