<div class="well well_job_history" id="job_statuses_actions">

  <%= render :partial => 'job_statuses' %>
  <br>

  <ul class="unstyled">
    <li>
      <div class="smart_label">
        <ul>
          <li>
            <h1><%= I18n.t('general.general.actions') %>
              <% if @service_call.class == MyServiceCall && @service_call.work_pending? && !@service_call.transferred? %>

                  <% if @service_call.organization.multi_user? %>
                      <%= image_tag("question24.png", :title => I18n.t('general.messages.actions_local_job_dispatch'), :rel => 'tooltip') %>
                  <% else %>
                      <%= image_tag("question24.png", :title => I18n.t('general.messages.actions_local_job'), :rel => 'tooltip') %>
                  <% end %>

              <% end %>

              <% if @service_call.class == MyServiceCall && @service_call.work_dispatched? && !@service_call.transferred? %>
                  <%= image_tag("question24.png", :title => I18n.t('general.messages.actions_local_job_dispatched'), :rel => 'tooltip') %>
              <% end %>
            </h1>
          </li>
          <li></li>
        </ul>
      </div>
    </li>
    <li>
      <div class="action_buttons_service_call">
        <%= event_list(@service_call) %>
      </div>
    </li>
  </ul>

</div>