<div class="span8" id="job_details">
  <div class="smart_label">
    <ul>
      <li><h1><%= I18n.t('general.general.job_type') %></h1></li>
      <li></li>
      <% unless @service_call.events.empty? %>
          <li>
            <button type="button" class="btn btn-primary btn-medium" data-toggle="modal" data-target="#myModal">
              <%= I18n.t('general.general.job_history') %>
            </button>
          </li>
      <% end %>
    </ul>
  </div>
  <br>
  <!--Update Job Info-->
  <div class="row-fluid">
    <div class="span6">
      <ul class="unstyled list_service_calls">
        <li>
          <label><%= @service_call.class.human_attribute_name(:started_on_text) %></label>
          <%= best_in_place_if (permitted_attribute? @service_call, :started_on_text), @service_call, :started_on_text, type: :datetime, :nil => I18n.t('general.click_to_edit') %>
        </li>
        <li>
          <label><%= @service_call.class.human_attribute_name(:completed_on_text) %></label>
          <%= best_in_place_if (permitted_attribute? @service_call, :completed_on_text), @service_call, :completed_on_text, type: :datetime, :nil => I18n.t('general.click_to_edit') %>
        </li>
        <li>
          <label><%= @service_call.class.human_attribute_name(:scheduled_for_text) %></label>
          <%= best_in_place_if (permitted_attribute? @service_call, :scheduled_for_text), @service_call, :scheduled_for_text, type: :datetime, :nil => I18n.t('general.click_to_edit') %>
        </li>
        <li>

            <label><%= @service_call.class.human_attribute_name(:customer) %></label>
          <span id="customer-name" class="customer-autocomplete" data-job-id="<%= @service_call.id %>" data-obj-type="<%= @service_call.class.name.underscore %>"> <%= @service_call.customer.name %> </span>

        </li>
        <li class="list_service_calls" id="customer_details">
          <address>
            <%= best_in_place @service_call, :address1 %>
            <br>
            <%= best_in_place @service_call, :address2 %>
            <br>
            <%= best_in_place @service_call, :city %>
            , <%= best_in_place @service_call, :state %> <%= best_in_place @service_call, :zip %>
            <br>
            <strong><%= @service_call.class.human_attribute_name(:phone) %></strong>: <%= best_in_place @service_call, :phone %>
            <br>
            <strong><%= @service_call.class.human_attribute_name(:mobile_phone) %></strong>:  <%= best_in_place @service_call, :mobile_phone %>
            <br>
          </address>
        </li>
        <% if @service_call.technician.present? && @service_call.organization.my_user?(@service_call.technician) %>
            <li>
              <label class=""><%= @service_call.class.human_attribute_name(:technician) %></label>
              <%= link_to '', @service_call.technician do %>
                  <%= best_in_place_if (permitted_attribute? @service_call, :technician_id), @service_call, :technician, type: :select, collection: technicians_collection %>
              <% end %>
            </li>
        <% end %>
        <li>
          <div class="control-group select required">
            <label class=""><%= @service_call.class.human_attribute_name(:subcontractor) %></label>
            <%= best_in_place_if (permitted_attribute? @service_call, :subcontractor_id), @service_call, :subcontractor_id, type: :select, collection: subcontractor_collection %>
          </div>
        </li>

      </ul>
    </div>

    <div class="span6" id="job_notes">
      <label class=""><strong><%= @service_call.class.human_attribute_name(:notes) %></strong></label>
      <div class="area">
      <%= best_in_place_if (permitted_attribute? @service_call, :subcontractor_id), @service_call, :notes, :type => :textarea, :ok_button => 'Save', :cancel_button => 'Cancel' %>
     </div>
    </div>

  </div>
    <!--end of status & Job details section-->

    <!--Parts-->
    <%= render 'job_boms' %>

  </div>
</div>

