<div class="job_billing_info">
  <ul data-role="listview">

    <li>
      <div class="ui-grid-a">
        <div class="ui-block-a"><%= t('general.general.total_price').html_safe %></div>
        <div class="ui-block-b">
          <span class="shift_total_price"> <%= humanized_money_with_symbol @service_call.total_price %></span></div>
      </div>
    </li>
    <li>
      <div class="ui-grid-a">
        <div class="ui-block-a"><%= t('general.general.total_cost').html_safe %></div>
        <div class="ui-block-b">
          <span class="shift_total_price"><%= humanized_money_with_symbol @service_call.total_cost %></span></div>
      </div>
    </li>
    <% if @service_call.work_done? %>
    <li>
      <div class="ui-grid-a">
        <div class="ui-block-a"><%= t('general.general.my_profit').html_safe %></div>
        <div class="ui-block-b">
          <span class="shift_total_price"><%= humanized_money_with_symbol @service_call.my_profit %></span></div>
      </div>
    </li>
    <% end %>

    <!--Tax-->
    <% if (permitted_attribute? @service_call, :tax) %>
        <li class="affiliate_balance_billing">
          <%= link_to I18n.t('general.general.update_tax'), "#update_tax", "data-rel" => "popup", "data-transition" => "pop" %>
          <p><span class="black_badge"><%= @service_call.tax %>%</span></p>
        </li>

    <% else %>

        <li>
          <div class="ui-grid-a">
            <div class="ui-block-a"><%= t('general.general.update_tax') %></div>
            <div class="ui-block-b"><span class="shift_total_price"><%= @service_call.tax %></span></div>
          </div>
        </li>


    <% end %>

    <li>
      <div class="ui-grid-a">
        <div class="ui-block-a"><%= t('general.general.total').html_safe %></div>
        <div class="ui-block-b">
          <span class="shift_total_price"><%= humanized_money_with_symbol @service_call.total %></span></div>
      </div>
    </li>


  </ul>

  <br>

  <!--end of billing-->
</div>


<!--Tax Popup-->
<div data-role="popup" id="update_tax" data-overlay-theme="a" data-theme="c" data-dismissible="false" style="max-width:400px;" class="ui-corner-all">

  <div data-role="header" data-theme="a" class="ui-corner-top">
    <h1><%= t('general.general.tax_update') %></h1>
    <a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>

  </div>

  <div data-role="content" data-theme="d" class="ui-corner-bottom ui-content">
    <br>
    <%= simple_form_for @service_call, as: :service_call, url: service_call_url(@service_call), :html => { :class => 'form-horizontal' }, :remote => true do |f| %>


        <div class="customer_contacts">

          <div class="ui-grid-a">
            <div class="ui-block-a"><%= t('general.general.update_tax') %></div>
            <div class="ui-block-b"> <%= f.text_field :tax, "type" => "range", "name" => "service_call[tax]", id: "slider-1", "value" => "1", "min" => "0", "max" => "100", 'step' => '0.0001'%></div>
          </div>
        </div>

        <%= f.submit t('general.general.tax_update'), id: 'service_call_tax_btn', class: "ui-btn-up-b", "data-theme" => "b", "data-role" => "button", "data-icon" => "check", "data-iconpos" => "left", "data-transition" => "slide" %>

        <br>
        <%= link_to I18n.t('general.general.back'), service_call_path(@service_call), "data-role" => "button", "data-iconpos" => "left", "data-theme" => "d", "data-icon" => "arrow-l", "data-mini" => "true", id: 'back_notification_btn' %>

    <% end %>
    <br>
  </div>
</div>

