<div class="well well_job_history">
  <div class="row-fluid">
    <br>
    <%= render 'appointments/add_appointment', appointable: @service_call %>
    <br>

    <table class="table table-striped" id="event_log_in_service_call">
      <thead>
      <tr>
        <th><%= I18n.t('general.general.title') %> </th>
        <th><%= I18n.t('general.general.description') %></th>
        <th><%= I18n.t('general.general.started_at') %></th>
        <th><%= I18n.t('general.general.ends_at') %></th>
      </tr>
      </thead>
      <tbody id="appointments">
          <% @service_call.appointments.each do |appointment| %>

      <tr id="appointment_<%= appointment.id %>">
                <%= render 'appointments/appointment', appointment: appointment %>
              </tr>
          <% end %>
      </tbody>
    </table>

  </div>

  <div class="row-fluid">

    <div class="span5">
      <%= render 'appointments/in_line_form', appointment: @service_call.appointments.build %>

    </div>

    <div class="span7" id="calendar"></div>

  </div>


</div>


