<div class="well well_job_show well_job_history">
    <div class="smart_label">
      <ul>
        <li><h1><%= I18n.t('general.general.job_history').html_safe %></h1></li>
        <li>
        </li>
      </ul>
    </div>
    <br>

    <table class="table table-striped events" id="event_log_in_service_call">
      <thead>
      <tr>
        <th><%= Event.human_attribute_name(:created_at) %></th>
        <th><%= Event.human_attribute_name(:reference_id) %> </th>
        <th><%= Event.human_attribute_name(:name) %> </th>
        <th><%= Event.human_attribute_name(:description) %></th>
        <th><%= Event.human_attribute_name(:creator) %></th>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
 </div>
