<div class="well well_job_show well_job_history">
  <!--Billing Summary-->

  <div class="smart_label title_label">
    <ul class="">
      <li><h1><%= I18n.t('general.general.billing_summary').html_safe %></h1></li>
      <li class="">
        <% if @service_call.work_done? %>
            <h3>
              <span class="inline"><strong> <%= t('general.general.my_profit').html_safe %></strong></span>
              <% if @service_call.try(:my_profit) < 0 %>
                  <span class="negative"><%= humanized_money_with_symbol @service_call.my_profit %></span>
              <% else %>
                  <% if @service_call.try(:my_profit) > 0 %>
                      <span class="positive"><%= humanized_money_with_symbol @service_call.my_profit %></span>
                  <% else %>
                      <span class="balanced"><%= humanized_money_with_symbol @service_call.my_profit %></span>
                  <% end %>

              <% end %>
            </h3>
        <% end %>

      </li>
      <li>
        <%= button_tag Invoice.model_name.human.pluralize, :class => 'btn btn-primary',
                       id:                                        'show_invoices_button', data: { toggle: "collapse", target: "#job_invoices" } if invoice_allowed? %>

        <% unless @service_call.my_role == :subcon || @service_call.my_role == :broker %>
            <%= button_tag t('general.general.receipts'), :class => 'btn btn-primary',
                           id:                                   'show_receipt_button', data: { toggle: "collapse", target: "#job_receipts" } if invoice_allowed? %>
        <% end %>
      </li>
    </ul>
  </div>

  <div class="row-fluid">
    <div id="job-billing-component" class="center-block"
         <% if @service_call.my_role == :prov || @service_call.allow_collection? %>
         data-customer-comp="<%= {
                                     account: @service_call.customer_account.id,
                                     name:    @service_call.customer.name,
                                     actions: @service_call.user_billing_events,
                                     status:  @service_call.billing_status

                                 }.to_json %>"

         <% end %>
         <% if @service_call.my_role != :prov %>
         data-prov-comp="<%= {
                                 account: @service_call.provider_account.id,
                                 name:    @service_call.provider.name,
                                 actions: @service_call.provider_status_events,
                                 status:  @service_call.provider_status

                             }.to_json %>"
         <% end %>

         <% if @service_call.subcontractor_id && @service_call.subcon_account %>
         data-subcon-comp="<%= {
                                   account: @service_call.subcon_account.id,
                                   name:    @service_call.subcontractor.name,
                                   actions: @service_call.subcontractor_status_events,
                                   status:  @service_call.subcontractor_status

                               }.to_json %>"
         <% end %>


         data-job-id="<%= @service_call.id %>"
         data-org-id="<%= @org.id %>"
         data-subcon-name="<%= @service_call.subcontractor.try(:name) %>"
         data-job-role="<%= @service_call.my_role %>"
         data-customer-name="<%= @service_call.customer.name %>"
         data-customer-account="<%= @service_call.customer_account.id %>"
         data-subcon-actions="<%= @service_call.subcontractor_status_events.to_json %>"
         data-actions="<%= @service_call.status_events.to_json %>"
         data-billing-actions="<%= @service_call.billing_status_events.to_json %>"
         data-status="<%= @service_call.status %>"
         data-work-status="<%= @service_call.work_status %>"
         data-entries="<%= ActiveModel::ArraySerializer.new(@service_call.entries.all, each_serializer: AccountingEntrySerializer).to_json %>">


    </div>

  </div>


  <!-- Entries -->
  <%= render 'job_invoices' if invoice_allowed? %>
  <%= render 'job_receipts' %>

  <%= render 'job_boms' %>


</div>
