<div class="well well_job_history well_job_show">

<div class="row-fluid job_billing_summary">
  <div class="span4">

    <ul class="unstyled">
      <li>
        <div class="smart_label">
          <ul>
            <li><h1><%= I18n.t('general.general.billing_summary').html_safe %></h1>
            <li><%= link_to "Download Invoice", service_call_path(@service_call, format: :pdf), target: '_blank' if @service_call.already_invoiced? %></li>
            <li></li>
          </ul>
        </div>
      </li>
      <li>
        <!--General Summary-->
        <table class="table table-striped table-condensed table-sbcx">
          <tbody>
          <tr>
            <td><strong> <%= t('general.general.total_price').html_safe %></strong></td>
            <td><h3><%= humanized_money_with_symbol @service_call.total_price %></h3></td>
          </tr>
          <tr>
            <td><strong> <%= t('general.general.total_cost').html_safe %></strong></td>
            <td><h3><%= humanized_money_with_symbol @service_call.total_cost %></h3></td>
          </tr>
          <tr>
            <td><strong> <%= t('general.general.my_profit').html_safe %></strong></td>
            <td><h3><%= humanized_money_with_symbol @service_call.my_profit %></h3></td>
          </tr>
          </tbody>
        </table>

      </li>
      <!--Affiliates Balance-->
      <li>
        <% case @service_call.my_role when :subcon %>
            <table class="table table-striped table-condensed table-sbcx">
              <tbody>
              <tr>
                <td><strong><%= I18n.t('general.general.provider_balance') %></strong></td>
                <td>
                  <button class="btn btn-mini btn-primary" type="button" id="show_provider_entries" data-toggle="collapse" data-target="#prov_billing_entries"><%= I18n.t('general.general.get_entries') %></button>
                </td>

                <% if @service_call.provider_balance < 0 %>
                    <td class="negative"><%= humanized_money_with_symbol @service_call.provider_balance %></td>
                <% else %>
                    <td class="positive"><%= humanized_money_with_symbol @service_call.provider_balance %></td>
                <% end %>
              </tr>
              </tbody>
            </table>

        <% when :broker %>
            <table class="table table-striped table-condensed table-sbcx">
              <tbody>
              <tr>
                <td><strong><%= I18n.t('general.general.provider_balance') %></strong></td>
                <td>
                  <button class="btn btn-mini btn-primary" type="button" id="show_prov_entries" data-toggle="collapse" data-target="#prov_billing_entries"><%= I18n.t('general.general.get_entries') %></button>
                </td>
                <% if @service_call.provider_balance < 0 %>
                    <td class="negative"><%= humanized_money_with_symbol @service_call.provider_balance %></td>
                <% else %>
                    <td class="positive"><%= humanized_money_with_symbol @service_call.provider_balance %></td>
                <% end %>
              </tr>
              <tr>
                <td><strong><%= I18n.t('general.general.subcontractor_balance') %></strong></td>
                <td>
                  <button class="btn btn-mini btn-primary" type="button" id="show_subcon_entries" data-toggle="collapse" data-target="#subco_billing_entries"><%= I18n.t('general.general.get_entries') %></button>
                </td>
                <% if @service_call.subcon_balance < 0 %>
                    <td class="negative"><%= humanized_money_with_symbol @service_call.subcon_balance %></td>
                <% else %>
                    <td class="positive"><%= humanized_money_with_symbol @service_call.subcon_balance %></td>
                <% end %>
              </tr>
              </tbody>
            </table>


        <% else %>


            <table class="table table-striped table-condensed table-sbcx">
              <tbody>
              <tr>
                <td><strong><%= I18n.t('general.general.subcontractor_balance') %></strong></td>
                <td>
                  <button class="btn btn-mini btn-primary" type="button" id="show_subconractor_entries" data-toggle="collapse" data-target="#subco_billing_entries"><%= I18n.t('general.general.get_entries') %></button>
                </td>

                <% if @service_call.subcon_balance < 0 %>
                    <td class="negative"><%= humanized_money_with_symbol @service_call.subcon_balance %></td>
                <% else %>
                    <td class="positive"><%= humanized_money_with_symbol @service_call.subcon_balance %></td>
                <% end %>
              </tr>
              </tbody>
            </table>

        <% end %>


      </li>

    </ul>
  </div>
</div>


<br>
<br>

<!--Subcon Entries-->
<div class="collapse" id="subco_billing_entries">
  <div class="row-fluid">
    <div class="smart_label">
      <ul>
        <li><h1><%= I18n.t('general.general.subcon_entries').html_safe %></h1>
        <li></li>
      </ul>
    </div>

    <table class="table table-striped" id="subcon_entries_in_service_call">
      <thead>
      <tr>
        <th><%= AccountingEntry.human_attribute_name(:id) %> </th>
        <th><%= AccountingEntry.human_attribute_name(:account) %> </th>
        <th><%= Account.human_attribute_name(:accountable_type).titleize %> </th>
        <th><%= AccountingEntry.human_attribute_name(:created_at) %> </th>
        <th><%= AccountingEntry.human_attribute_name(:type) %></th>
        <th><%= AccountingEntry.human_attribute_name(:description) %></th>
        <th><%= AccountingEntry.human_attribute_name(:amount) %> </th>
      </tr>
      </thead>
      <tbody>
      <% @service_call.subcon_entries.each do |entry| %>
          <tr>
            <td><%= entry.id %></td>
            <td><%= entry.account.accountable.name %></td>
            <td><%= entry.account.accountable.class.model_name.human %></td>
            <td><%= l entry.created_at %></td>
            <td><%= entry.type.constantize.model_name.human %></td>
            <td><%= entry.description %></td>
            <td><%= humanized_money_with_symbol entry.amount %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <br>
  <br>
</div>


<!--provider Entries-->
<div class="collapse" id="prov_billing_entries">
  <div class="row-fluid">
    <div class="smart_label">
      <ul>
        <li><h1><%= I18n.t('general.general.provider_entries').html_safe %></h1>
        <li></li>
      </ul>
    </div>

    <table class="table table-striped" id="prov_entries_in_service_call">
      <thead>
      <tr>
        <th><%= AccountingEntry.human_attribute_name(:id) %> </th>
        <th><%= AccountingEntry.human_attribute_name(:account) %> </th>
        <th><%= Account.human_attribute_name(:accountable_type).titleize %> </th>
        <th><%= AccountingEntry.human_attribute_name(:created_at) %> </th>
        <th><%= AccountingEntry.human_attribute_name(:type) %></th>
        <th><%= AccountingEntry.human_attribute_name(:description) %></th>
        <th><%= AccountingEntry.human_attribute_name(:amount) %> </th>
      </tr>
      </thead>
      <tbody>
      <% @service_call.provider_entries.each do |entry| %>
          <tr>
            <td><%= entry.id %></td>
            <td><%= entry.account.accountable.name %></td>
            <td><%= entry.account.accountable.class.model_name.human %></td>
            <td><%= l entry.created_at %></td>
            <td><%= entry.type.constantize.model_name.human %></td>
            <td><%= entry.description %></td>
            <td><%= humanized_money_with_symbol entry.amount %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <br>
  <br>
</div>


<!--All billing entries-->
<div class="row-fluid">

  <div class="smart_label">
    <ul>
      <li><h1><%= I18n.t('general.general.billing_entries').html_safe %></h1>
      <li></li>
    </ul>
  </div>

  <!--<#% if @service_call.subcon_balance.nil? %>-->
  <!--<#%= @service_call.provider_balance %>-->
  <!--<#% else %>-->
  <!--<#%= @service_call.provider_balance  + @service_call.subcon_balance  %>-->
  <!--<#% end %>-->

  <table class="table table-striped" id="event_log_in_service_call">
    <thead>
    <tr>
      <th><%= AccountingEntry.human_attribute_name(:id) %> </th>
      <th><%= AccountingEntry.human_attribute_name(:account) %> </th>
      <th><%= Account.human_attribute_name(:accountable_type).titleize %> </th>
      <th><%= AccountingEntry.human_attribute_name(:created_at) %> </th>
      <!--<th><#%= AccountingEntry.human_attribute_name(:status) %> </th>-->
      <th><%= AccountingEntry.human_attribute_name(:type) %></th>
      <th><%= AccountingEntry.human_attribute_name(:description) %></th>
      <th><%= AccountingEntry.human_attribute_name(:amount) %> </th>
    </tr>
    </thead>
    <tbody>
    <% @service_call.entries.each do |entry| %>
        <tr>
          <td><%= entry.id %></td>
          <td><%= entry.account.accountable.name %></td>
          <td><%= entry.account.accountable.class.model_name.human %></td>
          <td><%= l entry.created_at %></td>
          <!--<td><#%= entry.human_status_name %></td>-->
          <td><%= entry.type.constantize.model_name.human %></td>
          <td><%= entry.description %></td>
          <td><%= humanized_money_with_symbol entry.amount %></td>
        </tr>
    <% end %>
    </tbody>
  </table>


</div>

<!--end of well-->
</div>


