<ul class="unstyled" id="block_job_statuses_actions">
  <li>
    <div class="smart_label statuses">
      <ul>
        <li><h1><%= I18n.t('general.general.job_statuses').html_safe  %></h1>
        <li class="job_icons">
          <% if @service_call.class == MyServiceCall %>
              <% if @service_call.transferred? %>
                  <%= image_tag("Itransferred.png", :title => I18n.t('general.messages.transferred_job').html_safe, :rel => 'tooltip') %>
              <% end %>
              <%= image_tag("myJobLarge.png", :title => I18n.t('general.messages.myJob').html_safe, :rel => 'tooltip') %>
         <% else %>
              <%= image_tag("Incoming.png", :title => I18n.t('general.messages.incoming_job').html_safe, :rel => 'tooltip') %>
        <% end %>

         </li>
      </ul>
    </div>
  </li>
  <li>

    <table class="table table-striped table-condensed table-sbcx">
      <tbody>
      <!--<tr>-->
        <!--<td><strong><#%= I18n.t('general.general.job_source') %></strong></td>-->
        <!--<td><span class="status_blue">-->
              <!--<#% if @service_call.class == MyServiceCall %>-->
                 <!--<h3> <#%= I18n.t('general.general.my_job') %></h3>-->
              <!--<#% else %>-->
                  <!--<h3><#%= I18n.t('general.general.transferred_job') %></h3>-->
              <!--<#% end %>-->
        <!--</span>-->
        <!--</td>-->
      <!--</tr>-->

      <tr>
        <td><strong> <%= @service_call.class.human_attribute_name(:status) %></strong></td>
        <td>
          <span class="<%= StylingService.instance.get_style("service_call.states.status.#{@service_call.status_name}") %>" id="service_call_status">
          <h3><%= @service_call.human_status_name %></h3>
          </span>
        </td>
      </tr>
      <tr>
        <td><strong> <%= @service_call.class.human_attribute_name(:work_status) %></strong></td>
        <td>
          <span class="<%= StylingService.instance.get_style("service_call.states.work_status.#{@service_call.work_status_name}") %>" id="service_call_work_status">
          <h3><%= @service_call.human_work_status_name %></h3>
          </span>
        </td>
      </tr>
      </tbody>
    </table>
    <% unless @service_call.subcon_na? %>
        <table class="table table-striped table-condensed table-sbcx">
          <thead>
          <tr><strong><%= @service_call.class.human_attribute_name(:subcontractor_status) %></strong></tr>
          </thead>
          <tbody>
          <tr>
            <td><%= @service_call.class.human_attribute_name(:subcontractor) %></td>
            <td>
              <span class="<%= StylingService.instance.get_style("service_call.states.work_status.#{@service_call.subcontractor_status_name}") %>" id="service_call_subcontractor_name">
              <h3><%= link_to @service_call.subcontractor.try(:name), affiliate_path(@service_call.subcontractor.id) %></h3>
              </span>
            </td>
          </tr>
          </tr>
          <tr>
            <td> <%= @service_call.class.human_attribute_name(:subcontractor_status) %></td>
            <td>
              <span class="<%= StylingService.instance.get_style("service_call.states.subcontractor_status.#{@service_call.subcontractor_status_name}") %>" id="service_call_subcontractor_status">
              <h3><%= @service_call.human_subcontractor_status_name %></h3>
              </span>
            </td>
          </tr>
          </tbody>
        </table>
    <% end %>
    <% unless @service_call.class == MyServiceCall %>
        <table class="table table-striped table-condensed table-sbcx">
          <thead>
          <tr><strong><%= @service_call.class.human_attribute_name(:provider_status) %></strong></tr>
          </thead>
          <tbody>
          <tr>
            <td><%= @service_call.class.human_attribute_name(:provider) %></td>
            <td>
              <span class="<%= style("service_call.states.provider_status.#{@service_call.provider_status_name}") %>" id="service_call_provider_name">
              <h3><%= link_to @service_call.provider.try(:name), affiliate_path(@service_call.provider.id) %></h3>
              </span>
            </td>
          </tr>
          </tr>
          <tr>
            <td> <%= @service_call.class.human_attribute_name(:provider_status) %></td>
            <td>
              <span class="<%= style("service_call.states.provider_status.#{@service_call.provider_status_name}") %>" id="service_call_provider_status">
                  <h3><%= @service_call.human_provider_status_name %></h3>
              </span>
            </td>
          </tr>
          </tbody>
        </table>
    <% end %>
    <% unless @service_call.instance_of?(TransferredServiceCall) && @service_call.payment_na? %>
        <table class="table table-striped table-condensed table-sbcx">
          <tbody>
          <tr>
            <td><strong><%= @service_call.class.human_attribute_name(:billing_status) %></strong></td>
            <td>
              <h3><span class="<%= style("service_call.states.billing_status.#{@service_call.billing_status_name}") %>" id="service_call_billing_status">
                  <%= @service_call.human_billing_status_name %>
              </span></h3>
            </td>
          </tr>
          </tbody>
        </table>
    <% end %>

  </li>
</ul>