<div class="row-fluid">
  <div class="smart_label designed_tooltip">
    <ul>
      <li><h1><%= t('general.general.customer_billing') %></h1></li>

      <% if permitted_to? :show, @service_call.customer %>
          <li id="customer_name_jobBilling"><h1>(<%= link_to @service_call.customer.name, @service_call.customer %>)</h1></li>
      <% else %>
          <li id="customer_name_jobBilling"><h1>(<%= @service_call.customer.name %>)</h1></li>
      <% end %>


      <li>
        <% if @service_call.can_change_boms? %>
            <%= button_tag t('general.general.add_part'), :class => 'btn btn-primary', id: 'new-bom-button', data: { toggle: "collapse", target: "#bom" } %></li>
        <% else %>
            <%= image_tag("question24.png", :title => I18n.t('general.messages.no_bom_completed'), :rel => 'tooltip', "data-placement" => "left") %>
            <a href="#" class="btn btn-primary disabled"><%= t('general.general.add_part') %></a>
        <% end %>
        </li>

        </ul>
  </div>


  <div class="bom collapse" id="bom">
    <%= render 'boms/in_line_form', ticket: @service_call.becomes(ServiceCall) %>

  </div>
  <br>

  <table class="table table-striped" id="boms-table">
    <thead>
    <tr>
      <th><%= Bom.human_attribute_name(:material_name) %></th>
      <th class="bom_description_table"><%= Bom.human_attribute_name(:description) %></th>
      <th><%= Bom.human_attribute_name(:quantity) %></th>
      <th><%= Bom.human_attribute_name(:cost) %></th>
      <th><%= Bom.human_attribute_name(:price) %></th>
      <th><%= Bom.human_attribute_name(:total_cost) %></th>
      <th><%= Bom.human_attribute_name(:total_price) %></th>
      <th><%= Bom.human_attribute_name(:buyer) %></th>
      <th><%= I18n.t('general.general.actions') %></th>
    </tr>
    </thead>
    <tbody id="boms">

    <% @service_call.boms.each do |bom| %>
        <%= render 'boms/bom', bom: bom %>
    <% end %>

    </tbody>
  </table>
  <!--<#% if  @service_call.total_cost > 0 %>-->

  <table class="table table-striped" id="boms-table-summary">
    <tbody>
    <tr class="bom_table_summary">
      <td><strong><%= @service_call.class.human_attribute_name(:tax) %></strong>
        <% if permitted_attribute? @service_call, :tax %>
            <%= image_tag("question16.png", :title => I18n.t('general.messages.default_tax_overide'), :rel => 'tooltip', "data-placement" => "left") %>

            <!--&nbsp;<i class="icon-pencil"></i>-->
        <% end %></td>
      <td class="bom_label">
        <h3>
          <%= best_in_place_if (permitted_attribute? @service_call, :tax), @service_call, :tax %>  %
        </h3>
      </td>
    </tr>

    <tr class="bom_table_summary">
      <td><strong><%= t('general.general.tax_amount').html_safe %></strong></td>
      <td class="bom_label" id="total_cost">
        <h3 id="job_total_tax"> <%= humanized_money_with_symbol @service_call.tax_amount %></h3></td>
    </tr>

    <tr class="bom_table_summary">
      <td><strong><%= t('general.general.total_cost').html_safe %></strong></td>
      <td class="bom_label" id="total_cost">
        <h3 id="job_total_cost"> <%= humanized_money_with_symbol @service_call.total_cost %></h3></td>
    </tr>

    <tr class="bom_table_summary">
      <td><strong><%= t('general.general.total_price').html_safe %></strong></td>
      <td class="bom_label" id="total_price">
        <h3 id="job_total_price"> <%= humanized_money_with_symbol @service_call.total_price %></h3></td>
    </tr>
    <% if @service_call.adj_amount > 0 %>
        <tr class="bom_table_summary">
          <td><strong><%= t('general.general.total_adjustment').html_safe %></strong></td>
          <td class="bom_label" id="total_price">
            <h3 id="job_total_price"> <%= humanized_money_with_symbol @service_call.adj_amount %></h3></td>
        </tr>
    <% end %>
    <tr class="bom_table_summary">
      <td><strong><%= t('general.general.total').html_safe %></strong></td>
      <td class="bom_label"><h3 id="job_total"> <%= humanized_money_with_symbol @service_call.total %></h3></td>
    </tr>
    </tbody>
  </table>
  <!--<#% end %>-->


</div>

