<div class="row-fluid">
  <div class="smart_label designed_tooltip">
    <ul>
      <li><h1><%= t('general.general.billing') %>
         <!--<#%= image_tag("question.png", :title => I18n.t('general.messages.no_bom'), rel: 'tooltip') unless @service_call.can_change_boms?%>-->
        <% unless @service_call.can_change_boms?%>
            <a href="#" rel="tooltip" title="<%= I18n.t('general.messages.no_bom').html_safe %>" ><img src="/assets/question.png" /></a>
        <% end %>
      </h1></li>


      <% if @service_call.total_price > 0 %>
          <li class="total_price">
            <div class="total_bom">

              <badge><%= t('general.general.total_price').html_safe %>
                <span id='job_total_price'><%= humanized_money_with_symbol @service_call.total_price %></span>
              </badge>
            </div>

          </li>
      <% end %>

      <% if  @service_call.total_cost > 0 %>
          <li class="total_price">
            <div class="total_bom">

              <badge><%= t('general.general.total_cost').html_safe %>
                <span id='job_total_cost'> <%= humanized_money_with_symbol @service_call.total_cost %></span>
              </badge>
            </div>

          </li>

      <% end %>


      <li><%= button_tag t('general.general.add_part'), :class => 'btn btn-primary', id: 'new-bom-button', data: { toggle: "collapse", target: "#bom" } if @service_call.can_change_boms?%></li>
    </ul>
  </div>


  <div class="bom collapse" id="bom">
    <%= render 'boms/in_line_form', ticket: @service_call.becomes(ServiceCall) %>

  </div>
  <br>

  <table class="table table-striped" id="boms-table">
    <thead>
    <tr>
      <th><%= Bom.human_attribute_name(:material_name) %></th>
      <th><%= Bom.human_attribute_name(:quantity) %></th>
      <th><%= Bom.human_attribute_name(:cost) %></th>
      <th><%= Bom.human_attribute_name(:price) %></th>
      <th><%= Bom.human_attribute_name(:total_cost) %></th>
      <th><%= Bom.human_attribute_name(:total_price) %></th>
      <th><%= Bom.human_attribute_name(:buyer) %></th>
      <th><%= I18n.t('general.general.actions') %></th>
    </tr>
    </thead>
    <tbody id="boms">

    <% @service_call.boms.each do |bom| %>
          <%= render 'boms/bom', bom: bom %>
    <% end %>
    </tbody>
  </table>

</div>