<tr>

  <td><strong>
    <%= link_to(I18n.t('general.general.provider_balance'), affiliate_path(@service_call.provider),
                :title => @service_call.provider.try(:name).html_safe, :rel => 'tooltip') if @service_call.provider.present? %>
  </strong></td>

  <% if @service_call.try(:provider_balance) == 0 %>
      <td class="balanced">
        <%= humanized_money_with_symbol @service_call.provider_balance %>
      </td>
      <td></td>
  <% else %>
      <% if @service_call.try(:provider_balance) > 0 %>
          <td class="positive">
            <%= humanized_money_with_symbol @service_call.provider_balance %>

            <span class="help_icon">
            <%= image_tag("balanceIn.png", :title => I18n.t('general.messages.balance_in').html_safe, :rel => 'tooltip') %>
          </span>
          </td>
      <% else %>
          <td class="negative">
            <%= humanized_money_with_symbol @service_call.provider_balance %>

            <span class="help_icon">
        <%= image_tag("balanceOut.png", :title => I18n.t('general.messages.balance_out').html_safe, :rel => 'tooltip') %>
      </span>
          </td>

      <% end %>
  <% end %>

  <td class="show_more_button">
                            <span class="link_blue" id="show_provider_entries">
                               <%= link_to t('general.general.get_entries'), "#prov_billing_entries", class: "", data: { toggle: 'collapse' }, :title => I18n.t('general.messages.click_more').html_safe, :rel => 'tooltip' %>
                              <i class="icon-chevron-down"></i>
                            </span>
    <span><%= "YESH #{@service_call.active_provider_entries.size}" if @service_call.active_provider_entries.size > 0 %></span>

  </td>



