<!--update customer contact info-->

<div class="customer_contacts">
  <div class="ui-grid-a">
    <div class="ui-block-a"><%= @service_call.class.human_attribute_name(:name) %></div>
    <div class="ui-block-b"><%= f.text_field :new_customer, "class" => "ui-disabled", placeholder: @service_call.customer.name %></div>
  </div>
  <div class="ui-grid-a">
    <div class="ui-block-a"><%= @service_call.class.human_attribute_name(:address1) %></div>
    <div class="ui-block-b"><%= f.text_field :address1 %></div>
  </div>
  <div class="ui-grid-a">
    <div class="ui-block-a"><%= @service_call.class.human_attribute_name(:address2) %></div>
    <div class="ui-block-b"><%= f.text_field :address2 %></div>
  </div>
  <div class="ui-grid-a">
    <div class="ui-block-a"><%= @service_call.class.human_attribute_name(:company) %></div>
    <div class="ui-block-b"><%= f.text_field :company %></div>
  </div>
  <div class="ui-grid-a">
    <div class="ui-block-a"><%= @service_call.class.human_attribute_name(:city) %></div>
    <div class="ui-block-b"><%= f.text_field :city %></div>
  </div>
  <div class="ui-grid-a">
    <div class="ui-block-a"><%= @service_call.class.human_attribute_name(:state) %></div>
    <div class="ui-block-b"><%= f.text_field :state %></div>
  </div>
  <div class="ui-grid-a">
    <div class="ui-block-a"><%= @service_call.class.human_attribute_name(:zip) %></div>
    <div class="ui-block-b"><%= f.text_field :zip %></div>
  </div>
  <div class="ui-grid-a">
    <div class="ui-block-a"><%= @service_call.class.human_attribute_name(:country) %></div>
    <div class="ui-block-b"><%= f.text_field :country %></div>
  </div>

<div class="ui-grid-a">
  <div class="ui-block-a"><%= @service_call.class.human_attribute_name(:phone) %></div>
  <div class="ui-block-b"><%= f.text_field :phone %></div>
</div>
  <div class="ui-grid-a">
    <div class="ui-block-a"><%= @service_call.class.human_attribute_name(:mobile_phone) %></div>
    <div class="ui-block-b"><%= f.text_field :mobile_phone %></div>
  </div>
  <div class="ui-grid-a">
    <div class="ui-block-a"><%= @service_call.class.human_attribute_name(:work_phone) %></div>
    <div class="ui-block-b"><%= f.text_field :work_phone %></div>
  </div>
  <div class="ui-grid-a">
    <div class="ui-block-a"><%= @service_call.class.human_attribute_name(:email) %></div>
    <div class="ui-block-b"><%= f.text_field :email %></div>
  </div>


</div>