<div data-role="collapsible-set" data-inset="false">
  <!--update customer contact info-->

  <!--<#% if @service_call.class == MyServiceCall %>-->
  <div data-role="collapsible" data-collapsed="true" data-theme="d" class="edit_contact">
  <h3><%= I18n.t('general.general.update_customer_details') %></h3>

        <div class="customer_contacts">
          <div class="ui-grid-a">
            <div class="ui-block-a"><%= @service_call.class.human_attribute_name(:customer) %></div>
            <div class="ui-block-b"><%= f.text_field :new_customer, "class" => "ui-disabled", placeholder: @service_call.customer.name %></div>
          </div>
          <div class="ui-grid-a">
            <div class="ui-block-a"><%= @service_call.class.human_attribute_name(:address1) %></div>
            <div class="ui-block-b"><%= f.text_field :address1 %></div>
          </div>
          <div class="ui-grid-a">
            <div class="ui-block-a"><%= @service_call.class.human_attribute_name(:address2) %></div>
            <div class="ui-block-b"><%= f.text_field :address2 %></div>
          </div>
          <div class="ui-grid-a">
            <div class="ui-block-a"><%= @service_call.class.human_attribute_name(:company) %></div>
            <div class="ui-block-b"><%= f.text_field :company %></div>
          </div>
          <div class="ui-grid-a">
            <div class="ui-block-a"><%= @service_call.class.human_attribute_name(:city) %></div>
            <div class="ui-block-b"><%= f.text_field :city %></div>
          </div>
          <div class="ui-grid-a">
            <div class="ui-block-a"><%= @service_call.class.human_attribute_name(:state) %></div>
            <div class="ui-block-b"><%= render 'subregion_select', f: f %></div>
          </div>
          <div class="ui-grid-a">
            <div class="ui-block-a"><%= @service_call.class.human_attribute_name(:zip) %></div>
            <div class="ui-block-b"><%= f.text_field :zip %></div>
          </div>
          <div class="ui-grid-a">
            <div class="ui-block-a"><%= @service_call.class.human_attribute_name(:country) %></div>
            <div class="ui-block-b"><%= f.text_field :country %></div>
          </div>
        <div class="ui-grid-a">
          <div class="ui-block-a"><%= @service_call.class.human_attribute_name(:phone) %></div>
          <div class="ui-block-b"><%= f.text_field :phone %></div>
        </div>
          <div class="ui-grid-a">
            <div class="ui-block-a"><%= @service_call.class.human_attribute_name(:mobile_phone) %></div>
            <div class="ui-block-b"><%= f.text_field :mobile_phone %></div>
          </div>
          <div class="ui-grid-a">
            <div class="ui-block-a"><%= @service_call.class.human_attribute_name(:work_phone) %></div>
            <div class="ui-block-b"><%= f.text_field :work_phone %></div>
          </div>
          <div class="ui-grid-a">
            <div class="ui-block-a"><%= @service_call.class.human_attribute_name(:email) %></div>
            <div class="ui-block-b"><%= f.text_field :email %></div>
          </div>
    </div>

</div>
  <!--<#% end %>  -->

  <!--update Job Details-->
  <div data-role="collapsible" data-collapsed="true" data-theme="d" class="edit_contact">


      <h3><%= I18n.t('general.general.update_job_details') %></h3>

    <div class="edit_job_details">

      <div class="ui-grid-a">
        <div class="ui-block-a"><%= @service_call.class.human_attribute_name(:name) %></div>
        <div class="ui-block-b"><%= f.text_field :name %></div>
      </div>

      <div class="ui-grid-a">
        <div class="ui-block-a"><%= @service_call.class.human_attribute_name(:tag_list) %></div>
        <div class="ui-block-b"><%= f.text_field :tag_list, data: { tags: current_user.organization.tags.map(&:name) } %></div>
      </div>

    <% if permitted_attribute? @service_call, :started_on_text %>
    <div class="ui-grid-a">
            <div class="ui-block-a"><%= @service_call.class.human_attribute_name(:started_on_text) %></div>
            <div class="ui-block-b"><%= f.input :started_on_text, input_html: {class: "mobi-datetime"} %></div>
          </div>
      <% end %>

      <% if permitted_attribute? @service_call, :completed_on_text %>
      <div class="ui-grid-a">
        <div class="ui-block-a"><%= @service_call.class.human_attribute_name(:completed_on_text) %></div>
        <div class="ui-block-b"><%= f.input :completed_on_text, input_html: {class: "mobi-datetime"} %></div>
      </div>
      <% end %>

      <% if permitted_attribute? @service_call, :scheduled_for_text %>
      <div class="ui-grid-a">
         <div class="ui-block-a"><%= @service_call.class.human_attribute_name(:scheduled_for) %></div>
         <div class="ui-block-b"><%= f.input :scheduled_for_text, input_html: {class: "mobi-datetime"} %></div>
      </div>
      <% end %>

      <% if @service_call.technician.present? && @service_call.instance_of?(MyServiceCall) && @service_call.organization.my_user?(@service_call.technician) %>
          <div class="ui-grid-a">
            <div class="ui-block-a"><%= @service_call.class.human_attribute_name(:technician) %></div>
            <div class="ui-block-b"><%= f.association :technician, collection: current_user.organization.users, value: f.object.customer %></div>
           </div>

      <% end %>

    </div>

      <%= f.input :notes %>





  </div>




</div>

<!--if @service_call.my_role == :provider-->
<!--# edit everything unless @service_call.subcontractor.subcontrax_member?-->
<!--else-->
<!--# edit everything unless @service_call.provider.subcontrax_member?-->
<!--end-->