<tr>
  <td><strong>
          <%= link_to(I18n.t('general.general.subcontractor_balance'), affiliate_path(@service_call.subcontractor),
          :title => @service_call.subcontractor.try(:name).html_safe, :rel => 'tooltip') if @service_call.subcontractor.present? %>
  </strong></td>

  <% if @service_call.try(:subcon_balance) == 0 %>
      <td class="balanced">
        <%= humanized_money_with_symbol @service_call.subcon_balance %>
      </td>
      <td></td>
      <!--<td></td>-->
  <% else %>
      <% if @service_call.try(:subcon_balance) > 0 %>
          <td class="positive">
            <%= humanized_money_with_symbol @service_call.subcon_balance %>

            <span class="help_icon">
            <%= image_tag("balanceIn.png", :title => I18n.t('general.messages.balance_in').html_safe, :rel => 'tooltip') %>
          </span>
          </td>
      <% else %>
          <td class="negative">
            <%= humanized_money_with_symbol @service_call.subcon_balance %>

            <span class="help_icon">
        <%= image_tag("balanceOut.png", :title => I18n.t('general.messages.balance_out').html_safe, :rel => 'tooltip') %>
      </span>
          </td>

      <% end %>
  <% end %>
      <td class="show_more_button">
                            <span class="link_blue" id="show_subcon_entries">
                               <%= link_to t('general.general.get_entries'), "#subco_billing_entries", class: "", data: { toggle: 'collapse' }, :title => I18n.t('general.messages.click_more').html_safe, :rel => 'tooltip' %>
                              <i class="icon-chevron-down"></i>
                            </span>
        <span><%= "YESH #{@service_call.active_subcon_entries.size}" if @service_call.active_subcon_entries.size > 0 %></span>

      </td>
</tr>


