<% provide(:title, "Edit Service Call") %>

<div class="well">

  <div class="row-fluid">
    <div class="span10">
      <div class="smart_label"  >
        <h1>Edit <%= @service_call.id %>:</h1>

      </div>
    </div>
  </div>
  <br>

  <div class="row-fluid">
    <div class="span10 ">
          <%= simple_form_for @service_call, url: service_calls_url, :html => {:class => 'form-horizontal' } do |f| %>

              <%= render 'form', f: f %>

          <div class="form-actions">
            <%= link_to 'Show', @service_call, :class => 'btn btn-medium' %>
            <%= f.submit "Save Changes",  class: "btn btn-medium btn-primary" %>
            <%= link_to "View All", service_calls_path,  class: "btn btn-medium btn-success" %>

          </div>
      <% end %>


    </div>
  </div>
</div>

