<% provide(:title, I18n.t('general.emails.jobs').html_safe) %>

<br>


 <div class="search_job">

    <ul data-role="listview"  data-filter="true" data-divider-theme="d" data-filter-placeholder="Search Contacts">
      <div class= "new_job_button">
        <%= link_to I18n.t('general.general.new'), new_service_call_path, "data-role" => "button", id: 'new-service-call-button', "class" => "ui-btn ui-shadow ui-btn-corner-all ui-mini ui-btn-inline ui-btn-up-b" %>
      </div>

      <li class="job_index_divider" data-role="list-divider"><%= I18n.t('general.general.my_jobs') %></li>
     <% unless @service_calls.empty? %>
      <% @service_calls.each do |sc| %>
          <li class="inline_mobile service_calls_index">
            <p class="ui-li-aside-blue ui-li-desc-blue">
              <badge><%= sc.ref_id %></badge>
            </p>
            <% if sc.customer.name.empty? %>
                <%= link_to sc.try(:address1), service_call_path(sc), "data-transition" => "slide", id: "jobs_index_no_address" %>
            <% else %>
            <%= link_to sc.try(:name), service_call_path(sc), "data-transition" => "slide", id: "jobs_index_address" %>
            <% end %>

            <span class="service_call_status">
              <%= sc.human_status_name %>
            </span>

          </li>
       <% end %>
    <% end %>


      <li class="job_index_divider" data-role="list-divider"><%= I18n.t('general.general.transferred_jobs') %></li>
      <% unless @transferred_jobs.empty? %>
          <% @transferred_jobs.each do |sc| %>
              <li class="inline_mobile service_calls_index">
                <p class="ui-li-aside-blue ui-li-desc-blue">
                  <badge><%= sc.ref_id %></badge>
                </p>

                <% if sc.customer.name.empty? %>
                    <%= link_to sc.try(:address1), service_call_path(sc), "data-transition" => "slide", id: "jobs_index_no_address" %>
                <% else %>
                    <%= link_to sc.customer.try(:name), service_call_path(sc), "data-transition" => "slide", id: "jobs_index_address" %>
                <% end %>
                <span class="service_call_status">
                  <%= sc.human_status_name %>
                </span>

              </li>
          <% end %>
      <% end %>

    </ul>


</div>



