<% provide(:title, I18n.t('general.general.jobs')) %>

<div class="row-fluid well_height">

     <ul class="nav nav-tabs" id="myJobTab">
      <li class="active"><a href="#newJobs" data-toggle="tab"><%= "#{I18n.t('general.general.new')} (#{@new_jobs.length + @new_transferred_jobs.length})" %></a></li>
       <li><a href="#activeJobs" data-toggle="tab"><%= "#{I18n.t('general.general.in_progress')} (#{@active_jobs.length + @active_transferred_jobs.length})" %></a></li>
       <li><a href="#doneJobs" data-toggle="tab"><%= "#{I18n.t('general.general.done')} (#{@done_jobs.length + @done_transferred_jobs.length})" %>
         <%= image_tag("question24.png", :title => I18n.t('general.messages.done_jobs'), :rel => 'tooltip', "data-placement" => "right", id: "adj_entry_img") %>
       </a></li>
       <li><a href="#allJobs" data-toggle="tab"><%= I18n.t('general.general.all_jobs') %></a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="newJobs"><%= render 'active_jobs', service_calls: @new_jobs, transferred_jobs: @new_transferred_jobs %></div>
      <div class="tab-pane active" id="activeJobs"><%= render 'active_jobs', service_calls: @active_jobs, transferred_jobs: @active_transferred_jobs %></div>
      <div class="tab-pane active" id="doneJobs"><%= render 'active_jobs', service_calls: @done_jobs, transferred_jobs: @done_transferred_jobs %></div>
      <div class="tab-pane" id="allJobs"><%= render 'all_jobs' %></div>

    </div>

</div>

