<%= provide(:title, 'New Service Call') %>

<div class="well">

  <div class="row-fluid">

      <div class="smart_label">
        <h1>New Service Call</h1>
      </div>

  </div>
  <br>

  <div class="row-fluid">

    <%= simple_form_for @service_call, as: :service_call, url: service_calls_url, :html => { :class => 'form-horizontal' } do |f| %>
        <%= render 'fields', f: f %>

        <div class="form-actions">
          <%= link_to "Back to List", service_calls_path, :class => 'btn btn-large' %>
          <%= f.submit "Create Service Call", class: "btn btn-large btn-primary", id: 'service_call_create_btn' %>
        </div>
    <% end %>

  </div>


     <!--note-->


</div>

