<%= provide(:title, 'New Service Call') %>
<%= simple_form_for @service_call, as: :service_call, url: service_calls_url, :html => { :class => 'form-horizontal' } do |f| %>
    <%= render 'fields', f: f %>

    <!--<div class="form-actions">-->
      <%= f.submit "Create Service Call", id: 'service_call_create_btn', "data-theme" => "b" %>
      <%= link_to "Back to List", service_calls_path, "data-role" => "button", :class => "ui-btn-up-b" %>

    <!--</div>-->
<% end %>
