<% @service_call.attributes.map.each do |key, value| %>
    <p>
      <strong><%= key.titleize %></strong>

      <% case key %>
      <% when "status" %>
          <span class="label label-success"><%= @service_call.human_status_name.titleize %> </span>
      <% when "subcontractor_status" %>
          <span class="label label-info"><%= @service_call.human_subcontractor_status_name.titleize %></span>

      <% else %>
          <%= value %>
      <% end %>
    </p>


<% end %>


===============================================================
<p>
  <strong>Customer:</strong>
  <%= @service_call.customer.try(:name) %>
</p>
<p>
  <strong>Organization:</strong>
  <%= @service_call.organization.try(:name) %>
</p>
<p>
  <strong>Subcontractor</strong>
  <%= @service_call.subcontractor.try(:name) %>
</p>
<p>
  <strong>Provider</strong>
  <%= @service_call.provider.try(:name) %>
</p>
<p>
  <strong>Technician</strong>
  <%= @service_call.technician.try(:name) %>
</p>


<p>
  <%= link_to "Edit", edit_service_call_path(@service_call.becomes(ServiceCall)) %> |
  <%= link_to "Destroy", @service_call.becomes(ServiceCall), :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", service_calls_path %>
</p>


<%= event_list(@service_call) %>

<table class="table table-striped">
  <thead>
  <tr>
    <% Event.attribute_names.each do |name| %>
        <th><%= name.titleize %></th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% @service_call.events.each do |event| %>
      <tr>
        <% event.attributes.each do |key, value| %>
            <td><%= value %></td>

        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>
