<!--<#% provide(:title, I18n.t('general.general.job_number').html_safe + "&nbsp;".html_safe + "#{@service_call.ref_id}" )%>-->
<% if @service_call.class == MyServiceCall %>
    <% provide(:title, I18n.t('general.general.my_job').html_safe) %>
<% else %>
    <% provide(:title, I18n.t('general.general.transferred_job').html_safe) %>
<% end %>


<div data-role="collapsible-set" data-inset="false">

  <div data-role="list-divider" data-collapsed="true" data-theme="d" class="job_header">
    <h3><%= @service_call.name %></h3>
    <span class="job_source_label">
      <badge><%= @service_call.ref_id %></badge>
    </span>

  </div>

  <div class="job_show_status">
    <%= render :partial => 'job_statuses' %>

  </div>

</div>



<!--To do next-->


<div data-role="collapsible-set" data-inset="false">


  <!--Job Actions  -->
  <div data-role="collapsible" data-collapsed="true" data-theme="d">
    <h3><%= I18n.t('general.general.actions') %></h3>

    <div class="service-call-actions" data-theme="d">
      <!--<#%= event_list(@service_call) %>-->
      <%= status_forms(@service_call) %>
      <%= work_status_forms(@service_call) %>
    </div>

  </div>


  <!--Parts and Labor-->
  <div data-role="collapsible" data-theme="d">
    <h3><%= I18n.t('general.general.parts_labor') %></h3>

    <%= render 'job_boms' %>
  </div>


  <!--Billing-->
  <div data-role="collapsible" data-collapsed="true" data-theme="d">

    <h3><%= I18n.t('general.general.billing') %>
      <span class="blue_badge_collape">
                <badge><%= Bom.human_attribute_name(:price) %> <%= '&nbsp;'.html_safe %>
                  <span id='job_total_price'><%= humanized_money_with_symbol @service_call.total_price %></span></badge>
     </span>
     <span class="blue_badge_collape">
                 <badge><%= Bom.human_attribute_name(:cost) %> <%= '&nbsp;'.html_safe %>
                   <span id='job_total_cost'><%= humanized_money_with_symbol @service_call.total_cost %></span></badge>
     </span>
     <!--<span class="blue_badge_collape">
                 <badge><#%= ServiceCall.human_attribute_name(:total) %> <#%= '&nbsp;'.html_safe %>
                   <!--<span id='job_total_cost'><#%= humanized_money_with_symbol @service_call.total %></span></badge>-->
     <!--</span>-->
    </h3>

    <%= render :partial => 'job_billing' %>

  </div>


<!--Subcon Billing-->
  <div data-role="collapsible" data-collapsed="true" data-theme="d">
    <h3><%= I18n.t('general.general.subcontractor_balance') %>


      <% if @service_call.active_subcon_entries.size > 0%>
        <span class="blue_badge_collape">
                    <badge><%= "#{@service_call.active_subcon_entries.size} new" %></badge>
        </span>
      <% end %>
    </h3>


    <%= render 'accounting_entries/affiliate_entries_table', entries: @service_call.active_subcon_entries %>


  </div>


  <!--Job Info-->
  <div data-role="collapsible" data-theme="d">
    <%= render :partial => 'job_info' %>
  </div>


  <!--Job Contact Details-->
  <div data-role="collapsible" data-collapsed="true" data-theme="d">
    <%= render :partial => 'job_customer_info' %>
  </div>

  <!--Appointment-->
  <div data-role="collapsible" data-collapsed="true" data-theme="d">
    <h3><%= I18n.t('general.general.appointments') %></h3>
    <%= render :partial => 'job_appointments' %>
    <br>
    <%= render 'appointments/add_appointment', appointable: @service_call %>
  </div>

  <!--Job History-->
  <% unless @service_call.events.empty? %>
      <div data-role="collapsible" data-collapsed="true" data-theme="d" class="job_history">
        <h3>Job History</h3>

        <ul data-role="listview">
          <% @service_call.events.each do |event| %>
              <li class="ui-li ui-li-static">
                <div class="ui-grid-a">
                  <div class="ui-block-a"> <%= event.name %></div>
                  <div class="ui-block-b">
                    <%= event.description %>
                    <br>at:
                    <%= l event.created_at, :format => :default %>

                  </div>
                </div>
              </li>
          <% end %>
        </ul>

      </div>
  <% end %>

  <!--end of collapsible-->
</div>


<!--Notes-->
<%= simple_form_for @service_call, as: :service_call, url: service_call_url(@service_call), :html => { :class => 'form-horizontal' }, :remote => true do |f| %>


    <div class="customer_contacts">

      <div class="ui-grid-a">
        <div class="ui-block-a">Notes:</div>
        <div class="ui-block-b collection"> <%= f.input :notes %> </div>
      </div>
    </div>

    <fieldset class="ui-grid-a ui-btn-inner-small">
      <div class="ui-block-a">
        <%= link_to "Back", service_calls_path, "data-rel" => "back", "data-role" => "button", "data-iconpos" => "left", :class => "ui-btn-up-d", "data-icon" => "arrow-l", id: 'back_service_call_btn' %>
      </div>
      <div class="ui-block-b">
        <%= f.submit "Save", "data-theme" => "b", :class => "ui-btn-up-b", "data-icon" => "check", "data-iconpos" => "right", id: 'service_call_save_btn' %>
      </div>
    </fieldset>
<% end %>





