<% provide(:title, I18n.t('general.general.job_number').html_safe + "#{@service_call.ref_id}" )%>
<div class="well well_height">

<div class="row-fluid">

<div class="no_margins">
  <div class="span4" id="job_statuses_actions">

    <%= render :partial => 'job_statuses' %>

    <br>

    <ul class="unstyled">
      <li>
        <div class="smart_label">
          <ul>
            <li><h1><%= I18n.t('general.general.actions') %></h1></li>
            <li></li>
          </ul>
        </div>
      </li>
      <li><br></li>
      <li>
        <div class="action_buttons_service_call">
          <%= event_list(@service_call) %>
        </div>
      </li>
    </ul>

  </div>
</div>

 <!--Job details-->
    <%= render :partial => 'job_details' %>

<!--End of main row-->
</div>
<!--end of well  -->
</div>

<!--Job History Pop-up-->
<%= render :partial => 'job_history' %>


<div><%= render 'appointments/add_appointment', appointable: @service_call %></div>

<div class="row-fluid">
  <div class="smart_label">
    <ul>
      <li><h1><%= Appointment.model_name.human.pluralize %></h1></li>
      <li><%= link_to 'Add Appointment', '#', :class => 'btn btn-primary', id: 'new-appointment-button', data: { toggle: "collapse", target: "#appointment" } %></li>
    </ul>
  </div>

  <div class="appointment collapse" id="appointment">
    <%= render 'appointments/in_line_form', appointment: @service_call.appointments.build %>

  </div>

  <table class="table table-striped" id="appointments-table">
    <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Starts At</th>
      <th>Ends At</th>

    </tr>
    </thead>
    <tbody id="appointments">

    <% @service_call.appointments.each do |appointment| %>
        <tr id="appointment_<%= appointment.id %>">
          <%= render 'appointments/appointment', appointment: appointment %>
        </tr>
    <% end %>
    </tbody>
  </table>


</div>