<p>
  <strong>ID:</strong>
  <%= @service_call.id %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @service_call.customer.try(:name) %>
</p>
<p>
  <strong>Notes:</strong>
  <%= @service_call.notes %>
</p>
<p>
  <strong>Started On:</strong>
  <%= @service_call.started_on %>
</p>
<p>
  <strong>Organization:</strong>
  <%= @service_call.organization.try(:name) %>
</p>
<p>
  <strong>Completed On:</strong>
  <%= @service_call.completed_on %>
</p>
<p>
  <strong>Status</strong>
  <span id="service_call_status"><%= @service_call.human_status_name.titleize %></span>
</p>
<p>
  <strong>Subcontractor</strong>
  <%= @service_call.subcontractor.try(:name) %>
</p>
<p>
  <strong>Technician</strong>
  <%= @service_call.technician.try(:name) %>
</p>


<p>
  <%= link_to "Edit", edit_service_call_path(@service_call) %> |
  <%= link_to "Destroy", @service_call, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", service_calls_path %>
</p>


<%= event_list(@service_call) %>