<% provide(:title, I18n.t('general.general.job_number').html_safe + "&nbsp;".html_safe + "#{@service_call.ref_id}" )%>
<div class="well well_height">

<div class="row-fluid">

<div class="no_margins">
  <div class="span4" id="job_statuses_actions">

    <%= render :partial => 'job_statuses' %>

    <br>

    <ul class="unstyled">
      <li>
        <div class="smart_label">
          <ul>
            <li><h1><%= I18n.t('general.general.actions') %></h1></li>
            <li></li>
          </ul>
        </div>
      </li>
      <!--<li><br></li>-->
      <li>
        <div class="action_buttons_service_call">
          <%= event_list(@service_call) %>
        </div>
      </li>
    </ul>

  </div>
</div>

 <!--Job details-->
    <%= render :partial => 'job_details' %>

<!--End of main row-->
</div>
<!--end of well  -->
</div>

<!--Job History Pop-up-->
<%= render :partial => 'job_history' %>
<%= render :partial => 'job_appointments' %>
