<div class="background_welcome">
  <%= image_tag("bg7.jpg", id: "background_welcome") %>
</div>


<div class="row-fluid">
  <div class="span1"></div>
  <div class="span10">
    <div class="well well_signin">


      <div class="smart_label">
        <ul>
          <li><h1>Resend confirmation instructions</h1></li>
          <li>
          </li>
        </ul>
      </div>

      <br>

      <div class="row-fluid">
        <div class="span6">

              <%= simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post },  :html => { :class => 'form-horizontal' }) do |f| %>
              <%= f.error_notification %>

              <p class="p_align">Enter you email address and click on the button below. </p>
              <div class="inputs">
                <%= f.input :email, :required => true %>
              </div>

              <div class="form-actions">
                <%= link_to 'Back', :back, :class => 'btn btn-medium' %>
                <%= f.button :submit, t('general.general.send_inst'), :class => 'btn btn-primary' %>
              </div>
          <% end %>

        </div>
      </div>

<!--end of well-->
    </div>
    <!--end of span10-->
  </div>
</div>