<tr id="bom_<%= bom.id %>">
  <td><%= bom.material_name %>
    <!--<i class="icon-search" title="hello" rel='tooltip'></i>-->
  </td>
  <td><%= bom.quantity %></td>
  <!--<td><#%= best_in_place bom, :quantity ,path: service_call_bom_path(bom.ticket, bom) %></td>-->
  <td><%= humanized_money_with_symbol bom.cost %></td>
  <td><%= humanized_money_with_symbol bom.price %></td>
  <td><%= humanized_money_with_symbol bom.total_cost %></td>
  <td><%= humanized_money_with_symbol bom.total_price %></td>
  <td><%= bom.buyer.name %>
  <td>
    <!--<#%= link_to 'Show', service_call_bom_path(@service_call, bom) %>-->
    <!--<#%= link_to 'Edit', edit_service_call_bom_path(@service_call, bom) %>-->
    <!--<#%= link_to 'Delete', material_path(material), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>-->

    <%= link_to 'Delete', service_call_bom_path(@service_call, bom), method: :delete, data: { confirm: 'Are you sure?' }, remote: true, :class => 'btn btn-mini btn-danger' if bom.ticket.can_change_boms? %>
  </td>
</tr>