<%= simple_form_for([@ticket, @bom], :html => { :class => 'form-horizontal' }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs" id= "hi">
      <!--<div class="control-group string ">-->
      <!--<div class="controls">-->

      <div class="customer_contacts">

        <div class="ui-grid-a">
          <div class="ui-block-a"><%= @bom.class.human_attribute_name(:material_name) %></div>
          <div class="ui-block-b">
            <%= f.input :material_name, input_html: {id: "material-autocomplete"}, :label => "Part Name" %>
            <%= f.hidden_field :material_id %>
            <ul id="material-suggestions" data-role="listview" data-inset="true"></ul>
          </div>
        </div>
        <div class="ui-grid-a">
          <div class="ui-block-a"><%= @bom.class.human_attribute_name(:quantity) %></div>
          <div class="ui-block-b"> <%= f.text_field :quantity, "type" => "range", "name" => "bom[quantity]", id: "slider-1", "value" => "1", "min" => "0", "max" => "100" %></div>
        </div>
        <div class="ui-grid-a">
          <div class="ui-block-a"><%= @bom.class.human_attribute_name(:price) %></div>
          <div class="ui-block-b"><%= f.text_field :price, placeholder: 'price' %></div>
        </div>
        <div class="ui-grid-a">
          <div class="ui-block-a"><%= @bom.class.human_attribute_name(:cost) %></div>
          <div class="ui-block-b">  <%= f.text_field :cost, placeholder: 'cost' %></div>
        </div>
        <div class="ui-grid-a">
          <div class="ui-block-a"><%= @bom.class.human_attribute_name(:buyer) %></div>
          <div class="ui-block-b">
            <%= f.input :buyer, collection: options_for_select(buyer_options(@ticket)), include_blank: true  %>
            <%= f.hidden_field :buyer_type %>
          </div>
        </div>


        <!--</div>-->
      </div>
    </div>

      <%= f.submit I18n.t('general.general.update_part') , "data-role" => "button", "data-theme" => "b", :class => "ui-btn-up-b", "data-icon" => "check", "data-iconpos" => "left", "data-transition" => "slide" %>
<% end %>
