<tr id="bom_<%= bom.id %>">
  <td><%= bom.material.name %>
    <!--<i class="icon-search" title="hello" rel='tooltip'></i>-->
  </td>
  <td title="<%= bom.description %>">
    <%= truncate(bom.description, length: 15) %>
  </td>
  <td><%= bom.quantity %></td>
  <!--<td><#%= best_in_place bom, :quantity ,path: service_call_bom_path(bom.ticket, bom) %></td>-->
  <td><%= humanized_money_with_symbol bom.cost %></td>
  <td><%= humanized_money_with_symbol bom.price %></td>
  <td><%= humanized_money_with_symbol bom.total_cost %></td>
  <td><%= humanized_money_with_symbol bom.total_price %></td>
  <td><%= bom.buyer.try(:name) %>
  <td>

    <%= link_to 'Delete', service_call_bom_path(@service_call, bom), method: :delete, data: { confirm: 'Are you sure?' }, remote: true, :class => 'btn btn-mini btn-danger' if bom.ticket.can_change_boms? %>
  </td>
</tr>