<%= simple_form_for([@ticket, @bom], :html => { :class => 'form-horizontal' }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs" id= "hi">
      <div class="control-group string ">
        <div class="controls">

          <%= f.text_field :material_name, placeholder: 'material', data: { autocomplete_source: materials_path }, label: "Part Name:" %>
          <%= f.text_field :quantity, placeholder: 'quantity' %>
          <%= f.text_field :price, placeholder: 'price' %>
          <%= f.text_field :cost, placeholder: 'cost' %>
        </div>
      </div>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>

    </div>
<% end %>
