<%= simple_form_for([@ticket, @bom], :html => { :class => 'form-horizontal' }, remote: true) do |f| %>
    <br>
    <%= f.error_notification %>
<div class="row-fluid">
  <!--<div class="span6">-->
    <div class="add_part_service_call">

      <ul>
        <li>
           <%= f.text_field :material_name, placeholder: 'Part Name', data: { autocomplete_source: materials_path } %>

        </li>
        <li>
            <%= f.text_field :quantity, placeholder: 'Quantity' %>

        </li>
        <li>
            <%= f.text_field :price, placeholder: 'List Price' %>

        </li>
        <li>
            <%= f.text_field :cost, placeholder: 'Cost' %>

        </li>
        <li>
          <%= f.submit "Add Part", class: "btn btn-medium btn-primary", id: 'add_part' %>

        </li>
        <li>
          <%= link_to "Cancel", service_calls_path, class: "btn btn-medium" %>

        </li>
      </ul>


    </div>
</div>


<% end %>
