<%= simple_form_for([ticket, @bom], :html => { :class => 'form-horizontal' }, remote: true) do |f| %>
    <br>
    <%= f.error_notification %>

    <div class="row-fluid add_part_service_call">
      <div class="alert alert-info">

        <ul>
          <li></li>
          <li class="part_field">
            <div class="input-prepend input-append">
              <span class="add-on"><%= I18n.t('general.general.part') %></span>
              <%= f.autocomplete_field :material_name, autocomplete_material_name_materials_url, update_elements: { id: "#bom_material_id" } %>
              <!--<#%= f.text_field :material_name, placeholder: 'Part Name', data: { autocomplete_source: materials_path } %>-->
              <%= f.hidden_field :material_id %>
              <%= f.hidden_field :ticket_id, value: @service_call.id %>
            </div>
          </li>
          <li class="quantity_field">
            <div class="input-prepend input-append">
              <span class="add-on"><%= I18n.t('general.general.qty') %></span>
              <%= f.text_field :quantity %>
            </div>

          </li>
          <li>
            <div class="input-prepend input-append">
              <span class="add-on"><%= I18n.t('general.general.price') %></span>
              <%= f.text_field :price %>
            </div>

          </li>
          <li>
            <div class="input-prepend input-append">
              <span class="add-on"><%= I18n.t('general.general.cost') %></span>
              <%= f.text_field :cost %>
            </div>
          </li>
          <li>
            <div class="input-prepend input-append">
              <span class="add-on"><%= Bom.human_attribute_name(:buyer) %></span>
              <%= f.select :buyer, options_for_select(buyer_options(ticket)), include_blank: true %>
              <%= f.hidden_field :buyer_type %>
            </div>
          </li>
          <li>
            <%= f.submit I18n.t('general.general.add'), class: "btn btn-medium btn-primary", id: 'add_part' %>

          </li>
          <li>
            <div id="ajax-msg"></div>
          </li>
          <li>
            <%= image_tag 'ajax-loader.gif', id: "spinner" %>
            <!--<#%= link_to "Cancel", service_calls_path, class: "btn btn-medium" %>-->

          </li>
          <li>
            <a href="#" data-toggle="collapse" data-target="#bom" class="close">×</a>
            <!--<i class="icon-remove-sign"></i> </a>-->
          </li>
        </ul>

        <!--<a href="#" data-dismiss="alert" class="close">×</a>-->
      </div>
    </div>


<% end %>

