<%= simple_form_for([ticket, @bom], :html => { :class => 'form-horizontal' }, remote: true) do |f| %>
    <br>
    <%= f.error_notification %>


    <div class="alert add_part_frame">

      <div class="row-fluid add_part_service_call">
        <a href="#" data-toggle="collapse" data-target="#bom" class="close" id="bom_close">×</a>
      </div>

      <div class="row-fluid add_part_service_call">

        <div class="span1 bom_label_frame part_frame">

          <span class="add-on"><%= I18n.t('general.general.part') %></span>

        </div>

        <div class="span4">
          <%= f.autocomplete_field :material_name, autocomplete_material_name_materials_url, update_elements: { id: "#bom_material_id" } %>
          <%= f.hidden_field :material_id %>
          <%= f.hidden_field :ticket_id, value: @service_call.id %>
        </div>
        <div class="span2 bom_label_frame part_frame"><%= t('general.general.description') %></div>
        <div class="span5">
          <%= f.text_field :description %>
        </div>


      </div>

      <div class="row-fluid add_part_service_call parts_2nd">

        <div class="span1 bom_label_frame">
          <span class="add-on"><%= I18n.t('general.general.price') %></span>
        </div>
        <div class="span3">
          <%= f.text_field :price %>
        </div>

        <div class="span1 bom_label_frame">
          <span class="add-on"><%= I18n.t('general.general.cost') %></span>
        </div>
        <div class="span3">
          <%= f.text_field :cost %>
        </div>

        <div class="span1 bom_label_frame qty_frame">
          <span class="add-on"><%= I18n.t('general.general.qty') %></span>
        </div>
        <div class="span3">
          <!--<i id="area-calc" class="icon-cog" data-toggle="modal" data-target="#area_calculator"></i>-->

          <%= f.text_field :quantity %>
          <%= link_to (image_tag'cacl_24.png',
                      class: "",
                      data: { toggle: 'modal', target: "#area_calculator" },
                      title: I18n.t('general.general.bom_calc_tooltip'),
                      rel:   'tooltip',
                      id: "link_to_bom_calc_btn") %>

        </div>

      </div>

      <div class="row-fluid add_part_service_call parts_2nd">

        <div class="span1 bom_label_frame">
          <span class="add-on"><%= Bom.human_attribute_name(:buyer) %></span>
        </div>
        <div class="span4">
          <%= f.select :buyer_id, options_for_select(buyer_options(ticket)), include_blank: true %>
          <%= f.hidden_field :buyer_type %>
        </div>



        <div class="span2">
          <div class="add_button">
            <%= f.submit I18n.t('general.general.add'), class: "btn btn-medium btn-primary", id: 'add_part' %>
          </div>
        </div>

        <div class="span1">
          <div id="ajax-msg"></div>
          <%= image_tag 'ajax-loader.gif', id: "spinner" %>
        </div>


      </div>


      <!--end of part frame-->
    </div>
<% end %>

<%= render 'shared/area_calculator' %>

