<div class="form-inputs show_bom_info" id="edit_bom_info">


    <ul data-role="listview">

      <li class="ui-li ui-li-static">
        <div class="ui-grid-a">
          <div class="ui-block-a"><%= @bom.class.human_attribute_name(:material_name) %></div>
          <div class="ui-block-b"><%= @bom.material_name %></div>
        </div>
      </li>
      <li class="ui-li ui-li-static">
        <div class="ui-grid-a">
          <div class="ui-block-a"><%= Material.human_attribute_name(:description) %></div>
          <div class="ui-block-b"><%= truncate(@bom.material.description, length: 15) %></div>
        </div>
      </li>
      <li class="ui-li ui-li-static">
      <div class="ui-grid-a">
        <div class="ui-block-a"><%= @bom.class.human_attribute_name(:price) %></div>
        <div class="ui-block-b"> <%= humanized_money_with_symbol @bom.price %></div>
      </div>
      </li>
      <li class="ui-li ui-li-static">
        <div class="ui-grid-a">
          <div class="ui-block-a"><%= @bom.class.human_attribute_name(:cost) %></div>
          <div class="ui-block-b"> <%= humanized_money_with_symbol @bom.cost %></div>
        </div>
      </li>
      <li class="ui-li ui-li-static">
        <div class="ui-grid-a">
          <div class="ui-block-a"><%= @bom.class.human_attribute_name(:quantity) %></div>
          <div class="ui-block-b"> <%= @bom.quantity %></div>
        </div>
      </li>
      <li class="ui-li ui-li-static">
        <div class="ui-grid-a">
          <div class="ui-block-a"><%= @bom.class.human_attribute_name(:total_price) %></div>
          <div class="ui-block-b"> <%= humanized_money_with_symbol @bom.total_price %></div>
        </div>
      </li>
      <li class="ui-li ui-li-static">
        <div class="ui-grid-a">
          <div class="ui-block-a"><%= @bom.class.human_attribute_name(:total_cost) %></div>
          <div class="ui-block-b"> <%= humanized_money_with_symbol @bom.total_cost %></div>
        </div>
      </li>
      <li class="ui-li ui-li-static">
        <div class="ui-grid-a">
          <div class="ui-block-a"><%= @bom.class.human_attribute_name(:buyer) %></div>
          <div class="ui-block-b"> <%= @bom.buyer.try(:name) %></div>
        </div>
      </li>


    </ul>

</div>

<br>

<div class="edit_bom_back_btn">
  <div class="ui-grid-solo">
    <%= link_to I18n.t('general.general.back'), service_call_path(@bom.ticket), "data-role" => "button", "data-iconpos" => "left", "data-theme" => "d", "data-icon" => "arrow-l", "data-mini" => "true", id: 'back_notification_btn' %>
  </div>

  <br>

  <div class="ui-grid-solo">
    <%= link_to I18n.t('general.general.delete'), service_call_bom_path(@bom.ticket, @bom), :method => 'delete', :confirm => 'Are you sure?', "data-role" => "button", "data-theme" => "r", "data-mini" => "true", "data-icon" => "delete", id: 'dismiss_notification_btn' %>
  </div>

</div>

<!--<#%= link_to 'Edit', edit_service_call_bom_path(@bom.ticket_id, @bom) %> |-->
<!--<#%= link_to 'Destroy', service_call_bom_path(@bom.ticket_id, @bom), method: :delete, data: { confirm: 'Are you sure?' } %>-->