<div class="span6">
<%= link_to(job.class.human_subcontractor_status_event_name(:settle).titleize, '#settle_subcon_job',
            class: "btn btn_collapse btn-primary ",
            data: { toggle: 'collapse' },
            title: I18n.t('service_call.forms.subcontractor_status.settle.tooltip'),
            rel:   'tooltip',
            role: "button",
            id: "settle_subcon_button") %>


<div class="collapse" id="settle_subcon_job">

  <br>

  <%= simple_form_for job.becomes(ServiceCall), html: { id: 'subcon_status_settle', class: 'blue-button' } do |f| %>
      <%= hidden_field_tag 'service_call[subcontractor_status_event]', 'settle' %>
      <%= f.input :subcon_payment, collection: payment_types, label: I18n.t('service_call.forms.subcontractor_status.settle.label') %>
      <%= f.submit t('general.general.submit'),
                   id:    'settle_service_call_btn',
                   class: 'btn btn-primary',
                   title: I18n.t('service_call.forms.subcontractor_status.settle.tooltip'),
                   rel:   'tooltip'
      %>
  <% end %>


</div>

</div>