<tr>
  <td><%= link_to subcontractor.name, subcontractor_path(subcontractor) %>
    <% if subcontractor.subcontrax_member==true %>
        <span class="member_label">
          <badge>Member</badge>
        </span>
    <% end %>
  </td>
  <td><%= subcontractor.company %></td>
  <td><%= subcontractor.phone %></td>
  <td><%= subcontractor.email %></td>
  <td>
    <% if subcontractor.subcontrax_member==true %>
      <div class="row-fluid">
              <% if  subcontractor.id.in? current_user.organization.subcontractor_ids %>
                  <%= link_to 'Archive', subcontractor_path(subcontractor), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
              <% else %>
                  <%= form_for current_user.organization.agreements.build(subcontractor_id: subcontractor.id), :html => {:class => 'add_member'} do |f| %>
                      <%= f.hidden_field :subcontractor_id %>
                      <%= f.submit "Add", class: "btn btn-mini btn-info", id: "#{subcontractor.id}-add-sbcx-subcontractor" %>
                  <% end %>

             <% end %>
     </div>

    <% else %>

        <%= link_to 'Edit', edit_subcontractor_path(subcontractor), :class => 'btn btn-mini' %>
        <%= link_to 'Archive', subcontractors_path(subcontractor), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        <%= link_to 'Send Invite' , new_subcontractor_path, :class => 'btn btn-mini btn-info' %>


  <% end %>

  </td  >
</tr>