<tr>
  <td>
    <% if subcontractor.subcontrax_member==true %>
        <span class="member_label">
          <badge><i class="icon-user icon-white"></i></badge>
        </span>
    <% end %>

  </td>
  <td><%= link_to subcontractor.name, subcontractor_path(subcontractor) %></td>
  <td><%= subcontractor.company %></td>
  <td><%= subcontractor.phone %></td>
  <td><%= subcontractor.email %></td>
  <td>
    <% if subcontractor.subcontrax_member? %>
        <% if  subcontractor.id.in? current_user.organization.subcontractor_ids %>
         <span class="miya_buttons_grid">
              <%= link_to 'Archive', edit_subcontractor_path(subcontractor), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
         </span>
        <% else %>
            <div class="miya_buttons_grid">
              <ul>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>
                  <%= render 'subcontractor_agreement_form', subcontractor: subcontractor %>                </li>
              </ul>

            </div>
        <% end %>

    <% else %>
        <div class="miya_buttons_grid">
          <ul>
            <li>
              <%= link_to 'Archive', subcontractor_path(subcontractor), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
            </li>
            <li>
              <%= link_to 'Edit', edit_subcontractor_path(subcontractor), :class => 'btn btn-mini' %>
            </li>
            <li>
              <%= link_to 'Send Invite', new_subcontractor_path, :class => 'btn btn-mini btn-info' %>
            </li>

          </ul>
        </div>
    <% end %>

  </td>
</tr>



