<div class="well">

  <div class="smart_label">
    <ul>
      <li><h1>My Subcontractors</h1></li>
      <li>
        <%= form_tag subcontractors_path, id: "agreement_search_form", :method => :get, :remote => true do %>
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag "Search", :name => nil, class: 'btn btn-medium', id: 'subcontractor-search-button' %>
        <% end %>
      </li>
      <li>
        <p>Search for local Subcontractors and SubConTraX members</p>
      </li>
      <li>
        <%= link_to 'New Subcontractor', new_subcontractor_path, :class => 'btn btn-primary', id: 'new-subcontractor-button' %>
      </li>
    </ul>
  </div>

  <br>


  <table class="table table-striped" id="subcontractors_search_results">
    <% if !@subcontractors.empty? %>
        <br>
        <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Company</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
        </thead>
    <% else %>
        <span class="alert alert-info" id="empty_search_result_notice">No records, click "New Subcontractor" to add new contact</span>
        <br>
        <br>
    <% end %>


    <tbody id="new_subcontractors">
    <% @subcontractors.each do |subcontractor| %>
        <%= render subcontractor.becomes(Subcontractor) %>
    <% end %>

    </tbody>
  </table>

  <%= will_paginate @providers, :class => 'pagination pagination-centered' %>

  <div class="row-fluid">
              <span class="member_label">
                    <badge><i class="icon-user icon-white"></i></badge>
               </span>
    <span class="miya_blue_note">&nbsp; SubConTraX Member</span>
  </div>

</div>