<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title><%= I18n.t('notification_mailer.received_new_service_call.subject').html_safe %></title>
  <%= render 'styling' %>
</head>
<body>

<table width="100%" id="background" border="0" cellpadding="0" cellspacing="0">
  <tr><td align="center" valign="top">
    <table width="750" id="main" border="0" cellpadding="0" cellspacing="20">

      <tr class= "navbar-inner" bgcolor="#737373">
        <td id="header" colspan="2" class="logo_header" margin-left="5%">
          <a href="http://subcontrax.com/"><img src= "http://192.168.1.6:3000/assets/LogoImg.png" alt="SubConTrax"></a>
          <!--<#%= image_tag("LogoImg.png", alt: "SubConTrax") %>-->
        </td>
      </tr>

      <tr class="episode content_message">
        <td width="100%">
          <h2 text-align="left"><%= I18n.t('notification_mailer.received_new_service_call.title').html_safe %></h2>
          <p><%= I18n.t('general.emails.dear') %>&nbsp;<%= "#{@user.first_name} #{@user.last_name}" %>,
            <br><br>
            <%= I18n.t('notification_mailer.received_new_service_call.content', provider: @service_call.provider.name, ref: @service_call.ref_id).html_safe %>
            <br>
            <!---->
          </p>
        </td>
      </tr>

      <tr class="episode content_message">

        <td width="80%" bgcolor="#f5f5f5" style="padding-left: 20px" style="background-color: #f5f5f5" style="margin-left: 40px" style="margin-right: 40px" style="border: 1px solid black">
          <h4><%= I18n.t('general.emails.job') %>:&nbsp;<%= @service_call.ref_id %></h4>
          <p>
               <%= @service_call.class.human_attribute_name(:customer) %>:&nbsp;<strong><%= @service_call.customer.name %></strong><br>
          </p>
          <p style="padding-left: 10px"><%= @service_call.customer.address1 %>&nbsp;<%= @service_call.customer.try(:address2) %><br>
                  <%= @service_call.customer.city %>,&nbsp;<%= @service_call.customer.state %>&nbsp;<%= @service_call.customer.zip %><br>
                  <strong><%= @service_call.customer.class.human_attribute_name(:phone) %>:</strong>&nbsp;<%= @service_call.customer.phone %>
                  <% unless @service_call.customer.mobile_phone.empty? %>
                      &nbsp;<strong><%= @service_call.customer.class.human_attribute_name(:mobile_phone) %>:</strong>&nbsp;<%= @service_call.customer.mobile_phone %>
                  <% end %>
          </p>
          <p><%= @service_call.class.human_attribute_name(:started_on) %>:&nbsp;<strong><%= @service_call.started_on_text %></strong><br></p>
          <p><%= @service_call.class.human_attribute_name(:notes) %>:&nbsp;<strong><%= @service_call.notes %></strong><br></p>

         </td>
      </tr>

        <tr class="episode content_message">
           <td width="100%">

             <p><%= I18n.t('notification_mailer.received_new_service_call.bottom_content').html_safe %></p>
             <p><%= link_to '<input class="btn btm-primary" type="button" value="More Details">'.html_safe, service_call_url(@service_call) %></p>
           </td>
        </tr>

            <%= render 'footer' %>

    </table>
  </td></tr>
</table>

</body>
</html>