<tr class="welcome_alerts">
  <% if notification.human_status_name == 'read' %>
  <td>  <span>
              <%= image_tag("index/new_alert.png", alt: "MiYa") %>
              <!--<#%= image_tag("index/alert_open_small.png", alt: "MiYa") %>-->

    <!--<badge><i class="icon-envelope"></i></badge>-->
        </span></td>
  <td><strong> <%= link_to notification.subject, notification_path(notification),  title: notification.content, rel: 'tooltip' %> </strong></td>
  <td><strong> <%= notification.html_message %></strong>  </td>
  <!--<td><strong> <#%= notification.human_status_name %></strong>  </td>-->

  <% else %>
      <td>
        <span>
          <!--<#%= image_tag("index/alerts_small.png", alt: "MiYa") %>-->

        </span>
      </td>
      <td> <%= link_to notification.subject, notification_path(notification),  title: notification.content, rel:   'tooltip' %>    </td>
      <td> <%= notification.html_message %>  </td>
      <!--<td> <#%= notification.human_status_name %></td>-->
   <% end %>
  <td>

    <!--<#%= link_to 'Show', notification_path(notification), :class => 'btn btn-mini btn-info' %>-->
    <!--<#%= link_to 'Dismiss', user_root_path, :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>-->
    <%= link_to 'Dismiss', notification_path(notification), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>


  </td>
</tr>

