<% provide(:title, "All Notifications") %>

<div class="well well_height">
  <div class="row-fluid">

    <div class="smart_label">

      <ul>
        <li><h1><%= t('general.general.alerts') %></h1></li>
        <li></li>
      </ul>

    </div>
  </div>

  <br>

  <div class="row-fluid">

        <table class="table table-striped">
          <tr>
            <th><%= t('general.general.received')%></th>
            <th><%= Notification.human_attribute_name :subject %></th>
            <th><%= Notification.human_attribute_name :content %></th>
            <th><%= Notification.human_attribute_name :status %></th>
            <th> Actions</th>
          </tr>

          <% @notifications.each do |notification| %>
              <tr class="<%= "#{notification.class.model_name.underscore} #{notification.notifiable_type.underscore}_#{notification.notifiable_id}" %>">
                <td><%= l notification.created_at, format: :short %></td>
                <td><%= link_to notification.subject, notification.becomes(Notification) %></td>
                <td><%= notification.html_message %></td>
                <td><%= notification.human_status_name.titleize %></td>

                <td><%= link_to 'Dismiss', notification.becomes(Notification), method: :delete, confirm: 'Are you sure?', :class => 'btn btn-mini btn-danger' %></td>
              </tr>
          <% end %>
        </table>

<br/>

    <div class="form-actions">
      <%= link_to I18n.t('general.general.back'), user_root_path, :class => 'btn btn-medium', id: 'back_notification_btn' %>

    </div>


  </div>

</div>

