<div class="row-fluid">
  <div class="well well_height well_contact">

    <div class="smart_label"  >
      <ul>
        <li><h1><%= I18n.t('general.general.contact_us') %></h1></li>
        <li><%= link_to t('general.general.new_support_tickets'), new_support_ticket_path, class: "btn btn-large btn-primary" %></li>
      </ul>
    </div>
    <br>
    <h4><%= I18n.t('general.message.contact_us') %></h4>

    <br>

    <div class="contact_us">
      <div class="row-fluid">

             <div class="span6">

                <%= simple_form_for @message, :url => contact_us_path, :html => { :class => 'form-horizontal' } do |form| %>
                    <%= form.input :name %>
                    <%= form.input :email, "type" => "email"%>
                    <%= form.input :phone %>
                    <%= form.input :subject %>
                    <%= form.input :content %>


                    <div class="form-actions">
                      <%= link_to I18n.t('general.general.back'), root_path, :class => 'btn btn-large', id: 'back_from_sign_up' %>
                      <%= form.submit I18n.t('general.general.send'), :class => 'btn btn-large btn-primary' %> </br>
                    </div>

              <% end %>


           </div>

        </div>
    </div>






 </div>
</div>



