<div class="welcomepage_frame">
  <br>

<div class="row-fluid">
  <div class="span1"></div>
  <div class="span10">
    <div class="well well_signin">


      <div class="smart_label">
        <ul>
          <li><h1><%= I18n.t('general.message.reset_pass') %></h1></li>
          <li>
          </li>
        </ul>
      </div>

      <br>

      <div class="row-fluid">
        <div class="span6 reset_pass">


          <%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { method: :put, :class => 'form-horizontal' }) do |f| %>
              <%= f.error_notification %>
              <%= f.input :reset_password_token, :as => :hidden %>
              <%= f.full_error :reset_password_token %>

              <%= f.input :password, :label => "New password", :required => true %>
              <%= f.input :password_confirmation, :label => "Confirm your new password", :required => true %>


              <div class="form-actions">
                <%= f.button :submit, I18n.t('general.general.reset_pass'), :class => 'btn btn-large btn-primary' %>

              </div>

          <% end %>

        </div>
      </div>

    </div>

  </div>
</div>

</div>