<% provide(:title, 'More') %>


<fieldset class="ui-grid-a">
  <div class="ui-block-a">
    <!--Place for additional button-->
  </div>
    <div class="ui-block-b">
    <%= link_to destroy_user_session_path, method: :delete, "data-role" => "button", "data-icon" => "gear", "data-ajax" => "false", "data-theme" => "c", "class" => "ui-btn-up-c" do %>
          <span class="ui-btn-text">Sign Out</span>
    <% end %>
  </div>
</fieldset>

<br>


<ul data-role="listview" data-divider-theme="d">
  <li class="inline_mobile">
    <%= link_to 'Customers', customers_path, "data-transition" => "slide" %>
   </li>
  <li class="inline_mobile">
    <%= link_to 'Employees', '#', "data-transition" => "slide" %>
  </li>
  <li class="inline_mobile">
    <%= link_to 'Manage Parts', '#', "data-transition" => "slide" %>
  </li>
  <li class="inline_mobile">
    <%= link_to 'My Profile', edit_user_registration_path, "data-transition" => "slide" %>
  </li>

</ul>




<!-- OLD Sign_out -->
<!--
<#%= link_to destroy_user_session_path, method: :delete, class: "ui-btn-right ui-btn ui-shadow ui-btn-corner-all ui-btn-icon-left ui-btn-up-b", data: { ajax: "false", icon: "gear", corners: "true", shadow: "true", iconshadow: "true", wrapperels: "span", theme: "a" } do %>
    <span class="ui-btn-inner ui-btn-corner-all ui-btn-up-b">
              <span class="ui-btn-text ">Sign Out</span>
              <span class="ui-icon ui-icon-gear ui-icon-shadow">&nbsp;</span>
            </span></a>

<#% end %> -->