<% provide(:title, I18n.t('general.general.menu')) %>

<br>
<!--First line of icons-->
<div class="icon_grid">
  <div class="ui-grid-b">
    <div class="ui-block-a white icon_frame">
      <%= link_to image_tag("/assets/customer.png", :border => 0), customers_path %>
      <div><%= I18n.t('general.general.customers') %></div>
     </div>
    <div class="ui-block-b white icon_frame">
      <%= link_to image_tag("/assets/employees.png", :border => 0), my_users_path %>
      <div><%= I18n.t('general.general.employees') %></div>
    </div>
    <div class="ui-block-c white icon_frame">
      <%= link_to image_tag("/assets/parts.png", :border => 0), materials_path %>
      <div><%= I18n.t('general.general.manage_parts') %></div>
    </div>
  </div>
</div>

<!--Second line of icons-->
<div class="icon_grid">
  <div class="ui-grid-b">
    <div class="ui-block-a white icon_frame">
      <img src="/assets/balance.png" alt="MiYa"/>
      <div><%= I18n.t('general.general.balance') %></div>
    </div>
    <div class="ui-block-b white icon_frame">
      <%= link_to image_tag("/assets/alerts.png", :border => 0), notifications_path %>
      <div><%= I18n.t('general.general.alerts') %></div>
    </div>
    <div class="ui-block-c white icon_frame">
      <%= link_to image_tag("/assets/profile.png", :border => 0), edit_user_registration_path %>
      <div><%= I18n.t('general.general.my_profile') %></div>
    </div>

  </div>
</div>

<!--Third line of icons-->
<div class="icon_grid">
  <div class="ui-grid-b">
    <div class="ui-block-a white icon_frame">
      <img src="/assets/settings.png" alt="MiYa"/>
      <div><%= I18n.t('general.general.preferences') %></div>
    </div>

    <div class="ui-block-b white icon_frame">
      <img src="/assets/support.png" alt="MiYa"/>
      <div><%= I18n.t('general.general.contact_us') %></div>
    </div>

    <div class="ui-block-c white icon_frame">
      <%= link_to image_tag("/assets/out.png", :border => 0), destroy_user_session_path, method: :delete %>
      <div><%= I18n.t('general.general.sign_out') %></div>
    </div>
  </div>
</div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

