<% if account.present? %>
    <table class="table table-striped" id="accounting_entries_table">
      <thead>
      <th><%= AccountingEntry.human_attribute_name(:id) %> </th>
      <th><%= AccountingEntry.human_attribute_name(:address) %>       </th>
      <th><%= AccountingEntry.human_attribute_name(:type) %>          </th>
      <th><%= AccountingEntry.human_attribute_name(:status) %>        </th>
      <th><%= I18n.t('general.general.balance') %> </th>
      </thead>
      <tbody>
      <% account.accounting_entries.each do |entry| %>
          <%= render 'accounting_entries/accounting_entry', accounting_entry: entry %>
      <% end %>
      </tbody>

    </table>
<% else %>
    No Account Present
<% end %>