<table class="table table-striped" id="customer_accounting_entries_table">
  <thead>
  <% unless entries.empty?  %>
  <tr>
    <th> <%= AccountingEntry.human_attribute_name(:id) %> </th>
    <th><%= AccountingEntry.human_attribute_name(:type) %>          </th>
    <th><%= AccountingEntry.human_attribute_name(:status) %>        </th>
    <th><%= AccountingEntry.human_attribute_name(:collector) %>        </th>
    <th><%= AccountingEntry.human_attribute_name(:amount) %>        </th>
    <th><%= Account.human_attribute_name(:balance) %> </th>
    <th><%= I18n.t('general.general.actions') %> </th>
  </tr>
      <% end %>
  </thead>
  <tbody>
  <% entries.each do |entry| %>
      <%= render 'accounting_entries/customer_entry', accounting_entry: entry %>



  <% end %>
  </tbody>

</table>


