<tr id="accounting_entry_<%= accounting_entry.id %>">
  <td id="entry_<%= accounting_entry.id %>_id"><%= accounting_entry.id %></td>
  <td id="entry_<%= accounting_entry.id %>_desc"><%= accounting_entry.description %></td>
  <td id="entry_<%= accounting_entry.id %>_type"><%= accounting_entry.class.model_name.human %></td>
  <td id="entry_<%= accounting_entry.id %>_status"><%= accounting_entry.human_status_name.humanize %></td>
  <td id="entry_<%= accounting_entry.id %>_amount"><%= humanized_money_with_symbol accounting_entry.amount %></td>
  <td id="entry_<%= accounting_entry.id %>_collector"><%= accounting_entry.collector.name if defined? accounting_entry.collector %></td>
  <td id="entry_<%= accounting_entry.id %>_balance"><%= humanized_money_with_symbol accounting_entry.balance %></td>
  <td id="entry_<%= accounting_entry.id %>_actions"><%= adjustment_entry_actions(accounting_entry, "entry_small_btn") %></td>
  <td>
    <% if accounting_entry.respond_to? :events %>
        <h5>Events</h5>
      <%= render 'events/events_table', events: accounting_entry.events %>
  <% end %>
  </td>
</tr>