<table class="table table-striped" id="accounting_entries_table">
  <thead>
  <tr>
    <th> <%= AccountingEntry.human_attribute_name(:id) %> </th>
    <th><%= AccountingEntry.human_attribute_name(:description) %>       </th>
    <th><%= AccountingEntry.human_attribute_name(:type) %>          </th>
    <th><%= AccountingEntry.human_attribute_name(:status) %>        </th>
    <th><%= AccountingEntry.human_attribute_name(:amount) %>        </th>
    <th><%= AccountingEntry.human_attribute_name(:collector) %>        </th>
    <th><%= Account.human_attribute_name(:balance) %> </th>
    <th><%= I18n.t('general.general.actions') %> </th>
    <th><%= Event.model_name.human %> </th>
  </tr>
  </thead>
  <tbody>
  <% entries.each do |entry| %>
      <%= render 'accounting_entries/entry', accounting_entry: entry %>
  <% end %>
  </tbody>

</table>
