<%= select_tag :account, grouped_options_for_select(account_options), prompt: I18n.t('general.select_prompt') %>
<button id="get-entries-btn" class="ajax-btn" data-account-id="<%= @account.id if @account.present? %>"><%= I18n.t('general.buttons.get_entries') %></button>

<%= label_tag Account.human_attribute_name(:balance) %>
<span id="balance"><%= humanized_money_with_symbol @account.balance if @account.present? %></span>

<%= render 'accounting_entries/in_line_form', account: @account %>

<table class="table table-striped display" id="entries_table" data-source="<%= accounting_entries_url(format: "json") %>">
  <thead>
  <tr>
    <th><%= AccountingEntry.human_attribute_name(:id) %> </th>
    <th><%= AccountingEntry.human_attribute_name(:created_at) %></th>
    <th><%= AccountingEntry.human_attribute_name(:ticket) %></th>
    <th><%= AccountingEntry.human_attribute_name(:type) %></th>
    <th><%= AccountingEntry.human_attribute_name(:status) %></th>
    <th><%= AccountingEntry.human_attribute_name(:amount) %></th>
    <th><%= AccountingEntry.human_attribute_name(:balance) %></th>
  </tr>
  </thead>

</table>
