<p id="notice"><%= notice %></p>

<p>
  <b>ID:</b>
  <!--This span with ID needs to be maintained to accomodate auto testing-->
  <span id="accounting_entry_id"><%= @accounting_entry.id %></span>
</p>

<p>
  <b>Status:</b>
  <%= @accounting_entry.status_name %>
</p>

<p>
  <b>Event:</b>
  <%= @accounting_entry.event_id %>
</p>

<p>
  <b>Amount</b>
  <%= @accounting_entry.amount %>
</p>

<p>
  <b>Amount currency:</b>
  <%= @accounting_entry.amount_currency %>
</p>

<p>
  <b>Ticket:</b>
  <%= @accounting_entry.ticket_ref_id %>
</p>

<p>
  <b>Account:</b>
  <%= @accounting_entry.account_id %>
</p>

<%= adjustment_entry_actions %>
