<p id="notice"><%= notice %></p>

<p>
  <b>Status:</b>
  <%= @accounting_entry.status %>
</p>

<p>
  <b>Event:</b>
  <%= @accounting_entry.event_id %>
</p>

<p>
  <b>Amount cents:</b>
  <%= @accounting_entry.amount_cents %>
</p>

<p>
  <b>Amount currency:</b>
  <%= @accounting_entry.amount_currency %>
</p>

<p>
  <b>Ticket:</b>
  <%= @accounting_entry.ticket_id %>
</p>

<p>
  <b>Account:</b>
  <%= @accounting_entry.account_id %>
</p>


<%= link_to 'Edit', edit_accounting_entry_path(@accounting_entry) %> |
<%= link_to 'Back', accounting_entries_path %>
