<%= simple_form_for Statement.new do |f| %>
<div class="modal-body">
  <div class="row-fluid">

    <%= f.hidden_field :account_id, value: account.id %>
      <div class="span6">
        <%= f.input :exclude_zero_balance, as: :boolean %>
      </div>
      <div class="span6">
        <%= f.input :notes %>
      </div>

    </div>
</div>

    <div class="modal-footer">

     <div class="row-fluid">
          <%= f.submit t('general.general.new_statement'), class: "btn btn-medium btn-primary", id: "new_statement_btn" %>
     </div>

    </div>
<% end %>


