<%= link_to job.class.human_status_event_name(:transfer), "#transfer_modal", "data-rel" => "popup", "data-transition" => "pop", "class" => "ui-btn-up-d", "data-role" => "button", "data-theme" => "d", id: 'transfer_btn' %>


<div data-role="popup" id="transfer_modal" data-overlay-theme="a" data-theme="c" data-dismissible="false" style="max-width:400px;" class="ui-corner-all">


  <div data-role="header" data-theme="a" class="ui-corner-top">
    <h1><%= I18n.t('general.general.transfer_job') %></h1>
  </div>
  <div data-role="content" data-theme="d" class="ui-corner-bottom ui-content">

    <%= simple_form_for job.becomes(ServiceCall), html: { class: style("service_call.forms.status.transfer.form_classes") } do |f| %>

        <div class="transfer_job_form">
          <br>
          <label class="string optional control-label" for="service_call_subcontractor_id"> <%= I18n.t('general.general.select_subcon') %></label>

          <%= f.select :subcontractor_id, subcon_options, include_blank: true %>
          <%= f.select :subcon_agreement_id, collection: [] %>

          <div class="ui-grid-a">
            <div class="ui-block-a"><%= @service_call.class.human_attribute_name(:allow_collection) %></div>
            <div class="ui-block-b collection"> <%= f.input :allow_collection %></div>
          </div>

          <div class="ui-grid-a">
            <div class="ui-block-a"><%= @service_call.class.human_attribute_name(:re_transfer) %></div>
            <div class="ui-block-b collection"> <%= f.input :re_transfer %></div>
          </div>

          <%= render 'service_calls/transfer_props/flat_fee_props', f: f %>
          <%= hidden_field_tag "service_call[status_event]", 'transfer' %>

          <%= f.input :notes %>

         </div>

          <%= f.submit job.class.human_status_event_name(:transfer).titleize,
                       id:      'service_call_transfer_btn',
                       class: "ui-btn-up-b ui-btn-hidden",
                       "data-theme" => "b",
                       title:   'Click to transfer the job to the Subcontractor you selected',
                       rel:     'tooltip',
                       confirm: "" %>

          <a href="#" data-role="button" data-inline="true" data-rel="back" data-transition="flow" data-theme="d">Close</a>
    <% end %>

  </div>


</div>











