<div class="well well_height">

  <div class="row-fluid">

    <div class="smart_label">
      <ul>
        <li><h1><%= t('general.general.setting_job_notifications') %></h1></li>
        <% if permitted_to? :show, :org_settings %>
            <li>
              <%= link_to(t('general.general.org_settings'), org_settings_path,
                          class: "btn btn btn-primary",
                          role:  "button",
                          id:    "link_to_org_settings_btn") %>
            </li>
        <% else %>
            <li></li>
        <% end %>
      </ul>
    </div>

    <div class="setting_table">
      <%= render 'notifications_table', notif_names: Settings.job_notification_settings %>
    </div>
  </div>

  <br>
  <br>

  <div class="row-fluid">
    <div class="smart_label">
      <ul>
        <li><h1><%= t('general.general.setting_aff_payment_notifications') %></h1></li>
        <li></li>
      </ul>
    </div>

    <div class="setting_table">
      <%= render 'notifications_table', notif_names: Settings.aff_payments_settings %>
    </div>
  </div>
  <br>
  <br>

  <div class="row-fluid">

    <div class="smart_label">
      <ul>
        <li><h1><%= t('general.general.setting_account_notifications') %></h1></li>
        <li></li>
      </ul>
    </div>

    <div class="setting_table">
      <%= render 'notifications_table_disabled', notif_names: Settings.adj_notification_settings %>
    </div>

  </div>

  <br>
  <br>

  <div class="row-fluid">

    <div class="smart_label">
      <ul>
        <li><h1><%= InviteNotification.model_name.human.pluralize %></h1></li>
        <li></li>
      </ul>
    </div>

    <div class="setting_table">
      <%= render 'notifications_table_disabled', notif_names: Settings.invite_notification_settings %>
    </div>

  </div>
  <div class="row-fluid">

    <div class="smart_label">
      <ul>
        <li><h1><%= t('general.general.agreements_notifications') %></h1></li>
        <li></li>
      </ul>
    </div>

    <div class="setting_table">
      <%= render 'notifications_table_disabled', notif_names: Settings.agr_notification_settings %>
    </div>

  </div>


  <!--end of well-->
</div>



