<h3><%= I18n.t('general.general.balance')%>
  <% if  @customer.account.balance < 0 %>
             <span class="red_badge_collape">
                    <badge><%= Bom.human_attribute_name(:total) %> <%= '&nbsp;'.html_safe %>
                      <span id='job_total_price'><%= humanized_money_with_symbol @customer.account.balance %></span>
                    </badge>
             </span>
  <% else %>
             <span class="blue_badge_collape">
                    <badge><%= Bom.human_attribute_name(:total) %> <%= '&nbsp;'.html_safe %>
                      <span id='job_total_price'><%= humanized_money_with_symbol @customer.account.balance %></span>
                    </badge>
             </span>
  <% end %>
</h3>

<% if @customer.account.present? %>

    <div id="accounting_entries">
      <%= render 'accounting_entries/accounting_entries_table', account: @customer.account %>
    </div>

<% end %>


