<div class="customer_balance_show">
  <div class="smart_label">
    <ul>
      <li><h1><%= Account.human_attribute_name(:balance) %></h1></li>
      <li></li>
      <% if @customer.account.balance < 0 %>
          <li class="red-balance"><h1><%= I18n.t('general.general.total').html_safe + "&nbsp;".html_safe %><span id="balance"><%= humanized_money_with_symbol @customer.account.balance %></span></h1></li>
      <% else %>
          <li class="green-balance"><h1><%= I18n.t('general.general.total').html_safe + "&nbsp;".html_safe %><span id="balance"><%= humanized_money_with_symbol @customer.account.balance %></span></h1></li>
      <% end %>
    </ul>
  </div>

  <div id="accounting_entries">
    <%= render 'accounting_entries/accounting_entries_table', account: @customer.account %>
  </div>

  <div class="form-actions">
    <%= link_to I18n.t('general.general.more_details'), accounting_entries_url('accounting_entry[account_id]' => @customer.account.id), class: 'btn btn-primary btn-medium' %>
  </div>

</div>
