<tr>
  <td><%= link_to customer.name, customer_path(customer) %></td>
  <td><%= customer.phone %></td>
  <td><%= customer.address1 %> <%= customer.address2 %>, <%= customer.city %>, <%= customer.state %>, <%= customer.zip %></td>

  <td>
    <%= link_to 'Edit', edit_customer_path(customer), :class => 'btn btn-mini' %>
    <%= link_to 'Archive', customer_path(customer), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>


  </td>
</tr>


