<%= f.input :name, autofocus: true %>
<%= f.input :company %>


  <%= f.input :address1 %>
 <%= f.input :address2 %>
  <%= f.input :city %>


<div class="control-group string mandatory">
  <label class="string optional control-label" for="customer_country">Country</label>

  <div class="controls">
    <%= f.country_select :country, {priority: %w[US]}, id: "country" %>
  </div>

</div>


<div class="control-group string mandatory">
  <label class="string optional control-label" for="customer_state">State</label>

  <div class="controls">
    <%= render 'subregion_select', object: f.object %>

  </div>
</div>



<%= f.input :zip %>
<%= f.input :phone %>
<%= f.input :mobile_phone %>

<div class="default_tax_signup">
  <%= image_tag("question24.png", :title => I18n.t('general.messages.customer_email'), :rel => 'tooltip', "data-placement" => "right") %>

  <%= f.input :email, as: :email %>
</div>

<div class="default_tax_signup">
  <%= image_tag("question24.png", :title => I18n.t('general.messages.default_tax_signup'), :rel => 'tooltip', "data-placement" => "right") %>

  <%= f.input :default_tax, as: :decimal %>
</div>
