<!--# Table name: customers-->
<!--#-->
<!--#  id              :integer         not null, primary key-->
<!--#  name            :string(255)-->
<!--#  organization_id :integer-->
<!--#  company         :string(255)-->
<!--#  address1        :string(255)-->
<!--#  address2        :string(255)-->
<!--#  city            :string(255)-->
<!--#  state           :string(255)-->
<!--#  zip             :string(255)-->
<!--#  country         :string(255)-->
<!--#  phone           :string(255)-->
<!--#  mobile_phone    :string(255)-->
<!--#  work_phone      :string(255)-->
<!--#  email           :string(255)-->
<!--#  created_at      :datetime        not null-->
<!--#  updated_at      :datetime        not null-->

<%= f.input :name %>
<%= f.input :company %>
<%= f.input :address1 %>
<%= f.input :address2 %>
<%= f.input :city %>

<div class="control-group string mandatory">
  <label class="string optional control-label" for="customer_country">Country</label>

  <div class="controls">
    <%= f.country_select :country, {priority: %w[US]} %>
  </div>

</div>


<div class="control-group string mandatory">
  <label class="string optional control-label" for="customer_state">State</label>

  <div class="controls">
    <%= render 'region_select/subregion_select', object: f.object %>
  </div>
</div>



<%= f.input :zip %>
<%= f.input :phone %>
<%= f.input :mobile_phone %>
<%= f.input :email, as: :email %>