<%= provide(:title, 'New Customer') %>

<%= simple_form_for @customer, :html => {:class => 'form-horizontal'} do |f| %>


        <fieldset class="ui-grid-a ui-btn-inner-small">
      <div class="ui-block-a">
        <%= link_to 'Back', customers_path, "class" => "ui-btn-up-c", "data-role" => "button", "data-icon" => "arrow-l", "data-iconpos" => "left" %>
      </div>
      <div class="ui-block-b">
        <div class="miya_blue_button">
          <%= f.submit 'Save', "class" => "ui-btn-up-b", "data-role" => "button", "data-theme" => "b", id: 'save_provider_btn', "data-icon" => "check", "data-iconpos" => "left" %>
        </div>
      </div>
    </fieldset>


    <% if f.object.errors.any? %>
        <%= render 'shared/error_messages', object: f.object %>
    <% end %>

    <%= render 'fields', f: f %>



    <div class="miya_blue_button">
      <%= f.submit 'Save', "class" => "ui-btn-up-b", "data-role" => "button", "data-theme" => "b", id: 'save2_provider_btn', "data-icon" => "check", "data-iconpos" => "left" %>
    </div>


<% end %>