<% provide(:title, @customer.name) %>


<div class="title_label customer_title">
  <ul>
    <li><h1><%= Customer.model_name %>:</h1></li>
    <li><h2><%= @customer.name %></h2></li>
    <li></li>
  </ul>
</div>

<div class="well well_height">

  <div class="row-fluid">
    <div class="no_margins">

      <div class="span6 customer_show_right_column">
        <!--Contact Info-->
        <%= render :partial => 'customer_contact_info' %>
        <br>
        <%= render 'customer_projects' %>

        <!--<#% end %>-->
      </div>


      <div class="span6">
        <%= render :partial => 'customer_balance' if @customer.account.present? %>
        <%= render :partial => 'customer_overdue_jobs' %>
        <%= render :partial => 'customer_jobs' %>
      </div>


      <!--End row-->
    </div>
    <%= render 'statements/form', account: @customer.account %>
  </div>

  <!--End of Well-->
</div>

