<% provide(:title, @customer.name) %>


<div class="title_label customer_title">
  <ul>
    <li><h1><%= Customer.model_name %>:</h1></li>
    <li><h2><%= @customer.name %></h2></li>
    <li></li>
  </ul>
</div>

<div class="well well_height">

  <div class="row-fluid">
    <div class="no_margins">

      <div class="span6">
        <!--Contact Info-->
        <%= render :partial => 'customer_contact_info' %>
        <!--Agreements-->
        <!--<#% if @agreements.blank? %>-->

            <!--<div class="row-fluid customer_agreements">-->

             <!--<span class="alert alert-info" id="empty_agreement_notice">-->
                    <!--<#%= I18n.t('general.messages.invite_member') %>-->
               <!--<#%= button_tag I18n.t('general.general.new_agreement'), :class => 'btn btn-small btn-primary', id: 'new-agreement-button', data: { toggle: "collapse", target: "#add_new_agreement" } %>-->
              <!--</span>-->
              <!--<br><br>-->

              <!--<div class="bom collapse" id="add_new_agreement">-->
                <!--&lt;!&ndash;<#%= render 'agreements/agreement_form', other_party: @customer %>&ndash;&gt;-->
              <!--</div>-->
            <!--</div>-->

        <!--<#% else %>-->
            <!--<#%= render :partial => 'customer_agreements' %>-->

        <!--<#% end %>-->
      </div>


      <div class="span6">

              <%= render :partial => 'customer_balance' if @customer.account.present? %>
              <!-- <#% unless @affiliate.service_calls.empty? %>-->
              <%= render :partial => 'customer_jobs' %>
              <!-- <#% end  %> -->
      </div>

        <!--End row-->
  </div>
</div>
<!--End of Well-->
</div>

