<br>
<div class="edit_job_details">
  <div class="ui-grid-a">
    <div class="ui-block-a"><%= @project.class.human_attribute_name(:name) %></div>
    <div class="ui-block-b"> <%= f.input :name %></div>
  </div>


  <div class="ui-grid-a">
    <div class="ui-block-a"><%= @project.class.human_attribute_name(:status) %></div>
    <div class="ui-block-b">
      <%= f.input :status, collection: Project.state_machines[:status].states, label_method: :human_name, value_method: :value, :include_blank => f.object.human_status_name %>
    </div>
  </div>

  <div class="ui-grid-a">
    <div class="ui-block-a"><%= t('general.general.select_contractor') %></div>
    <div class="ui-block-b">
      <%= f.select :provider_id, local_provider_options, include_blank: true %>
    </div>
  </div>

 <div class="ui-grid-a">
    <div class="ui-block-a"></div>
    <div class="ui-block-b"><%= select_tag 'project[provider_agreement_id]', collection: [], select: "none" %></div>

 </div>



 <div class="ui-grid-a">
    <div class="ui-block-a"><%= t('general.general.customer') %></div>
    <div class="ui-block-b">
      <%= f.input :customer_name, input_html: { id: "customer-autocomplete", data: { ref_id: "" } }, :label => "Select Customer" %>
      <!--<#%= f.autocomplete_field :customer_name, autocomplete_customer_name_service_calls_path, update_elements: { id: '#project_customer_id', address1: '#service_call_address1', address2: '#service_call_address2', company: '#service_call_company', phone: '#service_call_phone', mobile_phone: '#service_call_mobile_phone', work_phone: '#service_call_work_phone', country: '#country', state: '#service_call_state', email: '#service_call_email', zip: '#service_call_zip', city: '#service_call_city' }, data: { ref_id: '' } %>-->
      <!--<#%= f.hidden_field :customer_id %>-->
    </div>
  </div>
</div>
<div class="ui-grid-a">
  <div class="ui-block-a"><%= @project.class.human_attribute_name(:start_date) %></div>
  <div class="ui-block-b"><%= f.text_field :start_date, class: "mobi-datetime", format: :short %></div>
</div>
<div class="ui-grid-a">
  <div class="ui-block-a"><%= @project.class.human_attribute_name(:end_date) %></div>
  <div class="ui-block-b"><%= f.text_field :end_date, class: "mobi-datetime", format: :short %></div>
</div>
<div class="ui-grid-a">
  <div class="ui-block-a"><%= @project.class.human_attribute_name(:external_ref) %></div>
  <div class="ui-block-b project_ext_ref_label"> <%= f.input :external_ref %></div>
</div>

<!--old-->
<%= f.input :description %>


