<div class="well well_height"  >

        <div class="row-fluid">

          <div class="smart_label">
            <h1><%= I18n.t('general.general.edit_project') %></h1>
          </div>

        </div>
        <br>


        <div class="row-fluid">


          <%= simple_form_for(@project, :html => { :class => 'form-horizontal' }) do |f| %>
              <%= f.error_notification %>

              <%= render 'form', f: f %>


              <div class="form-actions">


                <%= link_to I18n.t('general.general.back'), project_path, :class => 'btn btn-medium' %>
                <%= f.submit I18n.t('general.general.Save'), class: "btn btn-medium btn-primary", id: 'service_call_create_proj_btn' %>

              </div>

          <% end %>

        </div>
        <!--end of well-->
      </div>
</div>

