<% provide(:title, I18n.t('general.general.projects').html_safe) %>

<br>


<div class="search_job">

  <ul data-role="listview"  data-filter="true" data-divider-theme="d" data-filter-placeholder="Search Contacts">
    <div class= "new_job_button">
      <%= link_to I18n.t('general.general.new'), new_project_path, "data-role" => "button", id: 'new-service-call-button', "class" => "ui-btn ui-shadow ui-btn-corner-all ui-mini ui-btn-inline ui-btn-up-b" %>
    </div>


    <% unless @projects.nil? %>
        <% unless @projects.empty? %>
            <% @projects.each do |sc| %>
                <li class="inline_mobile service_calls_index">
                  <p class="ui-li-aside-blue ui-li-desc-blue">
                    <badge><%= sc.id %></badge>
                  </p>

                      <%= link_to sc.try(:name), project_path(sc), "data-transition" => "slide", id: "jobs_index_no_address" %>

                  <span class="project_status project_status_<%= sc.status_name %>">
                                  <%= sc.human_status_name %>
                </span>

                </li>
            <% end %>
        <% end %>

    <% end %>
  </ul>


</div>

