<p id="notice"><%= notice %></p>

<<%= @project.name %>
<%= @project.description %>

<h2>Linked Jobs</h2>
<%= render 'shared/job_list', model: @project, title: 'Project Jobs', table_id: 'project-jobs' %>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
