<%= provide(:title, 'Sign In') %>

<div class="miya_logo_large">
  <img src="/assets/mobileLarge.png" alt="MiYa"/>
  <br>
</div>


<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => 'form-horizontal' }) do |f| %>
    <%= f.input :email %>
    <%= f.input :password %>
    <div class="miya_checkbox sign_in_controls">
      <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
    </div>


    <%= f.button :submit, "Sign in", "class" => "ui-btn-up-b", "data-role" => "button", "data-theme" => "b", id: 'sign_in_mobile_btn', "data-icon" => "check", "data-iconpos" => "left" %>


    <br>
    <br>

<% end %>


<p>Forgot your password?</p>


<div class="ui-grid-b">
  <div class="ui-block-a">
    <%= link_to "Reset", new_password_path(resource_name), "class" => "ui-btn-up btn-signup", "data-role" => "button", "data-theme" => "d", "data-icon" => "alert" %>

  </div>
  <div class="ui-block-b"> </div>
  <div class="ui-block-c"> </div>
</div>

