<!--<div class="background_welcome">-->
  <!--<#%= image_tag("bg7.jpg", id: "background_welcome") %>-->
<!--</div>-->

<div class="welcomepage_frame">

<br>
<div class="row-fluid">
  <div class="span1"></div>
  <div class="span10">
  <div class="well well_signin">


       <div class="smart_label"  >
      <ul>
        <li><h1>Sign In</h1></li>
        <li>
          <%= render "links" %>
        </li>
      </ul>
    </div>

    <br>

    <div class="row-fluid">
      <div class="span6">


        <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => 'form-horizontal' }) do |f| %>
                      <%= f.input :email, "type" => "email"  %>
                      <%= f.input :password %>
            <div class="sign_in_controls">
                      <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
            </div>
            <div class="form-actions">
                <%= f.button :submit, "Sign in", :class => 'btn btn-large btn-primary' %>
            </div>
        <% end %>
      </div>

      <div class="span6">
        <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
            <strong>Didn't receive email confirmation instructions?</strong>
            <%= link_to "Click here", new_confirmation_path(resource_name) %>
        <% end %>
      </div>


  </div>



    <br>
    <br>
    <div class="row-fluid">
        <div class="span6">
          <strong>Recommended Browsers</strong>
          <p>For optimal performance of SubConTraX, we recommend using one of the browsers listed below:</p>
          <%= image_tag "firefox64.png" %><%= image_tag "chrome64.png" %>
        </div>





    </div>

  </div>

  </div>
</div>

</div>
