<tr>
  <td>
    <% if affiliate.subcontrax_member==true %>
        <span class="member_label">
          <badge><i class="icon-user icon-white"></i></badge>
        </span>
    <% end %>

  </td>
  <td><%= link_to affiliate.name, affiliate_path(affiliate) %></td>
  <td><%= affiliate.company %></td>
  <td><%= affiliate.phone %></td>
  <td><%= affiliate.email %></td>
  <td>
    <% if affiliate.subcontrax_member==true %>
      <% if  affiliate.id.in? affiliate_ids %>
         <span class="miya_buttons_grid">
              <%= link_to 'Archive', edit_affiliate_path(affiliate), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
         </span>
      <% else %>
         <div class="miya_buttons_grid">
           <ul>
             <li>&nbsp;</li>
             <li>&nbsp;</li>
             <li>
               <%= form_for affiliate.agreements.new, :html => { :class => 'add_member' } do |f| %>

                   <%= f.hidden_field :provider_id %>
                   <%= f.hidden_field :subcontractor_id, value: current_user.organization.id %>
                   <%= f.submit "Add", class: "btn btn-mini btn-info miya_add_member", id: "#{affiliate.id}-add-sbcx-member" %>
               <% end %>
             </li>
           </ul>

          </div>
      <% end %>

    <% else %>
       <div class="miya_buttons_grid">
          <ul>
            <li>
              <%= link_to 'Archive', affiliate_path(affiliate), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
            </li>
            <li>
              <%= link_to 'Edit', edit_affiliate_path(affiliate), :class => 'btn btn-mini' %>
            </li>
              <li>
                <%= link_to 'Send Invite', new_affiliate_path, :class => 'btn btn-mini btn-info' %>
            </li>

          </ul>
       </div>
    <% end %>

  </td>
</tr>

