<!--<div class="ui-body ui-body-a">-->

<!--<div data-role="fieldcontain" class="ui-field-contain ui-body ui-br">-->
  <!--<label for="name-a" class="ui-input-text">Text Input:</label>-->
  <%= f.input :name, autofocus: true, "class" => "ui-input-text ui-body-a ui-corner-all ui-shadow-inset" %>

  <!--<input type="text" value="" id="name-a" name="name" class="ui-input-text ui-body-a ui-corner-all ui-shadow-inset">-->
<!--</div>-->
<!--<div data-role="fieldcontain" class="ui-field-contain ui-body ui-br">-->

<%= f.input :status_event, label: Affiliate.human_attribute_name(:status), collection: f.object.status_transitions, label_method: :human_to_name, value_method: :event, :include_blank => f.object.human_status_name %>
<!--</div>-->


  <%= f.association :organization_roles, :collection => applicable_roles, as: :check_boxes %>
  <%= f.input :company %>
  <%= f.input :phone, class: 'input-xlarge' %>
  <%= f.input :mobile %>
  <%= f.input :email, as: :email %>
  <%= f.input :website, as: :url %>

  <!--<div class="field_input">-->
  <!--<ul>-->
  <%= f.input :address1 %>
  <%= f.input :address2 %>

  <div class="control-group string mandatory">
    <label class="string optional control-label" for="provider_country">Country</label>

    <div class="controls">
      <%= f.country_select :country, { priority: %w[US] }, id: 'country' %>
    </div>
  </div>

  <div class="control-group string mandatory">
    <label class="string optional control-label" for="affiliate_state">State</label>

    <div class="controls">
      <%= render 'subregion_select', f: f %>

    </div>
  </div>
  <%= f.input :city %>
  <%= f.input :zip %>


<!--</div>-->
