<div class="well">

  <div class="smart_label">
    <ul>
      <li><h1>My Affiliates</h1></li>
      <li>
        <%= form_tag affiliates_path, id: "agreement_search_form", :method => :get do %>
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag t('affiliates.buttons.search'), :name => nil, class: 'btn btn-medium', :id => 'affiliate-search-button' %>
        <% end %>
      </li>
      <li>
        <p>Search for private affiliates and SubConTraX members</p>
      </li>
      <li>
        <%= link_to t('affiliates.buttons.new_affiliate'), new_affiliate_path, :class => 'btn btn-primary', id: 'new-affiliate-button' %>
      </li>
    </ul>
  </div>



  <% if !@affiliates.empty? %>
      <table class="table table-striped" id="affiliates_search_results">
        <br>
        <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Company</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
        </thead>
  <% else %>
      <span class="alert alert-info" id="empty_search_result_notice">No records, click "New Provider" to add new contact</span>
      <br>
      <br>
  <% end %>


  <tbody id="affiliates">
  <% @affiliates.each do |affiliate| %>
      <%= render affiliate %>
  <% end %>

  </tbody>
  </table>

  <%= will_paginate @affiliates, :class => 'pagination pagination-centered' %>

  <div class="row-fluid">
    <!--<div class="miya_table_row">-->
              <span class="member_label">
                    <badge><i class="icon-user icon-white"></i></badge>
               </span>
    <!--<span>&nbsp;</span>-->
    <span class="miya_blue_note">&nbsp; SubConTraX Member</span>
  </div>

</div>



