<% provide(:title, Affiliate.name.humanize.pluralize) %>

<!--<div class="three_buttons_top ui-btn-inner-small">-->

<!--<fieldset class="ui-grid-b">-->

      <!--<div class="ui-block-a">-->
             <!--<#%= link_to 'Subcontractors', subcontractors_path, "data-role" => "button", :class => "ui-btn-up-c", "data-inline" => "true" %>-->
      <!--</div>-->

      <!--<div class="ui-block-b">-->
             <!--<#%= link_to 'Providers', providers_path, "data-role" => "button", :class => "ui-btn-up-c", "data-inline" => "true" %>-->
      <!--</div>-->

      <!--<div class="ui-block-c">-->
            <!--<div class="miya_blue_button">-->
                 <!--<#%= link_to 'New', new_affiliate_path, "data-role" => "button", :class => "ui-btn-up-b",  id: 'new-affiliate-button', "data-icon" => "email"%>-->
            <!--</div>-->
      <!--</div>-->

<!--</fieldset>-->
<!--</div>-->


<br>


<!--<ul data-role="listview">-->

  <!--<li data-role="list-divider" role="heading" class="ui-li ui-li-divider ui-bar-d affiliates_switch"><#%= Subcontractor.model_name.human  %>-->

    <!--<div data-role="fieldcontain">-->
      <!--<select name="flip-5" id="flip-5" data-role="slider" data-theme="c" data-track-theme="a" data-mini="true">-->
        <!--<option value="no">No</option>-->
        <!--<option value="yes">Yes</option>-->
      <!--</select>-->
    <!--</div>-->
    <!--<div class= "show_all_notifications">-->
      <!--<#%= link_to I18n.t('general.general.see_all'), notifications_path, "data-role" => "button", id: 'show-all-notifications-button', "class" => "ui-btn ui-shadow ui-btn-corner-all ui-mini ui-btn-inline ui-btn-up-b" %>-->
    <!--</div>-->
        <!--<span class="alert_label_mobile">-->
                <!--<badge><#%= @notification_count %></badge>-->
        <!--</span>-->
  <!--</li>-->
  <!--</ul>-->

<div class="search_network">
  <%= form_tag affiliates_path, id: "agreement_search_form", :method => :get, :remote => true, :class => "ui-listview-filter ui-bar-c", "role" => "search" do %>
      <div class="ui-input-search ui-shadow-inset ui-btn-corner-all ui-btn-shadow ui-icon-searchfield ui-body-c">
        <%= text_field_tag :search, params[:search], "data-divider-theme" => "d", :placeholder => "Search Contacts", "class" => "ui-input-text ui-body-c" %>
      </div>
      <div class= "new_job_button">
        <%= link_to I18n.t('general.general.new'), new_affiliate_path, "data-role" => "button", id: 'new-affiliate-button', "class" => "ui-btn ui-shadow ui-btn-corner-all ui-mini ui-btn-inline ui-btn-up-b" %>
      </div>
  <% end %>
</div>

<ul data-role="listview">
  <% unless @affiliates.empty? %>
  <% @affiliates.each do |affiliate| %>
          <li class="inline_mobile service_calls_index affiliate_index_line">
            <p class="ui-li-aside-affiliate ui-li-desc-affiliate">
              <% if affiliate.subcontrax_member==true %>
                    <span class="member_logo">
                            <img src="/assets/member.png">
                    </span>

              <% end %>
            </p>

            <%= link_to affiliate.name, affiliate, "data-transition" => "slide" %>

         <span class="subcon_label">
            <% if affiliate.subcontractor? %>
                <%= image_tag("sub24.png", :title => I18n.t('general.messages.provider_icon').html_safe, :rel => 'tooltip') %>

            <% end %>
         </span>

            <span class="provider_label">
                <% if affiliate.provider? %>
                <%= image_tag("prov24.png", "data-target" => "#popupInfo", "data-transition" => "pop", "data-rel" => "popup") %>
                <% end %>
            </span>




          </li>
  <% end %>
  <% end %>
</ul>

<div data-role="popup" id="popupInfo" class="ui-content" data-theme="e" style="max-width:350px;">
  <p>Here is a <strong>tiny popup</strong> being used like a tooltip</p>
</div>

