<% provide(:title, Affiliate.name.humanize.pluralize) %>

<div class="three_buttons_top ui-btn-inner-small">

<fieldset class="ui-grid-b">

      <div class="ui-block-a">
             <%= link_to 'Subcontractors', subcontractors_path, "data-role" => "button", :class => "ui-btn-up-c", "data-inline" => "true" %>
      </div>

      <div class="ui-block-b">
             <%= link_to 'Providers', providers_path, "data-role" => "button", :class => "ui-btn-up-c", "data-inline" => "true" %>
      </div>

      <div class="ui-block-c">
            <div class="miya_blue_button">
                 <%= link_to 'New', new_affiliate_path, "data-role" => "button", :class => "ui-btn-up-b",  id: 'new-affiliate-button', "data-icon" => "email"%>
            </div>
      </div>

</fieldset>
</div>


<br>

<div class="search_network">
  <%= form_tag affiliates_path, id: "agreement_search_form", :method => :get, :remote => true, :class => "ui-listview-filter ui-bar-c", "role" => "search" do %>
      <div class="ui-input-search ui-shadow-inset ui-btn-corner-all ui-btn-shadow ui-icon-searchfield ui-body-c">
        <%= text_field_tag :search, params[:search], "data-divider-theme" => "d", :placeholder => "Search Contacts", "class" => "ui-input-text ui-body-c" %>
      </div>
  <% end %>
</div>

<ul data-role="listview">
  <% @affiliates.each do |affiliate| %>
      <li class="inline_mobile"><%= link_to affiliate.name, affiliate, "data-transition" => "slide" %>
        <% if affiliate.subcontrax_member==true %>
            <span class="member_label_mobile">
              <badge>Member</badge>
             </span>
        <% end %>
      </li>
  <% end %>
</ul>

