<% provide(:title, Affiliate.name.humanize.pluralize) %>

<div class="well well_height">

  <div class="smart_label">
    <ul>
          <li><h1><%= I18n.t('general.general.my_affiliates') %></h1></li>
          <li>
            <%= form_tag affiliates_path, id: "agreement_search_form", :method => :get do %>
                <%= text_field_tag :search, params[:search] %>
                <%= submit_tag t('affiliates.buttons.search'), :name => nil, class: 'btn btn-medium', :id => 'affiliate-search-button' %>
            <% end %>
          </li>
          <li>
            <p><%= I18n.t('general.general.search_affiliate') %></p>
          </li>
          <li>
            <%= link_to t('affiliates.buttons.new_affiliate'), new_affiliate_path, :class => 'btn btn-primary', id: 'new-affiliate-button' %>
          </li>
    </ul>
  </div>

  <% if !@affiliates.empty? %>
      <table class="table table-striped" id="affiliates_search_results">
        <br>
        <thead>
        <tr>
          <th></th>
          <th><%= Affiliate.human_attribute_name(:name) %></th>
          <th><%= I18n.t('general.general.phone') %></th>
          <th><%= I18n.t('general.general.email') %></th>
          <th><%= I18n.t('general.general.balance') %></th>
          <th><%= Affiliate.human_attribute_name(:roles) %></th>
          <th><%= I18n.t('general.general.actions') %></th>
        </tr>
        </thead>
  <% else %>
          <span class="alert alert-info" id="empty_search_result_notice"><%= I18n.t('general.messages.no_records') %></span>
          <br>
          <br>
  <% end %>
          <tbody id="affiliates">
              <% @affiliates.each do |affiliate| %>
                  <%= render affiliate %>
              <% end %>
          </tbody>
        </table>

  <%= will_paginate @affiliates, :class => 'pagination pagination-centered' %>
  <br>

  <p><%= image_tag("member.png", :title => I18n.t('general.messages.member_icon'), :rel => 'tooltip') %>
     <span class="miya_blue_note"><%= I18n.t('general.general.member') %></span>
  </p>
  <p><%= image_tag("sub24.png", :title => I18n.t('general.messages.subco_icon'), :rel => 'tooltip') %>
     <span class="miya_blue_note"><%= I18n.t('general.general.subcontractor') %></span>
  </p>
  <p><%= image_tag("prov24.png", :title => I18n.t('general.messages.provider_icon'), :rel => 'tooltip') %>
     <span class="miya_blue_note"><%= I18n.t('general.general.provider') %></span>
  </p>
  <!--End Well-->
</div>