<% provide(:title, Affiliate.name.humanize.pluralize) %>

<br>

<div class="search_network">
  <%= form_tag affiliates_path, id: "agreement_search_form", :method => :get, :remote => true, :class => "ui-listview-filter ui-bar-c", "role" => "search" do %>
      <div class="ui-input-search ui-shadow-inset ui-btn-corner-all ui-btn-shadow ui-icon-searchfield ui-body-c">
        <%= text_field_tag :search, params[:search], "data-divider-theme" => "d", :placeholder => "Search Contacts", "class" => "ui-input-text ui-body-c" %>
      </div>
      <div class= "new_job_button">
        <%= link_to I18n.t('general.general.new'), new_affiliate_path, "data-role" => "button", id: 'new-affiliate-button', "class" => "ui-btn ui-shadow ui-btn-corner-all ui-mini ui-btn-inline ui-btn-up-b" %>
      </div>
  <% end %>
</div>

<ul data-role="listview">
  <% unless @affiliates.empty? %>
  <% @affiliates.each do |affiliate| %>
          <li class="inline_mobile service_calls_index affiliate_index_line">
            <p class="ui-li-aside-affiliate ui-li-desc-affiliate">
              <% if affiliate.subcontrax_member==true %>
                    <span class="member_logo">
                            <img src="/assets/member.png">
                    </span>

              <% end %>
            </p>

            <%= link_to affiliate.name, affiliate, "data-transition" => "slide" %>

         <span class="subcon_label">
            <% if affiliate.subcontractor? %>
                <%= image_tag("sub24.png", :title => I18n.t('general.messages.subco_icon').html_safe, :rel => 'tooltip') %>

            <% end %>
         </span>

            <span class="provider_label">
                <% if affiliate.provider? %>
                <%= image_tag("prov24.png", :title => I18n.t('general.messages.provider_icon').html_safe, :rel => 'tooltip') %>
                <% end %>
            </span>




          </li>
  <% end %>
  <% end %>
</ul>

<div data-role="popup" id="popupInfo" class="ui-content" data-theme="e" style="max-width:310px; right: 12px;">
  <p>Here is a <strong>tiny popup</strong> being used like a tooltip</p>
</div>

