<%= provide(:title, 'New Affiliate') %>

<div class="well">

  <div class="row-fluid">
      <div class="smart_label">
        <h1><%= I18n.t('general.general.new_affiliate') %></h1>

      </div>
  </div>
  <br>

  <div class="row-fluid">
    <div class="span5 ">
      <%= simple_form_for @affiliate, url: affiliates_url, :html => { :class => 'form-horizontal' } do |f| %>
          <% if f.object.errors.any? %>
              <div class="alert alert-block alert-error">
                <a class="close" data-dismiss="alert" href="#">x</a>
                <%= render 'shared/error_messages', object: f.object %>
              </div>
          <% end %>
          <%= render 'fields', f: f %>

          <div class="form-actions">
            <!--<div class="control-group string required">-->
            <!--<div class="controls">-->
            <%= link_to 'Back', providers_path, :class => 'btn btn-medium' %>
            <%= f.submit t('affiliates.buttons.create'), class: "btn btn-medium btn-primary", id: 'create_affiliate_btn' %>
            <!--</div>-->
          </div>
      <% end %>

    </div>
  </div>
</div>
