<!--<#% provide(:title, "<span background-color=red>LALA</span> <div class='btn' >Li</div>".html_safe) %>-->
<% provide(:title, @affiliate.name) %>

<% if @affiliate.subcontrax_member? %>
   <% if  @affiliate.id.in? current_user.organization.provider_ids %>

         <fieldset class="ui-grid-b ui-btn-inner-small">
              <div class="ui-block-a">
                <%= link_to 'Back', affiliates_path, "data-role" => "button", :class => "ui-btn-up-c", "data-icon" => "arrow-l" %>
              </div>
              <div class="ui-block-b">
              </div>
              <div class="ui-block-c">
              </div>
         </fieldset>
    <% else %>
        <fieldset class="ui-grid-a ui-btn-inner-small">
          <div class="ui-block-a">
            <%= link_to 'Back', affiliates_path, "data-role" => "button", :class => "ui-btn-up-c", "data-icon" => "arrow-l" %>
          </div>
          <div class="ui-block-b">
            <div class="miya_blue_button">
            <%= form_for(current_user.organization.agreements.build(provider_id: @affiliate.id)) do |f| %>
                <div><%= f.hidden_field :provider_id %></div>
                <%= f.submit "Add Member", "data-theme" => "b" %>
            <% end %>
          </div>
          </div>
        </fieldset>

    <% end %>

<% else %>
    <fieldset class="ui-grid-a ui-btn-inner-small">
      <div class="ui-block-a">
        <%= link_to 'Back', affiliates_path, "data-role" => "button", :class => "ui-btn-up-c", "data-icon" => "arrow-l" %>
      </div>
      <div class="ui-block-b">
        <div class="miya_blue_button">
         <%= link_to 'Invite', new_affiliate_path, "data-role" => "button", :class => "ui-btn-up-b", "data-icon" => "email" %>
       </div>
      </div>
    </fieldset>

<% end %>


<div data-role="collapsible-set">

  <div data-role="collapsible" data-collapsed="true" data-theme="d">
    <h3>Agreements</h3>
    <p>
      My Agreements
    </p>
  </div>

  <div data-role="collapsible" data-collapsed="true" data-theme="d">
    <h3>Balance</h3>
    <p>
      This is the Balance
    </p>
  </div>

  <div data-role="collapsible" data-collapsed="false" data-theme="d">
    <h3>Contact Information</h3>
    <div class="customer_in_service_call">
       <ul data-role="listview">
          <li class="ui-li ui-li-static">
            <div class="ui-grid-a">
              <div class="ui-block-a">Status:</div>
              <div class="ui-block-b"><%= @affiliate.human_status_name %></div>
            </div>
          </li>
          <li class="ui-li ui-li-static">
            <div class="ui-grid-a">
              <div class="ui-block-a">Name:</div>
              <div class="ui-block-b"><%= @affiliate.name %></div>
            </div>
          </li>
          <li class="ui-li ui-li-static">
            <div class="ui-grid-a">
              <div class="ui-block-a">Company:</div>
              <div class="ui-block-b"><%= @affiliate.company %></div>
            </div>
          </li>
          <li class="ui-li ui-li-static">
            <div class="ui-grid-a">
              <div class="ui-block-a">Address:</div>
              <div class="ui-block-b" style= "display:inline !important"><%= @affiliate.address1 %> <%= @affiliate.address2 %></div>
            </div>
          </li>
          <li class="ui-li ui-li-static">
            <div class="ui-grid-a">
              <div class="ui-block-a">City:</div>
              <div class="ui-block-b"><%= @affiliate.city %></div>
            </div>
          </li>
          <li class="ui-li ui-li-static">
            <div class="ui-grid-a">
              <div class="ui-block-a">State:</div>
              <div class="ui-block-b"><%= @affiliate.state %></div>
            </div>
          </li>
          <li class="ui-li ui-li-static">
            <div class="ui-grid-a">
              <div class="ui-block-a">Country:</div>
              <div class="ui-block-b"><%= @affiliate.country %></div>
            </div>
          </li>
          <li class="ui-li ui-li-static">
            <div class="ui-grid-a">
              <div class="ui-block-a">Zip:</div>
              <div class="ui-block-b"><%= @affiliate.zip %></div>
            </div>
          </li>
          <li class="ui-li ui-li-static">
            <div class="ui-grid-a">
              <div class="ui-block-a">Phone:</div>
              <div class="ui-block-b"><%= @affiliate.phone %></div>
            </div>
          </li>
          <li class="ui-li ui-li-static">
            <div class="ui-grid-a">
              <div class="ui-block-a">Mobile:</div>
              <div class="ui-block-b"><%= @affiliate.mobile %></div>
            </div>
          </li>
          <li class="ui-li">
            <div class="ui-grid-a">
              <div class="ui-block-a">Email:</div>
              <div class="ui-block-b" data-type="email" ><%= @affiliate.email %></div>
            </div>
          </li>
          <li class="ui-li">
            Website:
            <br>
            <%= @affiliate.website %>
          </li>
          <li class="ui-li ui-li-static">
            <div class="ui-grid-a">
              <div class="ui-block-a">Roles:</div>
              <div class="ui-block-b">
                <% for role in @affiliate.organization_roles %>
                    <span><%= role.name %></span>
                <% end %>
              </div>
            </div>
          </li>
          <% if ! @affiliate.subcontrax_member==true %>
              <li class="ui-li ui-li-static" >
                <fieldset class="ui-grid-solo ui-btn-inner-small">
                    <%= link_to "Edit", edit_affiliate_path(@affiliate), "data-role" => "button", :class => "ui-btn-up-d", "data-icon" => "arrow-r", "data-iconpos" => "right" %>
                </fieldset>
              </li>
          <% end %>
        </ul>
    </div>
  </div>

  <div data-role="collapsible" data-collapsed="true" data-theme="d">
    <h3>More ...</h3>
    <p>
    <div class="ui-grid-solo">
      <%= link_to 'Delete', affiliates_path(@affiliate), :method => 'delete', :confirm => 'Are you sure?', "data-role" => "button", "class" => "red_button", "data-mini" => "true", "data-icon" => "delete" %>
    </div>
    </p>
  </div>

  <!--Collapse Ends-->
</div>




