<% provide(:title, @affiliate.name) %>

<div class="well well_height">

<div class="row-fluid">
    <div class="no_margins">
        <div class="span6">
            <!--Contact Info-->
                <%= render :partial => 'contact_info' %>
            <!--Agreements-->
            <% if @agreements.empty? %>
            </div>
            <div class="span10">

             <span class="alert alert-info" id="empty_agreement_notice">
                    <%= I18n.t('general.messages.invite_member') %>
               <%= button_tag I18n.t('general.general.new_agreement'), :class => 'btn btn-small btn-primary', id: 'new-agreement-button', data: { toggle: "collapse", target: "#add_new_agreement" } %>
              </span>
              <br><br>

                  <div class="bom collapse" id="add_new_agreement">
                    <%= render 'agreements/agreement_form', other_party: @affiliate %>
                  </div>
            </div>

            <% else %>
                <%= render :partial => 'affiliate_agreements' %>
                </div>

            <div class="span6">

                <%= render :partial => 'affiliate_balance' if @account.present? %>
                <!-- <#% unless @affiliate.service_calls.empty? %>-->
                <%= render :partial => 'affiliate_jobs' %>
                <!-- <#% end  %> -->
            </div>
          <% end %>
<!--End row-->
</div>
</div>
  <!--End of Well-->
</div>

<div class="row">
  <div id="account">
    <h1>Account</h1>
    <%= render 'accounts/account', account: @account %>
  </div>
</div>

<div class="row">

  <div id="accounting_entries_mark">
    <h1>Accounting Entries</h1>
    <%= render 'accounting_entries/accounting_entries_table', account: @account %>
  </div>
</div>


