<% provide(:title, @affiliate.name) %>

<ul data-role="listview" class="ui-listview">
  <li class="custom_list ui-li ui-li-static">Status: <div style="float: right" class="custom_list"> <%= @affiliate.human_status_name %></div></li>
  <li class="ui-li ui-li-static">Company: <div style="padding-left: 10px"><%= @affiliate.company %></div></li>
  <li class="ui-li ui-li-static">Address: <div style="float: right" style= "white-space: normal"> <%= @affiliate.address1 %> <%= @affiliate.address2 %></div></li>
  <li class="ui-li ui-li-static">City: <div style="float: right"> <%= @affiliate.city %></div></li>
  <li class="ui-li ui-li-static">State:<div style="float: right"> <%= @affiliate.state %></div></li>
  <li class="ui-li ui-li-static">Country: <div style="float: right"> <%= @affiliate.country %></div></li>
  <li class="ui-li ui-li-static">Zip: <div style="float: right"> <%= @affiliate.zip %></div></li>
  <li class="ui-li ui-li-static">Phone: <div style="float: right"> <%= @affiliate.phone %></div></li>
  <li class="ui-li ui-li-static">Mobile:<div style="float: right"> <%= @affiliate.mobile %></div></li>
  <li class="ui-li ui-li-static">Email: <div style="float: right"> <%= @affiliate.email %></div></li>
  <li class="ui-li ui-li-static">Website:<div style="float: right"> <%= @affiliate.website %></div></li>
  <li class="ui-li ui-li-static">Roles: <div style="float: right">
    <% for role in @affiliate.organization_roles %>
        <ul data-role="listview" class="ui-listview">
           <li>
             <span class="label label-info"><%= role.name %></span>
           </li>
        </ul>
    <% end %>
  </div></li>
</ul>


  <div class="row-fluid">
    <div class="span5">
      <div class="smart_label">
        <ul>
          <li><h1><%= @affiliate.name %></h1></li>
          <li>
            <% if @affiliate.subcontrax_member==true %>
                <% if  @affiliate.id.in? current_user.organization.providers || (@affiliate.id.in? current_user.organization.subcontractors) %>
                    <!--Archive is already at the bottom-->
                <% else %>
                    <%= form_for(current_user.organization.agreements.build(provider_id: @affiliate.id)) do |f| %>
                        <div><%= f.hidden_field :provider_id %></div>
                        <%= f.submit "Add Member", class: "btn btn-large btn-primary" %>
                    <% end %>
                <% end %>
            <% else %>
                <%= link_to 'Send Invite', new_affiliate_path, :class => 'btn btn-large btn-info' %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>







  <div class="form-actions">
    <% if @affiliate.subcontrax_member==true %>
        <%= link_to 'Back', affiliates_path, :class => 'btn btn-medium' %>
        <% if  @affiliate.id.in? affiliate_ids %>
            <%= link_to 'Archive', affiliate_path(@affiliate), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-medium btn-danger' %>
        <% end %>

    <% else %>
        <%= link_to 'Back', affiliates_path, :class => 'btn btn-medium' %>
        <%= link_to 'Edit', edit_affiliate_path(@affiliate), :class => 'btn btn-medium btn-primary' %>
        <%= link_to 'Archive', affiliates_path(@affiliate), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-medium btn-danger' %>
    <% end %>
  </div>


