<% provide(:title, @affiliate.name) %>

<div class="well well_height">

  <div class="row-fluid">
    <div class="no_margins">
      <div class="span6">
        <!--Contact Info-->
        <%= render :partial => 'contact_info' %>
        <!--Agreements-->
        <% if @agreements.empty? %>
            </div>
            <div class="span10">

             <span class="alert alert-info" id="empty_agreement_notice">
                    <%= I18n.t('general.messages.invite_member') %>
               <%= button_tag I18n.t('general.general.new_agreement'), :class => 'btn btn-small btn-primary', id: 'new-agreement-button', data: { toggle: "collapse", target: "#add_new_agreement" } %>
              </span>
              <br><br>

              <div class="bom collapse" id="add_new_agreement">
                <%= render 'agreements/agreement_form', other_party: @affiliate %>
              </div>
            </div>

        <% else %>
            <%= render :partial => 'affiliate_agreements' %>
            </div>

            <div class="span6">
              <%= render 'affiliate_balance' if @account.present? %>
              <%= render :partial => 'affiliate_jobs' %>
            </div>
        <% end %>
        <!--End row-->
        </div>
</div>
<!--End of Well-->