<%= f.error_notification %>

<div class="inputs">
  <%= f.input :email, :required => true, :autofocus => true %>
  <%= f.input :password, :required => true %>
  <%= f.input :password_confirmation, :required => true %>
  <%= f.association :roles, as: :check_boxes %>
</div>


