<%= f.error_notification %>

<!--<div class="inputs">-->
  <%= f.input :email, :required => true, :autofocus => true %>
  <%= f.input :password, :required => true %>
  <%= f.input :password_confirmation, label: 'Confirm Password', :required => true %>
  <%= f.association :roles, collection: applicable_user_roles, as: :check_boxes %>
<!--</div>-->


