<%= provide(:title, 'Edit User') %>

<div class="well well_height">

  <div class="row-fluid">
    <div class="smart_label"  >
      <h1>Edit <%= @my_user.first_name %> <%= @my_user.last_name %> Info:</h1>
    </div>
  </div>
  <br>

  <div class="sign-up">

  <div class="row-fluid">
      <%= simple_form_for @my_user, url: my_user_url(@my_user), :html => { :class => 'form-horizontal' } do |f| %>
        <% if f.object.errors.any? %>
            <div class="alert alert-block alert-error">
              <a class="close" data-dismiss="alert" href="#">×</a>
              <%= render 'shared/error_messages', object: f.object %>
            </div>
        <% end %>
          <%= render 'fields', f: f %>
        <br>
  </div>

          <div class="form-actions">
            <%= link_to 'Back', my_users_path, :class => 'btn btn-medium' %>
            <%= f.submit "Save Changes", class: "btn btn-medium btn-primary" %>
          </div>
      <% end %>

  </div>

</div>