<div class="well well_height">

  <div class="smart_label">
    <ul>
      <li><h1>My Employees</h1></li>
      <li>
        <%= form_tag my_users_path, id: "my_users_search_form", :method => :get, :remote => true do %>
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag "Search", :name => nil, class: 'btn btn-medium', :id => 'my_users-search-button' %>
        <% end %>
      </li>


      <li>
        <%= link_to 'New Employees', new_my_user_path, :class => 'btn btn-primary' %>
      </li>
    </ul>
  </div>

  <br>

  <% if @users.empty? %>
      <span class="alert alert-info">No records, click "New Employees" to add new contact</span>
  <% else %>

      <table class="table table-striped" id="users">
        <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Roles</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody id="new_my_users">
        <% @users.each do |user| %>
            <tr>
              <td><%= link_to "#{user.first_name} #{user.last_name}", my_user_path(user) %></td>
              <td><%= user.email %></td>
              <td class="roles_user_show" id="roles_user_index">
                <% for role in user.roles %>
                    <table>
                      <tbody>
                      <tr>
                        <span class="label label-info"><%= role.name %></span>
                      </tr>
                      </tbody>
                    </table>
                <% end %>
              </td>
              <td>
                <%= link_to t('.edit', :default => t("helpers.links.edit")),edit_my_user_path(user), :class => 'btn btn-mini' %>
                <%= link_to t('general.general.show'), my_user_path(user), :class => 'btn btn-mini btn-primary' %>

              </td>
            </tr>
        <% end %>
        </tbody>
      </table>



      <%= will_paginate @users, :class => 'pagination pagination-centered' %>
  <% end %>

</div>