<% provide(:title, I18n.t('general.general.new').html_safe + "&nbsp;".html_safe + @my_user.class.human_attribute_name(:my_user) ) %>


<div class="well well_height">

  <div class="row-fluid">
      <div class="smart_label"  >
        <h1><%= I18n.t('general.general.new_employee') %></h1>

      </div>
  </div>
  <br>

  <div class="sign-up">

  <div class="row-fluid">
      <%= simple_form_for @my_user, url: my_users_path, :html => {:class => 'form-horizontal' } do |f| %>
          <% if f.object.errors.any? %>
              <div class="alert alert-block alert-error">
                <a class="close" data-dismiss="alert" href="#">×</a>
                <%= render 'shared/error_messages', object: f.object %>
              </div>
          <% end %>
      <%= render 'new_fields', f: f %>
        <br>

 </div>
          <div class="form-actions">
            <%= link_to 'Back', my_users_path, :class => 'btn btn-medium' %>
            <%= f.submit "Create User", class: "btn btn-medium btn-primary", id: 'create_user_button' %>
         </div>
      <% end %>


</div>
</div>