<% unless @agreement.posting_rules.empty? %>
    <%  @agreement.posting_rules.each do |rule| %>
<div class="agreemnt_info">
  <ul data-role="listview">
    <li class="ui-li ui-li-static">
      <div class="ui-grid-a">
        <div class="ui-block-a"><%= PostingRule.human_attribute_name(:id) %></div>
        <div class="ui-block-b"><%= rule.id %></div>
      </div>
    </li>
    <li class="ui-li ui-li-static">
      <div class="ui-grid-a">
        <div class="ui-block-a"><%= PostingRule.human_attribute_name(:type) %> </div>
        <div class="ui-block-b"><%= rule.type %></div>
      </div>
    </li>
    <li class="ui-li ui-li-static">
      <div class="ui-grid-a">
        <div class="ui-block-a"><%= PostingRule.human_attribute_name(:rate) %> </div>
        <div class="ui-block-b"><%= rule.rate %></div>
      </div>
    </li>
    <li class="ui-li ui-li-static">
      <div class="ui-grid-a">
        <div class="ui-block-a"><%= PostingRule.human_attribute_name(:rate_type) %> </div>
        <div class="ui-block-b"><%= rule.rate_type.try(:humanize) %></div>
      </div>
    </li>
    <li class="ui-li ui-li-static">
      <div class="ui-grid-a">
        <div class="ui-block-a"><%= PostingRule.human_attribute_name(:created_at) %> </div>
        <div class="ui-block-b"><%= l rule.created_at, format: :short %></div>
      </div>
    </li>


  </ul>
  </div>
<% end %>
 <% end %>