<tr>
  <td><%= link_to agreement.human_status_name.titleize, agreement.becomes(Agreement) %></td>
  <td><%= agreement.organization.name %></td>
  <td><%= agreement.counterparty.name %></td>
  <td><%= agreement.name %></td>
  <td><%= agreement.description %></td>
  <td>
  </td>
<tr>
