<tr>
  <td><%= link_to agreement.human_status_name.titleize, agreement.becomes(Agreement) %></td>
  <% if current_user.organization.name == agreement.class.human_attribute_name(:organization) %>
      <td><%= agreement.class.human_attribute_name(:counterparty) %></td>
  <% else %>
      <td><%= agreement.class.human_attribute_name(:organization) %></td>
  <% end %>

  <!--<td><#%= agreement.organization.name %></td>-->
  <!--<td><#%= agreement.counterparty.name %></td>-->
  <td><%= agreement.name %></td>
  <!--<td><#%= agreement.description %></td>-->
  <td>
    <%= link_to I18n.t('general.general.show'), agreement.becomes(Agreement), :class => 'btn btn-mini btn-primary', :title => I18n.t('general.messages.show_agreement').html_safe, :rel => 'tooltip' %>

  </td>
<tr>
