<tr>
  <td><%= Agreement.human_attribute_name(:status) %></td>
  <td><%= agreement.human_status_name.titleize %></td>
</tr>
<tr>
  <td><%= Agreement.human_attribute_name(:name) %></td>
  <td><%= agreement.name %></td>
</tr>
<tr>
  <td><%= Agreement.human_attribute_name(:description) %></td>
  <td><%= agreement.description %></td>
</tr>

