<!--# == Schema Information-->
<!--#  id                :integer         not null, primary key-->
<!--#  name              :string(255)-->
<!--#  counterparty_id   :integer-->
<!--#  organization_id   :integer-->
<!--#  description       :text-->
<!--#  created_at        :datetime        not null-->
<!--#  updated_at        :datetime        not null-->
<!--#  status            :integer-->
<!--#  counterparty_type :string(255)-->
<!--#  type              :string(255)-->
<!--#  creator_id        :integer-->
<!--#  updater_id        :integer-->
<!--#-->

<% provide(:title, I18n.t('general.general.edit').html_safe + "&nbsp;".html_safe  + @agreement.id) %>


<div class="well well_height">

  <div class="row-fluid">
    <div class="span5">

      <div class="smart_label">
        <ul>
          <li><h1><%= I18n.t('general.general.agreement_id').html_safe + "&nbsp;".html_safe %><%= @agreement.id %></h1></li>
          <li></li>
        </ul>
      </div>

     <table class="table table-striped table-condensed">
    <tbody>
    <tr>
      <td><%= I18n.t('general.general.name') %></td>
      <td><h4><%= @agreement.name %></h4></td>
    </tr>
    <tr>
      <td><%= @agreement.class.human_attribute_name(:status) %></td>
      <td><h4><%= @agreement.human_status_name %></h4></td>
    </tr>
    <tr>
      <td><%= @agreement.class.human_attribute_name(:organization) %></td>
      <td><h4><%= @agreement.organization.name %></h4></td>
    </tr>
    <tr>
      <td><%= @agreement.class.human_attribute_name(:counterparty) %></td>
      <td><h4><%= @agreement.counterparty.name %></h4></td>
    </tr>
    <tr>
      <td><%= I18n.t('general.general.created_by') %></td>
      <td><h4><%= @agreement.creator.name %></h4></td>
    </tr>
    <tr>
      <td><%= I18n.t('general.general.created_at') %></td>
      <td><h4><%= l @agreement.created_at, :format => :long %></h4></td>
    </tr>
    <tr>
      <td><%= I18n.t('general.general.updated') %></td>
      <td><h4><%= l @agreement.updated_at,  :format => :long %></h4></td>
    </tr>

    </tbody>
  </table>

    </div>

    <div class="span7">
      <div class="smart_label">
        <ul>
          <li><h1><%= I18n.t('general.general.actions') %></h1></li>
          <li></li>
        </ul>
      </div>
     <br>
      <%= agreement_events(@agreement) %>

    </div>
</div>

  <br>
  <br>
  <br>
  <br>

<!--History-->
  <div class="row-fluid">

    <div class="smart_label">
      <ul>
        <li><h1><%= I18n.t('general.general.actions_history') %></h1></li>
        <li></li>
      </ul>
    </div>
    <br>

    <table class="table table-striped table-condensed">
      <thead>
      <tr>
        <th><%= Event.human_attribute_name(:name) %> </th>
        <th><%= Event.human_attribute_name(:description) %></th>
        <th><%= Event.human_attribute_name(:created_at) %></th>
        <th><%= Event.human_attribute_name(:creator) %></th>
      </tr>
      </thead>
      <tbody>
      <% @agreement.events.each do |event| %>
          <tr>
            <td>
              <%= event.name %>
            </td>
            <td>
              <%= event.description %>
            </td>
            <td>
              <%= l event.created_at, :format => :long %>
            </td>
            <td>
              <%= event.creator.name %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<!--End of Well-->
</div>

<!--Mark-->
<% @agreement.attributes.each do |key, value| %>
    <% if value.is_a?(Organization) %>
        <%= key.humanize %> : <%= value.name %> </br>
    <% else %>
        <%= key.humanize %> : <%= value %> </br>
    <% end %>
<% end %>

<strong><%= @agreement.class.human_attribute_name(:organization) %> </strong>: <%= @agreement.organization.name %>
<br>
<strong><%= @agreement.class.human_attribute_name(:counterparty) %></strong> : <%= @agreement.counterparty.name %>
<br>
<strong><%= @agreement.class.human_attribute_name(:status) %></strong> : <%= @agreement.human_status_name %>
<br>
<strong><%= @agreement.class.human_attribute_name(:creator) %></strong> : <%= @agreement.creator.name %>

<%= agreement_events(@agreement) %>
<div>
  <table class="table table-striped" id="event_log_in_service_call">
    <thead>
    <tr>
      <th><%= Event.human_attribute_name(:name) %> </th>
      <th><%= Event.human_attribute_name(:description) %></th>
      <th><%= Event.human_attribute_name(:created_at) %></th>
      <th><%= Event.human_attribute_name(:creator) %></th>
    </tr>
    </thead>
    <tbody>
    <% @agreement.events.each do |event| %>
        <tr>
          <td>
            <%= event.name %>
          </td>
          <td>
            <%= event.description %>
          </td>
          <td>
            <%= event.created_at %>
          </td>
          <td>
            <%= event.creator.name %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>


</div>

