<%= simple_form_for(appointment, :html => { :class => 'form-horizontal ajax-form' }, remote: true) do |f| %>
    <br>
    <%= f.error_notification %>



    <%= f.input :title %>
    <%= f.input :all_day %>
    <%= f.input :starts_at_date_text, input_html: {class: 'datepicker'} %>
    <%= f.input :starts_at_time_text , input_html: {class: 'timepicker'}%>
    <%= f.input :ends_at_date_text , input_html: {class: 'datepicker'} %>
    <%= f.input :ends_at_time_text  , input_html: {class: 'timepicker'}%>
    <%= f.input :description %>
    <%= f.input :appointable_id, :as => :hidden, :input_html => { :value => appointment.appointable.id } %>
    <%= f.input :appointable_type, :as => :hidden, :input_html => { :value => appointment.appointable.class } %>

    <div class="form-actions">

      <%= link_to I18n.t('general.general.back'), appointment.appointable, class: "btn btn-medium", id: 'back_from_appointment' %>
      <%= f.submit I18n.t('general.general.Save'), class: "btn btn-medium btn-primary ajax-btn", id: 'add_appointment' %>

      <div id="ajax-msg"></div>
    </div>

<% end %>

