<%= render 'shared/error_messages', object: f.object %>

<%= f.input :name, autofocus: true %>

<%= f.input :industry, collection: industry_options %>

<%= f.input :other_industry, required: true, wrapper_html: { class: 'hidden' } %>

<%= f.input :address1 %>

<%= f.input :address2 %>

<%= f.input :city %>

<%= f.input :zip %>

<div class="control-group string mandatory">
  <label class="string optional control-label" for="customer_country">Country</label>

  <div class="controls">
    <%= f.country_select :country, { priority: %w[US] }, id: "country" %>
  </div>
</div>

<div class="control-group string mandatory">
  <label class="string optional control-label" for="customer_state">State</label>

  <div class="controls">
    <%= render 'organizations/subregion_select', f: f %>
  </div>
</div>


<%= f.input :website, as: :url %>
<%= f.input :phone %>
<%= f.input :work_phone %>
<%= f.input :mobile %>
<%= f.input :email, required: true %>
<%= f.input :default_tax, as: :decimal %>
