<!--<#% material ||= Material.new %>

<div class="add_new_part">

  <#%= simple_form_for material, :html => { :class => 'form-horizontal' } do |f| %>
      <#%= f.error_notification %>
    -->
      <!--<#%= render 'fields', f: f %>-->

      <div class="customer_contacts">

        <div class="ui-grid-a">
          <div class="ui-block-a"><%= Material.human_attribute_name(:name) %></div>
          <div class="ui-block-b"><%= f.text_field :name %></div>
        </div>
        <div class="ui-grid-a">
          <div class="ui-block-a"><%= Material.human_attribute_name(:description) %></div>
          <div class="ui-block-b"><%= f.text_field :description %></div>
        </div>
        <div class="ui-grid-a">
          <div class="ui-block-a"><%= Material.human_attribute_name(:cost) %></div>
          <div class="ui-block-b"><%= f.text_field :cost %></div>
        </div>
        <div class="ui-grid-a">
          <div class="ui-block-a"><%= Material.human_attribute_name(:price) %></div>
          <div class="ui-block-b"><%= f.text_field :price %></div>
        </div>

      </div>


  <!--<#% end %>-->

<!--</div>-->