<div class="smart_label">
  <ul>
    <li><h1><%= @receipt.id %> <%= link_to @receipt.ticket.name, @receipt.ticket %></h1></li>
    <li></li>
  </ul>
</div>
<h1><%= @receipt.id %> <%= link_to @receipt.ticket.name, @receipt.ticket %></h1>
<%= @receipt.amount %>