<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">

    <div style="margin:0; padding-left: 20px; ">
      <%= link_to "SubConTraX", root_path, class: 'brand'  %>
    </div>

    <div class="container">
     <div class="nav-collapse">
      <!--<nav>-->

        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Organizations", organizations_path %></li>
          <li><%= link_to "Customers", organization_customers_path %></li>

          <% if user_signed_in? %>
              <li><%= link_to "Users" %></li>
              <li>
                <div class="btn-group">
                  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon-user"></i>
                    My Account
                    <span class="caret"></span>
                  </a>


                  <ul class="dropdown-menu">
                    <li><%= link_to "Profile" %></li>
                    <li><%= link_to "Settings" %></li>
                    <li class="divider"></li>
                    <li>
                      <%= link_to "Sign out",  destroy_user_session_path, method: "delete" %>
                    </li>
                  </ul>
                </div>

              </li>
          <% else %>
              <li><%= link_to "Sign in", new_user_session_path %></li>
          <% end %>
        </ul>
      <!--</nav>-->
     </div>
     </div>
  </div>
</header>
