<div class="container-fluid">
  <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </a>

  <!--<#%= link_to "SubConTraX", root_path, id: "logo", class: 'brand' %>-->


  <ul class="nav">
    <li>
      <% if user_signed_in? %>
          <%= link_to image_tag("LogoImg.png", alt: "MiYa"), url_for({ :controller => '/static_pages', :action => 'home' }) %>

      <% else %>
          <%= link_to image_tag("LogoImg.png", alt: "MiYa"), url_for({ :controller => '/static_pages', :action => 'index' }) %>
      <% end %>

    </li>
  </ul>


  <!--<ul class="nav">-->
  <!--<li>-->
  <!--<#%= image_tag("beta.png", alt: "MiYa") %>-->

  <!--</li>-->
  <!--<li></li>-->
  <!--</ul>-->


  <div class="nav-collapse ">
    <ul class="nav pull-right">
      <% if user_signed_in? %>


          <% unless current_user.confirmed? %>
              <li class="account_confirm_btn"><%= render 'shared/create_confirmation_button' %></li>
          <% end %>


          <li><%= link_to I18n.t('general.general.home'), user_root_path, id: "home_btn_header" %></li>
          <li><a href="#"><%= link_to I18n.t('general.general.alerts'), notifications_path, id: "alert_btn_header" %>
              <span class="label label-warning" id="notification-counter"><%= @notification_count %></span>
            </a>

          </li>

          <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle"><%= I18n.t('general.general.jobs') %> <b class="caret"></b></a>
            <ul class="dropdown-menu" id="menu1">
              <li><%= link_to I18n.t('general.general.jobs'), service_calls_path %></li>
              <li><%= link_to I18n.t('general.general.new_job'), new_service_call_path %></li>
              <li class="divider"></li>
              <li><%= link_to JobImport.model_name.human, new_job_imports_path %></a></li>
             </ul>
          </li>
          <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle"><%= I18n.t('general.general.my_network') %> <b class="caret"></b></a>
            <ul class="dropdown-menu" id="menu2">
              <li><%= link_to I18n.t('general.general.my_affiliates'), affiliates_path %></a></li>
              <li><%= link_to I18n.t('general.general.new_affiliate'), new_affiliate_path %></a></li>
              <li class="divider"></li>
              <li><%= link_to I18n.t('general.general.my_employees'), my_users_path %></a></li>
              <li><%= link_to I18n.t('general.general.new_employee'), new_my_user_path %></a></li>

            </ul>
          </li>
          <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle"><%= Customer.model_name.pluralize %><b class="caret"></b></a>
            <ul class="dropdown-menu" id="menu3">
              <li><%= link_to I18n.t('general.general.my_customers'), customers_path %></a></li>
              <li><%= link_to I18n.t('general.general.new_customer'), new_customer_path %></a></li>
            </ul>
          </li>
          <li><%= link_to I18n.t('general.general.billing'), accounting_entries_path %></li>
          <li><%= link_to I18n.t('general.general.parts'), materials_path %></li>
          <% permitted_to? :index, :organizations do %>
              <li><%= link_to Organization.model_name.pluralize, organizations_path %></li>
          <% end %>


          <li>
            <div class="dropdown" id="header_profile_btn">
              <a href="#" data-toggle="dropdown" class="btn dropdown-toggle">
                <i class="icon-user"></i> <%= current_user.name %>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" id="menu5">
                <!--<li class="login_info"><a><#%= current_user.name %></a></li>-->
                <li class="login_info"><a><%= current_user.email %></a></li>
                <li class="divider"></li>
                <li><%= link_to I18n.t('general.general.help'), welcome_path, id: 'help_link' %></li>
                <li class="divider"></li>
                <li><%= link_to I18n.t('general.general.profile'), profile_path, id: 'profile_header_link' %></li>
                <li><%= link_to Settings.model_name.human, settings_path, id: 'settings_link' %></li>

                <li class="divider"></li>

                <li><%= link_to I18n.t('general.general.support_tickets'), support_tickets_path %></li>
                <li><%= link_to I18n.t('general.general.contact_us'), contact_us_path %></li>
                <!--<li><#%= link_to I18n.t('general.general.miya_billing') %></li>-->
                <li class="divider"></li>
                <li>
                  <% if mobile_device? %>
                      <%= link_to "Full Site", :mobile => 0 %>
                  <% else %>
                      <%= link_to "Mobile Site", :mobile => 1 %>
                  <% end %>
                </li>


                <li>
                  <%= link_to I18n.t('general.general.sign_out'), destroy_user_session_path, method: "delete", id: "sign_out_header_link" %>
                </li>
              </ul>
      <% else %>
          <li>
            <%= link_to '<i class="icon-user icon-white"></i> Sign in'.html_safe, new_user_session_path, id: 'sign_in_header_link', class: 'btn btn-primary' %>

          </li>

      <% end %>
      </div>
      </li>

    </ul>
  </div>
  <!--/.nav-collapse -->

</div>

