<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <%= link_to "SubConTraX", root_path, id: "logo", class: 'brand' %>

      <div class="nav-collapse ">
        <ul class="nav pull-right">
          <% if user_signed_in? %>
              <li><%= link_to "Home", user_root_path %></li>
              <li><%= link_to "Service Calls", service_calls_path %></li>

              <% permitted_to? :index, :organizations do %>
                  <li><%= link_to "Organizations", organizations_path %></li>
              <% end %>
              <li><%= link_to "Affiliates", affiliates_path %></li>
              <li><%= link_to "Employees", my_users_path %></li>
              <li><%= link_to "Customers", customers_path %></li>
              <li><%= link_to "Providers", providers_path %></li>
              <li><%= link_to "Subcontractors", subcontractors_path %></li>


              <li>
                <div class="btn-group">
                  <a href="#" data-toggle="dropdown" class="btn dropdown-toggle">
                    <i class="icon-user"></i> My Account
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a><%= current_user.email %></a></li>
                    <li class="divider"></li>
                    <li><%= link_to "Profile", profile_path, id: 'profile_header_link' %></li>
                    <li><%= link_to "Settings" %></li>
                    <li class="divider"></li>
                    <li>
                      <%= link_to "Sign out", destroy_user_session_path, method: "delete", id: "sign_out_header_link"
                      %>
                    </li>
                  </ul>
          <% else %>
              <li><%= link_to "Sign in", new_user_session_path, id: 'sign_in_header_link' %></li>
          <% end %>
          </div>
          </li>

        </ul>
      </div>
      <!--/.nav-collapse -->

    </div>
  </div>
</div>