<div class="sidebar-nav-fixed">
<div class="well sidebar-nav">

  <ul class="nav nav-list">

    <li class="nav-header">
      <i class="icon-envelope"></i>
      Job Alerts:
    </li>
    <!--<li>-->
      <!--<a href="#">Transferred-->
        <!--<span class="label label-important">1</span>-->
      <!--</a>-->
    <!--</li>-->
    <li class="alerts_sidebar">
      <a href="#"><%= link_to 'Incoming', notifications_path %>
        <span class="label label-warning" id="notification-counter"><%= @notification_count %></span>
      </a>
    </li>

    <li class="nav-header"><i class="icon-folder-open"></i> <%= I18n.t('general.general.jobs') %></li>
    <li><%= link_to I18n.t('general.general.new_job'), new_service_call_path %></li>
    <li><%= link_to I18n.t('general.general.open_jobs'), service_calls_path %></li>

    <li class="nav-header"><i class="icon-user"></i> New Contact</li>
    <li><%= link_to I18n.t('general.general.new_affiliate') , new_affiliate_path %></li>
    <li><%= link_to 'New Customer', new_customer_path %></li>
    <li><%= link_to 'New Employee', new_my_user_path %></li>

    <li class="nav-header"><i class="icon-signal"></i> <%= I18n.t('general.general.billing') %></li>
    <li><%= link_to AccountingEntry.name.tableize.humanize , accounting_entries_path %></li>
  </ul>


</div>

<!--<div class="alert alert-info promotion">-->

  <!--<ul class="unstyled">-->
    <!--<li>-->
      <!--<p>-->

      <!--<h2>PROMO</h2>-->
      <!--<small>Invite a user and get...</small>-->
      <!--</p>    </li>-->
    <!--<li><a href="#">Click for more info</a></li>-->
    <!--<li><br></li>-->
    <!--&lt;!&ndash;<div class="form-horizontal">&ndash;&gt;-->
    <!--<li><input type="text" placeholder="Name" class="input-medium" size="50"></li>-->
    <!--<li><input type="text" placeholder="Email" class="input-medium"></li>-->
    <!--<li><input type="text" placeholder="Phone" class="input-medium"></li>-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--<li><a class="btn btn-primary" href="">Send Invite</a></li>-->

  <!--</ul>-->
<!--</div>-->

  <div class="promotion_beta">

    <%= image_tag("closedBeta.png", alt: "MiYa") %>

  </div>




  </div>
<!--<ul class="unstyled">-->
<!--<li>-->
<!--<a class="thumbnail" href="#">-->
<!--<img alt="" src="http://placehold.it/250x250">-->
<!--</a>-->
<!--</li>-->
<!--</ul>-->