<!DOCTYPE html>
<html>
<head>
  <title>SubConTrax.com</title>

  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<% unless user_signed_in? %>

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="large_header">
                <%= render 'layouts/header' %>
            </div>
        </div>
    </div>

<% else %>

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
           <%= render 'layouts/header' %>
        </div>
    </div>
<% end %>

<% if user_signed_in? %>
    <div class="container-fluid">
      <div class="row-fluid">

        <div class="span2">
          <%= render 'layouts/sidebar' %>
        </div>

        <div class="span10">

             <% flash.each do |key, value| %>
              <div class="smart_alert">
                <a class="close" data-dismiss="alert" href="#">×</a>
                <%= content_tag(:div, value, class: "alert alert-#{key}") %>
              </div>
          <% end %>

             <%= yield %>

        </div>

      </div>
    </div>

<% else %>
    <div class="container-fluid">
      <% flash.each do |key, value| %>
          <div class="smart_alert">
            <a class="close" data-dismiss="alert" href="#">×</a>
            <%= content_tag(:div, value, class: "alert alert-#{key}") %>
          </div>
      <% end %>
      <%= yield %>
    </div>
<% end %>


<%= render 'layouts/footer' %>

</body>
</html>



