<!DOCTYPE html>
<html>
<head>
  <title><%= h(yield(:title) || "Untitled") %></title>

  <meta name="viewport" content="width=device-width, initial-scale=1 minimum-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag "mobile", media: :all %>

  <%= javascript_include_tag "mobile" %>

  <%= csrf_meta_tag %>
  <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
  <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">

  <!-- For the iPad mini and the first- and second-generation iPad on iOS ≤ 6: -->
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72-precomposed.png">

  <!-- For the iPad mini and the first- and second-generation iPad on iOS ≥ 7: -->
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="apple-touch-icon-76x76-precomposed.png">

  <!-- For iPhone with high-resolution Retina display running iOS ≤ 6: -->
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114-precomposed.png">

  <!-- For iPhone with high-resolution Retina display running iOS ≥ 7: -->
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="apple-touch-icon-120x120-precomposed.png">

  <!-- For iPad with high-resolution Retina display running iOS ≤ 6: -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144-precomposed.png">

  <!-- For iPad with high-resolution Retina display running iOS ≥ 7: -->
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="apple-touch-icon-152x152-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="180x180" href="apple-touch-icon-180x180-precomposed.png">

  <!-- Chrome v31+ for Android -->
  <link rel="icon" sizes="192x192" href="apple-touch-icon.png">

</head>
<body>
<div data-role="page" data-theme="d" data-content-theme="d" data-url="<%= request.path %>" id="<%= request.path.gsub(/\d/, '_').gsub('/','')%>">

  <!--<div data-role="panel" id="panel_page" data-position="right" data-display="overlay">-->
  <!--&lt;!&ndash; panel content goes here &ndash;&gt;-->
  <!--Hello!-->
  <!--</div>-->

  <div data-role="header">
    <%= render 'layouts/header' %>
  </div>

  <div data-role="content" class="ui-responsive-panel">

    <% unless flash.empty? %>
        <div class="info">
          <%- flash.each do |name, msg| -%>
              <%= content_tag :div, msg, :id => "flash_#{name}" %>
          <%- end -%>
        </div>
    <% end %>

    <%= yield %>

  </div>

  <footer data-role="footer" data-position="fixed">
    <%= render 'layouts/footer' %>
  </footer>


</div>

<!-- Start of second page -->
<div data-role="page" id="more" data-theme="d" data-content-theme="d">

  <div data-role="popup" id="betaPopup" data-overlay-theme="a" data-theme="c" data-dismissible="false"  class="ui-corner-all">

    <div data-role="header" data-theme="a" class="ui-corner-top">
      <h1>BETA VERSION</h1>
    </div>

    <div data-role="content" data-theme="d" class="ui-corner-bottom ui-content">
      <br><h3 class="ui-title">This action can't be completed </h3>
      <p>Please log into to your SubConTraX account from your PC to complete this action.</p>
      <!--  <a href="#" data-role="button" data-inline="true" data-rel="back" data-theme="c">Cancel</a>-->
      <a href="#" data-role="button" data-inline="true" data-rel="back" data-transition="flow" data-theme="b">Close</a>
    </div>
    <!--end of beta popup-->
  </div>

  <div data-role="header" id="full_site_btn">

    <div class="miya_logo">
      <img src="/assets/logo2.png" alt="MiYa"/>
    </div>
    <h1></h1>
        <% if mobile_device? %>
        <%= link_to I18n.t('general.general.full_site'), :mobile => 0, "data-role" => "button", "data-mini" => "true", :class => "ui-btn-right ui-btn ui-shadow ui-btn-corner-all ui-btn-up-b", id: "sss" %>


  <% else %>
            <%= link_to "Mobile Site", :mobile => 1 %>
        <% end %>

  </div>
  <!-- /header -->

  <div data-role="content">
    <% provide(:title, I18n.t('general.general.menu')) %>

    <br>
    <!--First line of icons-->
    <div class="icon_grid">
      <div class="ui-grid-b">
        <div class="ui-block-a white icon_frame">
          <%= link_to image_tag("/assets/projects.png", :border => 0), projects_path %>
          <div><%= I18n.t('general.general.projects') %></div>
        </div>
        <div class="ui-block-b white icon_frame">
          <%= link_to image_tag("/assets/customer.png", :border => 0), customers_path %>
          <div><%= I18n.t('general.general.customers') %></div>
        </div>
        <div class="ui-block-b white icon_frame">
          <%= link_to image_tag("/assets/employees.png", :border => 0), my_users_path %>
          <div><%= I18n.t('general.general.employees') %></div>
        </div>
      </div>
    </div>

    <!--Second line of icons-->
    <div class="icon_grid">
      <div class="ui-grid-b">
        <div class="ui-block-a white icon_frame">
          <!--<img src="/assets/balance.png" alt="MiYa"/>-->
          <%= link_to image_tag("/assets/balance.png", :border => 0), accounting_entries_path %>
          <div><%= I18n.t('general.general.balance') %></div>
        </div>
        <div class="ui-block-b white icon_frame">
          <%= link_to image_tag("/assets/alerts.png", :border => 0), notifications_path %>
          <div><%= I18n.t('general.general.alerts') %></div>
        </div>
        <div class="ui-block-c white icon_frame">
          <%= link_to image_tag("/assets/parts.png", :border => 0), materials_path %>
          <div><%= I18n.t('general.general.manage_parts') %></div>
        </div>
        <!--<div class="ui-block-c white icon_frame">-->
          <!--&lt;!&ndash;<#%= link_to image_tag("/assets/profile.png", :border => 0), edit_user_registration_path %>&ndash;&gt;-->
          <!--<#%= link_to image_tag("/assets/profile.png", :border => 0),  "#betaPopup", "data-rel" => "popup", "data-transition" => "pop" %>-->

          <!--<div><#%= I18n.t('general.general.my_profile') %></div>-->
        <!--</div>-->

      </div>
    </div>

    <!--Third line of icons-->
    <div class="icon_grid">
      <div class="ui-grid-b">
        <div class="ui-block-a white icon_frame">
          <!--<img src="/assets/settings.png" alt="MiYa"/>-->
          <%= link_to image_tag("/assets/settings.png", :border => 0),  "#betaPopup", "data-rel" => "popup", "data-transition" => "pop" %>
          <div><%= I18n.t('general.general.preferences') %></div>
        </div>

        <div class="ui-block-b white icon_frame">
          <!--<img src="/assets/support.png" alt="MiYa"/>-->
          <%= link_to image_tag("/assets/support.png", :border => 0),  "#betaPopup", "data-rel" => "popup", "data-transition" => "pop" %>
          <div><%= I18n.t('general.general.contact_us') %></div>
        </div>

        <div class="ui-block-c white icon_frame">
          <%= link_to image_tag("/assets/out.png", :border => 0), destroy_user_session_path, method: :delete %>
          <div><%= I18n.t('general.general.sign_out') %></div>
        </div>
      </div>
    </div>


  </div>
  <!-- /content -->

  <footer data-role="footer" data-position="fixed">
    <div data-role="navbar">
          <ul>
            <li class="footer_image">
              <%= link_to user_root_path, class: "ui-btn ui-btn-inline ui-btn-up-b text_footer", "data-icon" => "home2", "data-corners" => "false", "data-shadow" => "false", "data-iconshadow" => "true", "data-wrapperels" => "span", "data-theme" => "a", "data-inline" => "true" do %>
                  <span>Home</span><% end %>
            </li>
            <li class="footer_image">
              <%= link_to service_calls_path, class: "ui-btn ui-btn-inline ui-btn-up-b text_footer", "data-icon" => "star2", "data-corners" => "false", "data-shadow" => "false", "data-iconshadow" => "true", "data-wrapperels" => "span", "data-theme" => "a", "data-inline" => "true" do %>
                  <span>Jobs</span><% end %>
            </li>
            <li class="footer_image">
              <%= link_to affiliates_path, class: "ui-btn ui-btn-inline ui-btn-up-b", "data-icon" => "grid2", "data-corners" => "false", "data-shadow" => "false", "data-iconshadow" => "true", "data-wrapperels" => "span", "data-theme" => "a", "data-inline" => "true" do %>
                  <span>Network</span><% end %>
            </li>
            <li class="footer_image">
             <a href="#more" class="ui-btn ui-btn-inline ui-btn-up-b" data-icon="gear2" data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="span" data-theme="a" data-inline="true" >Menu</a>
            </li>
          </ul>
     </div>
  </footer>
  <!-- /footer -->
</div>
<!-- /page -->

<div data-role="page" id="mainPage" data-theme="d" data-content-theme="d">

  <div data-role="header">
    <h1>Test</h1>
  </div>
  <!-- /header -->


  <div data-role="content">
    <input type="text" id="searchField" placeholder="Search">
    <ul id="suggestions" data-role="listview" data-inset="true"></ul>
  </div>
  <!-- /content -->

  <div data-role="footer">
    <h4>Page Footer</h4>
  </div>
  <!-- /footer -->
</div>
<!-- /page -->
</body>

<script>
</script>


</body>
</html>